[2017-09-11 20:02] samtstern commented on #902
@kmcnellis can you tell us more about the features you're trying to implement on top of `FirebaseArray`?  We are working (as @Eragon29 pointed out) to get some of this visibility stuff ironed out for `3.0`.

[2017-09-11 20:11] SUPERCILEX commented on #902
@kmcnellis Yeah, I'm actually leaning towards completely preventing inheritance. @samtstern convinced me to not make the Firebase arrays final for testing and mockability's sake, but all the methods are private and final where possible. I can't think of any scenario where using a wrapper couldn't do a better job.

Since you're asking about `getIndexForKey`, I'm guessing you're looking for custom s

[2017-09-11 20:23] SUPERCILEX commented on #797
@samtstern this issue can probably be closed since we don't plan on supporting `FirebaseAdapter` as part of the public api.

@wwolters In FirebaseUI `v2.2.0` we added support for Android Architecture components. I've attached our implementation below, but this should solve your problem by completely removing the need for the client to (un)subscribe from the adapter.
https://github.com/firebase/Fir

[2017-09-11 20:26] SUPERCILEX commented on #720
@samtstern I believe this issue can be closed since from the url it looks like a delete account was attempted with a 5min+ old token:
`v3/relyingparty/**deleteAccount**?key=...`
`CREDENTIAL_TOO_OLD_LOGIN_AGAIN`

[2017-09-11 20:28] samtstern commented on #720
Closing due to being stale and @SUPERCILEX 's comment is probably right. Thanks!

[2017-09-11 20:28] #720 closed

[2017-09-11 20:29] SUPERCILEX commented on #642
@samtstern Do you think #679 is enough? Also, this should become less relevant in FirebaseUI `v3.0`. 😉

[2017-09-11 20:29] samtstern commented on #797
@SUPERCILEX I agree, we don't intend for `FirebaseAdapter` to be part of the public API.  It's not consumed anywhere and is simple enough to replicate.

[2017-09-11 20:29] #797 closed

[2017-09-11 20:32] samtstern commented on #642
I have not seen any confusion about this issue, although puf does offer evidence from the original developer feedback sessions on FirebaseUI.

My theory is that over time `Query` has become a more essential piece of the puzzle for RTDB developers and most of them have heard of it before they get here.  So I am inclined to close this issue (with your doc comments) but I'll give @puf a final chance

[2017-09-11 20:40] SUPERCILEX commented on #441
@samtstern I really don't like our original assumption that values can't be `null`, it's caused so many bugs, performance problems, etc.

What if for `v3.0` we just added `DataSnapshot`s with null values anyway? Then devs would simply have to deal with it in `parseSnapshot` or when binding their views to the model. They could choose whether or not to always create empty objects in their `parseSnap

[2017-09-11 20:53] SUPERCILEX commented on #800
@juan-pablo-giron I don't think this is possible because of how the Facebook SDK works: we don't choose what method Facebook picks to authenticate the user, and it seems like they default to the app if it's installed. I'm guessing you could sign out of Facebook in the app and then it would work? Basically, I don't think Facebook expects users to have several different accounts.

@samtstern I belie

[2017-09-11 21:06] puf commented on #642
I chatted to Sam about this offline. We haven't seen as much confusion in practice as in the initial API feedback tests. I still have a preference to be able to pass in either a `Query` or a `DatabaseReference`, but I'm also fine leaving it out for now.

[2017-09-11 21:06] #642 closed

[2017-09-12 15:39] samtstern commented on #800
I believe @SUPERCILEX is correct, which is unfortunate but there's nothing we can do on our side.

[2017-09-12 15:39] #800 closed

[2017-09-12 18:18] asfalcone opened #904 "Would like to remove io.fabric.apikey override from auth manifest"
In Nov 2016 an [override to the Fabric apikey](https://github.com/firebase/FirebaseUI-Android/pull/396/files/ec40c413ced3268dadd9fda933a8ca4d2eef5182#diff-72b30eb5e208275c795ce7e9fb7275ae) was added to get around a Twitter auth issue.

Twitter auth is no longer part of Fabric and the override of this key to the string value causes issues with the Fabric SDK (namely that it cannot start up because

[2017-09-12 18:22] samtstern commented on #904
@asfalcone thanks for the tip?  Do we just need to remove those lines from the `AndroidManifest.xml` or is there more to it?  If so I am happy to do it or you can send a PR to the `version-2.3.1-dev` branch.

[2017-09-12 18:25] asfalcone commented on #904
I'll send a PR. Just wanted an open issue to reference in the PR 👍

[2017-09-13 03:56] qiuuu commented on #133
I solved same problem through adding google service in genymotion.

[2017-09-13 07:17] SirSaunders opened #907 "Support Library 26.0.2"
I am currently using 26.0.2 , unfortunately  that conflicts with your support library in constants.gradle which is currently 26.0.1.

[2017-09-13 12:03] philjoseph commented on #644
We've hit the same weird behavior using oauth with LinkedIn.
Even after reading @ahaverty comment on #688 I am still under the impression this is a security issue for a user. I will detail the user flow:

- User A is borrowing user B device for a one-time session
- User A is installing my App, authenticating using his LinkedIn oauth
- User A is uninstalling my App consciously.
==> User A expectati

[2017-09-13 12:58] Soumya7391 opened #908 "AuthUIActivity is not moving to another activity after sign-in"
Hi,

I have used this UI code for my app. Authenticating through phone number. Its verifying the phone-number, but after verifiying its not redirecting to the actual screen(which has to be displayed in my app after login).
What has to be changed? Kindly help.

[2017-09-13 15:08] samtstern commented on #907
@SirSaunders please see this section of the README:
https://github.com/firebase/FirebaseUI-Android#upgrading-dependencies

[2017-09-13 15:08] #907 closed

[2017-09-13 16:18] samtstern commented on #908
@Soumya7391 there is not enough information here to debug, please present code/screenshots that demonstrate the problem you are having.

[2017-09-13 18:22] ktraghuram opened #909 "Unable to set gravity of FirebaseUI.WrapperStyle elements to center"
Respected programmers,

    I am a beginner and i am trying to develop an app with the help of FirebaseUI and android studio 2.3.3.  I seek your apologies for improper terminology that i may have used in expressing the problem.

    I implemented signing in method with the help of AuthUI.getInstance()....and tried to modify the style of FirebaseUI like below:

<style name="FirebaseUI" parent="Them

[2017-09-13 18:55] samtstern commented on #909
@ktraghuram can you show a screenshot of what it looks like for you and then describe how you'd like to change it?

We generally don't support these kinds of UI customizations, but I want to better understand your request.

[2017-09-13 19:10] 100rabhkr commented on #229
Hello can anyone tell me how can I change background colour and shape of gmail and phone auth button. Thank you

[2017-09-14 02:01] ktraghuram commented on #909
Sir,
 i have included the images of changed and unchanged layouts for your reference.

The first image resulted by putting layout gravity to center in "FirebaseUI" style.

The second image shows no change when i included the line layout_gravity:"center" into the style  "FirebaseUI.WrapperStyle". But increasing and decreasing of "padding top" shows immediate change in the layout.

Could you kindly

[2017-09-14 13:30] onurtekin commented on #301
@samtstern in this case "link credential" does not work, don't even give any error. You end up with no "currentUser".

[2017-09-14 15:36] charlag opened #910 "There's no way to color phone field hint"
When using phone authentication there's no way to change color of the phone field hint.
From the sources:
[code]
`android:textColorHint` is not present and thus is not connected to any color.

  * Android device: Xiaomi Mi5S
  * Android OS version: 7.1.2
  * Firebase/Play Services SDK version: 11.0.4
  * FirebaseUI version: 2.3.0

[2017-09-14 16:52] samtstern commented on #909
I now see what you're trying to do.  Unfortunately we can't support this level of customization.  It's not possible for us to design a UI that works across devices if each developer is overriding element positioning.

If you are really concerned about this you could try overriding the entire XML file but remember that resource IDs are not considered part of the API and future updates will almost c

[2017-09-14 16:52] #909 closed

[2017-09-14 17:00] ktraghuram commented on #909
Thank you very much for the suggestion sir.

[2017-09-15 02:21] SUPERCILEX commented on #301
@onurtekin If you're looking for automatic account merging, take a look at https://github.com/firebase/FirebaseUI-Android/issues/123#issuecomment-316268664 and https://github.com/firebase/FirebaseUI-Android/issues/123#issuecomment-317343123.

[2017-09-15 02:41] SUPERCILEX commented on #910
@charlag Why would you want to _only_ change the hint text color? If you want to change the entire look and feel of the sign-in experience, make sure to use AppCompat and [define a `colorPrimary` and `colorAccent`](https://github.com/firebase/FirebaseUI-Android/tree/master/auth#ui-customization).

[2017-09-15 07:27] charlag commented on #910
@SUPERCILEX the problem is that our login flow screens have a dark background and if the background is black the hint is simply not visible.

[2017-09-15 13:48] onurtekin commented on #301
@SUPERCILEX Actually i don't use Firebase-UI. I have encountered this issue on my IOS app. This is a fresh topic and i couldn't find any IOS topic related to this issue.

In my case i try to handle returning users.
1. User registers with a provider other than Facebook.
2. User signs out, uninstalls/updates the app or credentials times out.
3. User comes back, could not remember the provider and th

[2017-09-15 21:06] SUPERCILEX commented on #910
@charlag is your entire app dark themed? If so, you should be using [AppCompat's `DayNight` theme](https://medium.com/@chrisbanes/appcompat-v23-2-daynight-d10f90c83e94) which FirebaseUI fully supports. Otherwise, I believe this example dark theme works:
https://github.com/firebase/FirebaseUI-Android/blob/9dc4c120f33d4f4acc42b2a0c2195e130e8b1076/app/src/main/res/values-v21/styles.xml#L17-L31

[2017-09-16 12:48] shipcake opened #912 "how to get uniqueID match position for delete by Onclick Recyclerview"
hi, i find solution and try to get the position for Recyclerview by Onclick Event. How to match uniqueID at firebase by position.
ps.getadapterposition return value 0,1,2,3... not match uniqueID at firebase

`
    private DatabaseReference databaseReference;
    FirebaseRecyclerAdapter<data_phone,ViewHolder> firebaseRecyclerAdapter;
    private RecyclerView recyclerView;

    @Override
    protect

[2017-09-16 15:47] SUPERCILEX commented on #912
@shipcake use `FirebaseRecyclerAdapter#getRef(int)`:
[code]

[2017-09-17 05:55] ashfaaaa opened #913 "firbaseui recyclerview in fragment. No adapter attached; skipping layout. going crazy"
I have an activity that hosts a TabLayout with 3 tabs. I am trying to load a recyclerview on first fragment data from Firebase database. but when I run app recycler view shows as a still image cant scroll or top on it. This works fine when I try it on MainActivity but not in the fragment.
in a log I get the error No adapter attached; skipping layout. going on crazy with this.. looked everywhere co

[2017-09-17 09:29] yishai-glide opened #914 "Exception java.lang.IllegalStateException: Can not perform this action after onSaveInstanceState in `CompletableProgressDialog`"
* Android device: SM-J327P, E2115, vivo 1609, VS425PP
  * Android OS version: 19, 22,23, 24
  * Firebase/Play Services SDK version: 11.0.4
  * FirebaseUI version: 2.3.0

### Step 3: Describe the problem:
While monitoring our latest release, we've seen a crash that has originated from users in the wilde via Firebase Crash reporting.

seems like #817 is still hapening

#### Observed Results:

[code]

[2017-09-17 16:53] Edge-Developer commented on #46
thank you so much @puf

[2017-09-18 00:22] TheCraftKid commented on #913
I'd advise initializing your adapter in your fragment's `onCreateView()` method. You don't have to wait until `onStart()` to do this because the `FirebaseRecyclerAdapter` will automatically update the view as the data loads. [Here's](https://stackoverflow.com/questions/29141729/recyclerview-no-adapter-attached-skipping-layout) a related StackOverflow question.

As this isn't strictly related to th

[2017-09-18 15:44] samtstern commented on #913
Thanks @TheCraftKid.

@ashfaaaa I am going to close this issue because it is better asked on StackOverflow.  There's a **lot** of code provided here but not enough evidence to show that this is an issue in the FirebaseUI library and not just a general issue in your app.  When you need help troubleshooting (which is fine!) StackOverflow is a much better forum than Github.

[2017-09-18 15:44] #913 closed

[2017-09-18 16:58] Eragon29 commented on #312
Hm, was this suggestion about the automated verification email, or more like if you have no invite, you can’t create an account?

[2017-09-18 17:18] samtstern commented on #312
@Eragon29 I think the suggestion to to help with the entire flow:

  * If a user tries to sign in but has an unverified email, send them the verification and show some "please check your email screen"
  * When the user has verified and returns to the app, we should detect verification and allow them to proceed.

[2017-09-18 17:19] samtstern commented on #912
Thanks @SUPERCILEX

[2017-09-18 17:19] #912 closed

[2017-09-18 17:24] Eragon29 commented on #312
@samtstern
Too bad
Would be nice to have a way to manually verify emails. But it’s probably not that important and there are ways to work around this “issue”

[2017-09-19 18:35] tactoth opened #915 "!High chance: Exception java.lang.NullPointerException: Activity must not be null"
Welcome to FirebaseUI and thanks for submitting an issue!

Please take a look at [open issues](https://github.com/firebase/FirebaseUI-Android/issues?q=is%3Aopen+is%3Aissue), as well as [resolved issues](https://github.com/firebase/FirebaseUI-Android/issues?q=is%3Aissue+is%3Aclosed), to see if your issue is either already being addressed, or has been solved by someone else.

If not, please feel fre

[2017-09-19 19:00] SUPERCILEX commented on #915
Can you show a stack trace with FirebaseUI code? We're probably getting a null activity from a fragment somewhere.

[2017-09-19 19:07] tactoth commented on #915
It seems to be an issue within the firebase-auth, there's no callstack involves firebase-auth-ui.

This is one of the event streams I've taken from one crash instance:

10:04:18.452 PM | gmp_nav20_crash | Fatal
-- | -- | --
arrow_drop_down | 10:04:10.569 PM | gmp_nav20_analytics | upgrade_for_free
 
arrow_drop_down | 10:04:10.453 PM | gmp_nav20_analytics | show_invite_dialog
 
arrow_drop_down | 10

[2017-09-19 19:08] tactoth commented on #915
It seems to be the crash is specifically about using Facebook Login

[2017-09-19 23:41] samtstern commented on #320
I no longer plan to do this, helper methods are just as good.

[2017-09-19 23:41] #320 closed

[2017-09-19 23:43] samtstern commented on #684
This is a very old issue and I believe it has been addressed by other fixes (namely what happens if we can't get the facebook email).  Closing it, but if anyone experiences this they should re-open it.

[2017-09-19 23:43] #684 closed

[2017-09-19 23:45] samtstern commented on #699
I believe this is a duplicate of #904 which was fixed by #905

[2017-09-19 23:45] #699 closed

[2017-09-19 23:46] samtstern commented on #875
Thanks everyone for the discussion, I think we will stay with a single version for now.

[2017-09-19 23:46] #875 closed

[2017-09-19 23:49] samtstern commented on #229
I am going to close this issue since I don't think a "fix" will ever come.  We may add more theme options but we will never allow a total XML override since quality control would be impossible.

Thank you to everyone who has participated int this thread.  You have taught each other (and me) a lot about how far customization can be pushed!  Even though this issue will be "closed" feel free to keep

[2017-09-19 23:49] #229 closed

[2017-09-19 23:58] samtstern commented on #856
@SUPERCILEX did you have an idea for how to fix this in the short term without that big refactor?  Or should I take a stab?

[2017-09-20 02:19] SUPERCILEX commented on #856
@samtstern Nope, I just really want to get rid of retained fragments. 😄 If you can come up with a quick fix though, that would be cool!

[2017-09-21 00:52] jhuleatt opened #916 "[Feature Request] Allow set default country code for phone auth"
### Step 3: Describe the problem:

In [PhoneNumberUtils.java](https://github.com/firebase/FirebaseUI-Android/blob/f4494c4a5fcafc8b32351edcb02ed2834c6a32b4/auth/src/main/java/com/firebase/ui/auth/ui/phone/PhoneNumberUtils.java#L36), the default country code and locale are hardcoded as US.

It does appear that the locale is [automatically set](https://github.com/firebase/FirebaseUI-Android/blob/f449

[2017-09-21 07:42] Soumya7391 commented on #908
@samtstern I resolved it. Now when I generate the apk and install it in other devices, I am getting error of verification.It says "This app is not authorized to use Firebase Authentication. please verify that the correct package name and SHA-1 are configured in the Firebase Console.[App validation failed]"
I have entered the SHA-1 and also package name is correct.

[2017-09-21 14:11] vasiledoe commented on #498
OMG finaly I **solved it**, so I created SHA1 as per documention, but I run my app in debug mode (Build variant) and always had resultCode=0. Just switched to release mode and problem is gone, now resultCode=-1 as expected.

[2017-09-21 20:58] samtstern commented on #908
@Soumya7391 debug and release builds have different SHA1s, make sure you have them all entered on the project you are using.

If you are getting that error message it is certain that you have entered the wrong SHA in the Firebase console or are using the wrong Firebase project

[2017-09-21 20:58] #908 closed

[2017-09-22 05:28] Soumya7391 commented on #908
@samtstern I checked, the key is correct. Any other issue?

[2017-09-22 07:55] localhostEU commented on #779
Happens only on Lenovo devices.
Bug migrated from Digits.

If anyone have a Lenovo device - let's fix this!

[2017-09-22 10:26] prik2693 commented on #301
Hi I m using firebase auth for my web application.
After enabling multiple account for same email,if i login with google with an email id and then try login with email (with the same email id),i get password as provider instead of gmail.Can anyone help me resolving the issue?

[2017-09-22 10:59] andriiaveiro opened #917 "FirebaseRecyclerAdapter pending or sent status"
hey, i'm already try to search this question in stack overflow and github but i dont get the answer.

i'm using FirebaseRecyclerAdapter with setPersistenceEnabled, all work great, but i want to know when my data in cache data phone or already sent to server, because when i call set or update with offline data, my data populate in recyclerview but not in server (wait for online to sent), i want kno

[2017-09-22 15:25] samtstern commented on #908
@Soumya7391 could you please contact [Firebase support](https://firebase.google.com/support/) for help debugging your project?

[2017-09-22 15:29] samtstern commented on #917
@andriiaveiro if you use `setValue()` with `CompletionListener` the listener will only fire when the write has been acknowledged by the server:
https://firebase.google.com/docs/reference/android/com/google/firebase/database/DatabaseReference.html#setValue(java.lang.Object, com.google.firebase.database.DatabaseReference.CompletionListener)

I am closing this issue since this is not a FirebaseUI iss

[2017-09-22 15:29] #917 closed

[2017-09-22 15:57] andriiaveiro commented on #917
thank for your advice

i setvalue message_status to pending first but in complete listener im update to sent :)

[2017-09-22 22:28] thelong1EU opened #918 "Fatal Exception: java.lang.NullPointerException: Activity must not be null"
Hi!
I'm getting this error from my users through Fabric Crashlitics. Do you have any ideas why the Activity might be null?

[code]

[2017-09-22 22:37] SUPERCILEX commented on #918
@thelong1EU Ahhhh yes. Duplicate of #856. It's quite a painful bug, but we're working on it. 😄

[2017-09-22 22:43] thelong1EU commented on #918
Sorry. Thanks for your work: :beers:

[2017-09-22 22:43] #918 closed

[2017-09-25 05:27] Soumya7391 commented on #908
Hey @samtstern I could solve it. Thank you so much .

[2017-09-25 19:15] bagintz opened #920 "FirebaseRecyclerAdapter with Multiple Queries"
I have 2+ queries that pull from the same source that I would like to appear in my FirebaseRecyclerAdapter.  I have been banging my head against this particular issue for a bit and I wanted to ask if I was missing something or if the FirebaseRecyclerAdapter only works with single queries.

I know I can roll my own if I need to, but I really like this implementation :)

[2017-09-25 19:26] SUPERCILEX commented on #920
You could create several `FirebaseArray`s and forward those events to your own custom `ObservableSnapshotArray` which you can then pass into the adapter. Not really sure what you're trying to do though...

[2017-09-25 19:33] bagintz commented on #920
I think that is what I am doing.  Essentially, I have, in RTDB, this structure:

chats {
"uid1": [chat1],
"uid2": [chat2],
"uid3": [chat3],
"uid4": [chat4]
}

and then

users {
"user1": {
"chats": {
 "uid1" : "active".
 "uid2" : "pending",
 "uid4" : "archived"
}
}
}

And I want to get all the chats that are active or pending but not archived.  And I want those to show up in one recyclerview.  Curr

[2017-09-25 20:49] bagintz commented on #920
@SUPERCILEX I was able to get it to query like I wanted creating my own instance of ObservableSnapshotArray, but I lose the "listener" portion that comes automatically using the FirebaseArray.  Can you explain what you mean by creating several FirebaseArrays and forwarding them to my own ObservableSnapshotArray?

[2017-09-25 20:54] samtstern commented on #920
I believe what you're looking for is the `FirebaseIndexRecylerAdapter`, there's a section on this in the `database/README.md`

[2017-09-25 20:54] bagintz commented on #920
@samtstern that I can tell, it only works with one query

[2017-09-25 22:05] mik-ro commented on #301
@macsinte  I'm facing the same problem. When I try to link new Google account with FB or email account already created Firebase overrides those accounts and only new Google account persists. Has anyone overcomed that issue?

[2017-09-25 22:26] SUPERCILEX commented on #920
@bagintz We're working on some API improvements internally so we're probably going to accidentally screw you over (sorry! 😁), but for now, you can use our existing callbacks. In `OSA#onCreate()`, you'll want to add your listeners to the various `FirebaseArray`s and then remove them in `OSA#onDestroy()`. Whenever you're ready to send an update, you'll use the `OSA#notify[ChangeEvent/OnDataChanged/O

[2017-09-25 22:27] bagintz commented on #920
@SUPERCILEX Thank you, that is what I ended up doing.  The transition from SQL to NoSQL has been.....challenging.  Thank you for the great library!!

[2017-09-25 22:27] #920 closed

[2017-09-25 22:40] samtstern opened #921 "NullPointerException in CompletableProgressDialog"
Reported by partner.

[code]

[2017-09-25 22:43] samtstern opened #922 "IllegalArgumentException in PhoneVerificationActivity"
https://github.com/firebase/FirebaseUI-Android/blob/f4494c4a5fcafc8b32351edcb02ed2834c6a32b4/auth/src/main/java/com/firebase/ui/auth/ui/phone/PhoneVerificationActivity.java#L161

Reported by a partner:
[code]

[2017-09-25 23:05] bagintz commented on #902
@SUPERCILEX Can you explain a little more how one would implement a wrapper object that extends ObservableSnapshotArray for custom sorting?  I am now running into this to :-/

[2017-09-25 23:26] SUPERCILEX commented on #902
@bagintz There are two options:
1. You can use our method of sorting with your own custom list of snapshots by simply copying the `getIndexForKey` method.
2. Or, since you're pulling data from different sources that's probably going to be difficult, so instead, you can use [`DiffUtil`](https://developer.android.com/reference/android/support/v7/util/DiffUtil.html) to asyncronously figure out the pr

[2017-09-25 23:31] bagintz commented on #902
@SUPERCILEX
Ok, I was trying to use a custom comparator on the ObservableSnapshotArray and that was not working. I would much prefer #2, but am a little unclear how it would work.  I updated the search index to use a single key to find items by user and status

query_key = [uid]_[status]

Which let's me get the data with one query (which is how I "fixed" the issue I was having in the other thread)

[2017-09-25 23:35] SUPERCILEX commented on #902
For that, you can use `setValue(..., priority)` where the priority is a `long` timestamp and then use `orderByPriority()` on the `Query`. Or, I think `orderBy("timestamp")` would also work.

[2017-09-25 23:38] bagintz commented on #902
@SUPERCILEX ok, I will take a look, I thought I could only have 1 orderby, since I am using the orderByChild to query for my [query_key] ???  Thanks again

[2017-09-25 23:41] SUPERCILEX commented on #902
@bagintz Oh shoot, I didn't know you were using orderby for the query. Does `equalTo` not work? Otherwise, you'll have to use client side sorting as mentioned with `DiffUtil`.

[2017-09-25 23:44] bagintz commented on #902
ref.orderByChild('query_key').equalTo('[uid]_[status') works great to get me my 4 values, but they each have a startDate (and weren't entered into Firebase in the correct order).

So I think client side is the way to go.  I haven't used DiffUtil, I will give it a shot and come back if I have any questions :)

[2017-09-26 00:04] bagintz commented on #902
@SUPERCILEX Ok, I think I can see how I can get there with DiffUtil, the problem is that my ArrayList that I am using to populate the Adapter is showing a size of 0 even though it shows the correct 4 cards in my view:

[code]
Works fine, but if I try to get the size of myArray it shows 0, which doesn't let me do any sorting before sending the updated array to DiffUtil. Am I doing my wrapper object

[2017-09-26 01:39] LeeHounshell opened #923 "unable to use Firebase UI with Firebase Test Lab"
The current Firebase UI version 2.3.0 does not work with Firebase "Test Lab" sign-in credentials.

The Google Play Console allows developers to upload Alpha and Beta app versions.
These versions can be automatically checked (for free) using Firebase Test Lab.
However, the current Firebase UI version does not expose UI elements that allow
Test Lab to automatically login to an app.   This prevents d

[2017-09-26 02:20] SUPERCILEX commented on #923
@LeeHounshell Here's how I've gotten around that restriction:
[code]

[2017-09-26 14:08] bagintz commented on #902
@SUPERCILEX OK!! I got it working with diffutil.  2 quick questions:
1) Would it be helpful to do some sort of small writeup on what I did for future folks, and where should that go?
2) The only place I can find to do the initial diffutil to sort is onDatachanged, but that seems very inefficient, not to mention a little "jarring" to have the list show up and sort visually in front of you.  Is ther

[2017-09-26 16:10] bagintz commented on #902
@SUPERCILEX I think I am going to give up for now.  It seems the DiffUtil won't work since the FirebaseRecyclerAdapter's snapshots are immutable so the clear and addAll methods won't work.  This causes the list to "look" correct, but it does not update the true location for the Firebase listeners :(

Let me know if you have any other ideas.

[code]

[2017-09-26 16:44] lmdic opened #924 "FirebaseUI-Android: Why not translate network error message ?"
1. Select language Romanian
2. Start FirebaseUI-Android
3. Text is correct translate on screen

Here screenshot:

![firebase_1](https://user-images.githubusercontent.com/303539/30872490-eccaadb2-a2f2-11e7-9706-90587d94b187.png)

4. I turn off network (e.g. WiFi)
5. Enter phone number and press next
6. Show error message on English

Here screenshot:

![firebase_error_message](https://user-images.gi

[2017-09-26 20:00] pipsApp commented on #650
I added exclude word, and the error disappeared
compile ('com.firebaseui:firebase-ui-storage:2.0.1') { exclude group: 'com.android.support' }
compile ('com.firebaseui:firebase-ui-database:2.0.1') { exclude group: 'com.android.support' }

[2017-09-26 20:04] samtstern commented on #924
@lmdic thanks for reporting this, I am going to close this and move discussion to #901 which is basically the same issue.  We need to never return errors directly from the server.

[2017-09-26 20:04] #924 closed

[2017-09-26 20:24] SUPERCILEX commented on #902
@bagintz You're not quite understanding what I mean by "wrapper object". I going to do a bit of whiteboard coding here so please bear with me:
[code]

Do you see what I'm doing here? You're basically implementing your own `FirebaseArray` but using composition with other `FirebaseArray`s. You can have a look at the more complex [`FirebaseIndexArray`](https://github.com/firebase/FirebaseUI-Android/b

[2017-09-27 02:03] TheCraftKid commented on #921
I thought we were getting rid of all the progress dialogs. :confused:

[2017-09-27 07:33] tatanka987 commented on #750
Issue still reproduce in version 2.3.0 on Galaxy Nexus (Android 4.3) and on Samsung Galaxy S4 (Android 4.2.2) maybe on other devices with Android 4.x.x. In this case onActivityResult called immediately after press button "Verify phone number" with null IdpResponse.

[2017-09-27 07:48] tatanka987 opened #925 "onActivityResult called immediately after press button "Verify phone number" on Android 4.x.x"
Issue reproduce in version 2.3.0 on Galaxy Nexus (Android 4.3) and on Samsung Galaxy S4 (Android 4.2.2) maybe on other devices with Android 4.x.x. In this case onActivityResult called immediately after press button "Verify phone number" with null IdpResponse. Issue not reproduced on Nexus 4 (Android 4.4.2) and other devices on Android 5, 6, 7. For reproduce uses code from [README.md]( https://gith

[2017-09-27 08:16] tatanka987 commented on #925
I found my mistake, I called sign in process from activity with launchMode="singleInstance"

[2017-09-27 08:16] #925 closed

[2017-09-27 12:38] thailemon opened #926 "Class not found when unmarshalling: com.firebase.ui.auth.ui.FlowParameters"
When using FirebaseUI Auth with Facebook, it crashes immediately after launching the Activity. The google-services.json file is updated.

The Facebook app ID is set in strings.xml:

[code]

Have tried versions of google play services, facebook sdk, firebase, firebase ui, to no avail.
When removing Facebook as provider, and only using Google Sign-in/Phone/Email, it works without any issues.

Proble

[2017-09-27 19:42] samtstern commented on #914
This is the method that crashes:
https://github.com/firebase/FirebaseUI-Android/blob/9dc4c120f33d4f4acc42b2a0c2195e130e8b1076/auth/src/main/java/com/firebase/ui/auth/ui/phone/PhoneVerificationActivity.java#L377

It gets called from here:
https://github.com/firebase/FirebaseUI-Android/blob/9dc4c120f33d4f4acc42b2a0c2195e130e8b1076/auth/src/main/java/com/firebase/ui/auth/ui/phone/PhoneVerificationAct

[2017-09-27 20:05] samtstern commented on #922
The method is called from `SubmitConfirmationCodeFragment`:

[code]

This is called in two places.  One is when the enter button is clicked on the keyboard:

[code]

And one is when the submit button in the Activity is clicked:

[code]

[2017-09-27 20:52] samtstern commented on #922
It does not seem to be possible to get a null confirmation code to get through to this line:

[code]

So maybe there is some weird race condition where `mVerificationId` is `null` or empy

[2017-09-28 00:50] LeeHounshell commented on #926
My app is having the same issue.  I am able to solve the missing FlowParameters class by adding to my AndroidManifest.xml:

    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" android:protectionLevel="signature" />

However, I still see this FirebaseUI and Facebook related problem in the logs:

09-28 00:46:58.577 2519-8255/com.google.android.gms V/FA-SVC: Logging even

[2017-09-28 00:54] samtstern commented on #926
@LeeHounshell you've been using FirebaseUI for a while, when did this issue start for you?

[2017-09-28 01:04] LeeHounshell commented on #926
I just noticed this problem for the first time today.  I am wondering if the FacebookSdk has changed?

My build.gradle has:

    implementation 'com.facebook.android:facebook-android-sdk:[4,5)'

[2017-09-28 01:18] SUPERCILEX commented on #926
@LeeHounshell Oh yeah, using free flowing versioning is usually a bad idea exactly for this reason. Facebook just released [`v4.27`](https://developers.facebook.com/docs/android/change-log-4x#4_27_0) and it looks like

is probably what's tripping us up.

For now, you can downgrade to `v4.26` until we can sort this out. Thanks for the tip! 😄

[2017-09-28 01:26] LeeHounshell commented on #926
I can confirm that downgrading to the old Facebook Sdk works.
Use this in your build.gradle:

    implementation 'com.facebook.android:facebook-android-sdk:4.26.0'

Thanks everybody!

[2017-09-28 01:27] samtstern commented on #926
Here's the ProGuard from the new SDK:

[code]

[2017-09-28 05:57] SUPERCILEX commented on #926
@samtstern Ok, so it actually has nothing to do with proguard. It turns out Facebook literally moved methods around in a minor release. Not cool Facebook! 👿😆 Anyway, see #929.

[2017-09-28 07:18] proft opened #930 "Styles are broken in Firebase console"
Hi!
I don't find where report about broken styles in Firebase console. So I post it here.
Just look at [Image](https://imgur.com/a/ta61K).

It's the latest version of Firefox 55.0.3-3.
I've cleaned the cache and relogin - no result :(.

[2017-09-28 07:27] proft commented on #930
Sorry, the problem was in Firefox's plugin.

[2017-09-28 07:27] #930 closed

[2017-09-28 10:00] aviadmini commented on #915
Got similar issue with GMS and FUI:

`java.lang.NullPointerException: Activity must not be null
                                                                             at com.google.android.gms.common.internal.zzbo.zzb(Unknown Source)
                                                                             at com.google.android.gms.internal.zzbdr.<init>(Unknown Source)

[2017-09-28 10:01] thailemon commented on #926
For me, downgrading fbSdk or adding that weird permission didn't change anything. Still same

[2017-09-28 14:52] SUPERCILEX commented on #926
@thailemon yeah, that's a separate issue. Somehow, your proguard config is stripping out firebase classes. Just to make sure, the crash only happens in release mode, right? If so, could you show me your proguard config?

[2017-09-28 17:50] thailemon commented on #926
@SUPERCILEX no, it happens in both debug and release.

[2017-09-28 17:53] SUPERCILEX commented on #926
@thailemon Hmmm, OK. That's weird. Try deleting the `.gradle` folder in your project's root directory and running a `./gradlew clean cleanBuildCache` before running the app.

[2017-09-28 18:04] thailemon commented on #926
@SUPERCILEX Yes, it's very weird indeed. clean/cleanBuildCache doesn't change anything either - not in debug nor release :/

[2017-09-28 23:54] samtstern commented on #922
This issue has been fixed in version `2.4.0`:
https://github.com/firebase/FirebaseUI-Android/releases/tag/2.4.0

[2017-09-28 23:54] #922 closed

[2017-09-28 23:54] samtstern commented on #921
This issue has been fixed in version `2.4.0`:
https://github.com/firebase/FirebaseUI-Android/releases/tag/2.4.0

[2017-09-28 23:54] #921 closed

[2017-09-28 23:54] samtstern commented on #914
This issue has been fixed in version `2.4.0`:
https://github.com/firebase/FirebaseUI-Android/releases/tag/2.4.0

[2017-09-28 23:54] #914 closed

[2017-09-28 23:54] samtstern commented on #887
This issue has been fixed in version `2.4.0`:
https://github.com/firebase/FirebaseUI-Android/releases/tag/2.4.0

[2017-09-28 23:54] #887 closed

[2017-09-28 23:54] samtstern commented on #904
This issue has been fixed in version `2.4.0`:
https://github.com/firebase/FirebaseUI-Android/releases/tag/2.4.0

[2017-09-28 23:54] #904 closed

[2017-09-28 23:54] samtstern commented on #869
This issue has been fixed in version `2.4.0`:
https://github.com/firebase/FirebaseUI-Android/releases/tag/2.4.0

[2017-09-28 23:54] #869 closed

[2017-09-29 01:49] TheCraftKid commented on #923
Perhaps we should include this information in the docs.

[2017-09-29 08:36] FrancoSabadini opened #933 "FacebookSDK.setWebDialogTheme(...) method moved in Facebook SDK 4.27.0"
The `setWebDialogTheme(...)` method has been moved from `FacebookSDK` to `WebDialog` in version 4.27.0 of the Facebook SDK (see https://developers.facebook.com/docs/android/change-log-4x/), and this makes FirebaseUI crash because this method is used in `FacebookProvider`.

The `FacebookProvider` class should be updated to use the new API.

[2017-09-29 10:23] Shajeel-Afzal commented on #310
The problem with @anrodon's solutions is that now the list is not updated automatically when new data is added. However, It works when I do the query again.

[2017-09-29 10:31] FrancoSabadini commented on #933
I just realized that this was fixed in branch `version-3.0.0-dev` so closing this issue.

[2017-09-29 10:31] #933 closed

[2017-09-30 00:01] saddamuwejan opened #934 "FirebaseRecyclerAdapter but Failed to convert value of type java.util.HashMap to String?"
Hi ,
Trying to create FirebaseRecyclerAdapter that retrieve data all data from object class , but i get the error "Failed to convert value of type java.util.HashMap to String"
here is my code :

[code]
[code]
[code]

my db screenshot
![screenshot from 2017-09-30 02-59-27](https://user-images.githubusercontent.com/20250935/31040043-8607ca7e-a58b-11e7-87eb-be8a5d9ee553.png)

[2017-09-30 00:04] samtstern commented on #934
Change this:

[code]

to this:

[code]

Closing this issue as it's not a library bug.  In the future please post these kinds of questions to StackOverflow.

[2017-09-30 00:04] #934 closed

[2017-09-30 00:18] saddamuwejan commented on #934
Thanks , next time will consider your advice about posting on StackOverflow , however the change did not work ,now i get this error "can not resolve method .getChild(java.lang.string).

[2017-09-30 00:20] samtstern commented on #934
@saddamuwejan I updated my answer.  It's just child().

The concept you're missing is that if you want to show a list of matches, you need to give the library a reference to the database path containing the matches.  Your current implementation passes a path to the database root.

[2017-09-30 14:11] puf commented on #934
Please be respectful when you post a question/issue and indicate when you cross-post: https://github.com/firebase/FirebaseUI-Android/issues/934

[2017-09-30 14:26] saddamuwejan commented on #934
@puf why would you through such words ?. I have thanked Mr. @samtstern worked by thiere advice by posting on Stackoverflow .thiere reply here was no help to me so i replied on them so they know it was not working.Now Your words are verry bossy and unacceptable especially in such professional site!

[2017-10-02 13:23] assafshp commented on #301
This happens to me also. From email account if the email is not verified, then google overrides this provider. But you can simply add the email verification feature and in case that the user approved his email, google account provider will be added and not overwritten. As for FB, I still don't know why google provider always overrides.

[2017-10-02 17:06] thelong1EU commented on #856
Hi!
Any news on this? I currently have a bunch of users facing this crash.
![bitmoji](https://render.bitstrips.com/v2/cpanel/10120145-332137330_5-s4-v1.png?transparent=1&palette=1&width=246)

[2017-10-02 18:08] SUPERCILEX commented on #856
@thelong1EU I've actually just started working on a major refactor that gets rid of this class and fixes just about a billion different config change bugs. I'm hoping for it to be ready for a PR by the end of the week.

[2017-10-03 02:45] Chaachii2797 commented on #537
good morning! can someone please help me, i am struggling on how to sort data based on ratings saved in firebase node.. can someone please help me on how to do it?

Thanks in advanced

[2017-10-03 03:35] Lizzyyang commented on #409
I got the same problems by using startActivityForResult(
                    AuthUI.getInstance()
                            .createSignInIntentBuilder()
                            .build(),
                    SIGN_IN_REQUEST_CODE
            );
I can not got the getDisplayName(), but it work when I sign out and sign in again. Do you have any solutions

[2017-10-03 11:51] Rao-Arsalan opened #935 "Getting this Runtime Exception -->java.lang.reflect.InvocationTargetException while using FirebaseRecyclerviewAdapter"
I'm getting an exception while using the Firebase Ui Libraray.

`E/AndroidRuntime: FATAL EXCEPTION: main
                                                                              Process: com.sumatodev.expensemanager, PID: 31330
                                                                              java.lang.RuntimeException: java.lang.reflect.InvocationTargetException

[2017-10-03 19:42] Shajeel-Afzal opened #939 "Support for CloudFirestore"
Super excited about the new CloudFirestore, When is FirebaseUI library is going to add support for it? https://firebase.google.com/docs/firestore/

[2017-10-03 19:43] Shajeel-Afzal commented on #939
I found that the support is already there: https://github.com/firebase/FirebaseUI-Android/blob/master/firestore/README.md

I am closing it since I have found my answer and FirebaseUI library already supports it.

[2017-10-03 19:43] #939 closed

[2017-10-03 19:49] samtstern commented on #731
Version 3.0 has been released!

[2017-10-03 19:49] #731 closed

[2017-10-03 20:08] bagintz commented on #902
@SUPERCILEX
https://firebase.googleblog.com/2017/10/cloud-firestore-for-rtdb-developers.html
Timely!  :) 👍

[2017-10-03 20:16] SUPERCILEX commented on #902
@bagintz Yes! I was in the alpha so it was _sooooo_ hard not to let something slip. 😄

[2017-10-03 20:17] bagintz commented on #902
Ha!  I am converting over form RTD to this now!  I think it will be worth it.

[2017-10-03 20:42] SUPERCILEX commented on #902
@bagintz Definitely is, trust me!

[2017-10-03 20:48] bagintz opened #941 "Having trouble getting com.firebaseui:firebase-ui-firestore:3.0.0"
When trying to use
`compile "com.firebaseui:firebase-ui:3.0.0"`
I get
Error:Failed to resolve: firebaseui-android:common:unspecified

After trying to refresh gradle dependencies, I can see this too

Error:Failed to resolve: com.firebaseui:firebase-ui-firestore:3.0.0

Either way, I can't get it to work :(

[2017-10-03 20:54] bagintz commented on #941
https://jcenter.bintray.com/com/firebaseui/

Doesn't show the Firestore dir

[2017-10-03 21:16] samtstern commented on #941
D'oh!  There are a few things here.  First of all, I need to remove the dep on common from the POM.

Second, I forgot that because this is a new lib I have to get permission to add to jCenter.  Should be resolved by the end of the day.  For now I think this should work:

[code]

[2017-10-03 21:16] samtstern commented on #941
Also @bagintz we really don't recommend ever using the combined target, use `-auth`, `-storage`, etc to get just the bits you need!

[2017-10-03 21:17] bagintz commented on #941
@samtstern will do, thank you!!

[2017-10-03 21:19] SUPERCILEX commented on #941
Yep, I'm on it.

[2017-10-03 21:19] SUPERCILEX commented on #941
Whoops, GitHub didn't update. Closing the PR.

[2017-10-03 23:16] #941 closed

[2017-10-04 00:02] samtstern commented on #935
@Rao-Arsalan there's  **a lot** of code here and it may be too much for us to debug.  However we just released version `3.0.0` which does not use reflection anymore and I bet your problem will be solved.  Could you follow the upgrade guide (see the README) and see if the new version fixes your problem?

[2017-10-04 00:03] samtstern commented on #910
Closing because there hasn't been a response in a while and we likely can't support this type of customization anyway,

[2017-10-04 00:03] #910 closed

[2017-10-04 04:36] dennywahyu commented on #855
@hamzahrmalik have you found any solution for this issue?

[2017-10-04 07:26] MINHAJ10SUST commented on #229
is it possible to setup on a fragment? if possible please help

 mAuthStateListener = new FirebaseAuth.AuthStateListener() {
            @Override
            public void onAuthStateChanged(@NonNull FirebaseAuth firebaseAuth) {
                FirebaseUser user = firebaseAuth.getCurrentUser();
                if (user != null) {
                    // User is signed in
                    onSigned

[2017-10-04 08:26] hamzahrmalik commented on #855
@dennywahyu I filed a bug with Firebase. This is their response

-The client side can't trust the backend's clock, since the two may be mismatched
- There's no version of a canonical clock on the client-side; changing the system clock changes everything about how the system views time
- Once the token is received, it's stamped with the current time on the client side; changing the clock doesn't ch

[2017-10-04 08:41] dennywahyu commented on #855
So, that means there wont be any SDK update (or server side) to fix this issue?

But have you find any hack or workaround for this?

[2017-10-04 08:49] Rao-Arsalan commented on #935
@samtstern  when i'm converting my Firebase UI version 2.0.1 to 3.0.0 my gradle showing ton's of error.
which i'm trying to solve this but can't solve this.

[2017-10-04 11:10] waqas117 commented on #935
@Rao-Arsalan You have to apply these options

1: make default non parameter constructor in your Model
2:create your adapter in onActivityCreated
3:uninstall app from your device then install and test
4:work for some times **Clear your studio cache**

[2017-10-04 11:42] Rao-Arsalan commented on #935
@waqas117  i tried alot as you describe but getting failed.

[2017-10-04 11:46] waqas117 commented on #935
@Rao-Arsalan Do you think your R.layout.activity_add_forward_budgeting is correct layout for using your Holder??

[2017-10-04 11:49] Rao-Arsalan commented on #935
@waqas117 yeah i put wrong layout file instead of correct layout..
thanks man it's worked fine.

[2017-10-04 11:49] #935 closed

[2017-10-04 12:07] Soumya7391 commented on #319
I am facing the same issue. But only for Android OS version 5.1.1
Please revert soon.

[2017-10-04 13:48] gswierczynski commented on #923
The new crawler introduced in October 2017 (described as one that "provides a more comprehensive review of your app") re-signs the app making Google Account login fail.
To use google account login one need to fallback to the previous crawler by opting out in the settings.
https://support.google.com/googleplay/android-developer/answer/7002270

You can use the new crawler by providing the login reso

[2017-10-04 13:59] bagintz commented on #941
@SUPERCILEX and @samtstern I am still getting
`Error:Failed to resolve: firebaseui-android:common:unspecified`
with 3.0.0, both the combined target and separate

I tried both with the
[code]
and without.  Any ideas?

[2017-10-04 15:34] samtstern commented on #941
@bagintz running this from my project root seemed to fix it for me:

[code]

[2017-10-04 15:52] bagintz commented on #941
sigh, still not working for me :(, going to try a few different things

[2017-10-04 16:11] bagintz commented on #941
@samtstern ok, finally got it, had to clear out my .gradle folders

[2017-10-04 18:52] leocirculo commented on #301
I'm getting this exact issue when I allow multiple accounts with same email.

I only want certain custom domain email accounts to login into my app.

But if a user is already registered with email/password and then tries to login with Gmail, I can't get the email information.

ALSO: I don't know if this is intended or not, but if a user signs in with Facebook and then tries to recover password, cl

[2017-10-05 05:41] CeJienAJPC opened #945 "Unable to find Resources to use FirebaseRecyclerAdapter with Firestore"
### Step 2: Describe your environment

  * Firebase/Play Services SDK version: 11.4.2
  * FirebaseUI version: 3.0.0

### Step 3: Describe the problem:
Just trying my hand with the new Firestore. Unfortunately, I am unable to find relevant information relating RecyclerView, Firebaserecycleradapter and the new Firestore.

When trying to update the **Firebase dependencies to 11.4.2** and the **Fireba

[2017-10-05 06:04] SUPERCILEX commented on #945
@CeJienAJPC `populateViewHolder` is no longer a thing, make sure to take a look at the [upgrade guide](https://github.com/firebase/FirebaseUI-Android/blob/master/docs/upgrade-to-3.0.md#realtime-database) and [Firestore docs](https://github.com/firebase/FirebaseUI-Android/blob/master/firestore/README.md#using-the-firestorerecycleradapter).

[2017-10-05 06:13] CeJienAJPC commented on #945
I am sorry. I missed the information. Thanks again

[2017-10-05 06:13] #945 closed

[2017-10-05 06:13] SUPERCILEX commented on #945
NP! 😄

[2017-10-05 10:03] Antpachon commented on #855
Same issue here, I messed up with the date doing tests, now I am getting expired token, even uninstalling the app it doesn't fix the problem..

[2017-10-05 11:55] hamzahrmalik commented on #855
Yep it appears it can't be fixed. As I posted above, they aren't willing to fix it. Surely FORCE refresh should just force it. But apparently not

[2017-10-05 11:55] hamzahrmalik commented on #855
I haven't found any workaround or anything. The only solution seems to be clearing data for Google play services

[2017-10-05 16:38] isaisachen commented on #855
I think folks in this thread are seeing a few different issues. To clarify:
1. The JWT's  “iat” (token issue time) and “exp” (token issue time + token expiresIn) is server clock. If your test is comparing those values, make sure to have right clock in your test.
2. There's indeed local token cache in Firebase Auth SDK which is using device local clock. The assumption is, user is less likely to cha

[2017-10-05 16:41] isaisachen commented on #855
By reporting with your "JWT you get back", I mean the iat / exp part (and I don't mean the raw JWT which will leak your aud / sub here :))

[2017-10-05 17:34] jstimes commented on #806
Hey @TheCraftKid are you still working on this? If not I'd be happy to take over.

[2017-10-05 21:25] TheCraftKid commented on #806
Yeah, I meant to make sure this made it into version 3.0.0, but I got a bit busy on other projects. Let me make some more changes and push an updated version.

[2017-10-05 23:03] SUPERCILEX commented on #533
@samtstern I think this issue is no longer relevant since #905.

[2017-10-05 23:04] SUPERCILEX commented on #870
@samtstern I think this issue can be closed since we've fixed everything we could from our side. The rest is up to the developer.

[2017-10-05 23:05] SUPERCILEX commented on #901
@samtstern Doesn't #946 fix this?

[2017-10-05 23:07] SUPERCILEX commented on #915
@samtstern I think this is a duplicate of #856 which I'm working to fix.

[2017-10-05 23:07] SUPERCILEX commented on #902
@samtstern I don't think we're ever going to make `getSnapshotForKey` public since that's a private implementation detail, so this issue can probably be closed.

[2017-10-05 23:24] jstimes commented on #901
@SUPERCILEX It seems like it would, but that method does not localize the server error messages, which is what this message is. We should log these server errors and have our own (localized) strings to show the user. I can work on this.

[2017-10-06 07:57] NikiFoD opened #947 "FirebaseUI 3: Adapter items reload, although there is no change in the data"
I posted this on stackoverflow, but I think its better addressed here.

In **FirebaseUI 3** release, I am creating an adapter within my activity using:

.setLifecycleOwner(this)

This starts and stops listening on onStart() and onStop() of my activity. The problem is that the items in the adapter reload even when there is no change in the data, cause onBindViewHolder is called every time the liste

[2017-10-06 08:04] Netstep opened #948 "UI Flashes when singning in with one provider (phone number)"
Welcome to FirebaseUI and thanks for submitting an issue!

### Step 1: Are you in the right place?
yes
### Step 2: Describe your environment

  * Android device: Samsung Galaxy A5 2016
  * Android OS version: 7.0
  * Google Play Services version: unknown/latest
  * Firebase/Play Services SDK version: 11.4.2/26
  * FirebaseUI version: 3.0.0

### Step 3: Describe the problem:
When calling Sign in UI

[2017-10-06 14:25] bagintz opened #949 "Access to DocumentSnapshots in FirestoreRecyclerAdapter"
Hey guys, loving the new Firestore stuff.  Quick question.  I am converting from RTD to this and one thing I did in my previous schema was to not explicitly store the key inside the "object" because I could explicitly use `getRef(position)` to grab the key to attach to my local POJO.  It seems that this automatic reference is not there to grab the id of the DocumentSnapshot.

I am able to manage i

[2017-10-06 14:47] SUPERCILEX commented on #949
Try this: `FirestoreRecyclerAdapter.getSnapshots()#getSnapshot(index)`.

[2017-10-06 14:49] bagintz commented on #949
@SUPERCILEX that gives me the Object I passed into the FirestoreRecyclerAdapter, which is built off the document information.  Unless there is a way, in that POJO to tell the class to pull key or metadata and store in the object, it doesn't seem it would work??

[2017-10-06 14:55] SUPERCILEX commented on #949
I'm not sure I understand, that method gives you a `DocumentSnapshot`. Is that not what you want?

[2017-10-06 14:58] bagintz commented on #949
It appears the way I am using FirestoreRecyclerAdapter it gives me back the Object I instantiate
the adapter with:

[code]
provides the following when I try to get a DocumentSnapshot from getSnapshots:

![screenshot 2017-10-06 10 56 54](https://user-images.githubusercontent.com/5341290/31284022-5260c2ee-aa85-11e7-9baa-371e6e3bddfc.png)

[2017-10-06 15:00] bagintz commented on #949
@SUPERCILEX nevermind, I read your response closer and got it

[code]

works!

[2017-10-06 15:11] SUPERCILEX commented on #949
Awesome!

[2017-10-06 15:45] samtstern commented on #949
@bagintz Looks like we can close this. Thanks @SUPERCILEX

[2017-10-06 15:45] #949 closed

[2017-10-06 19:42] SUPERCILEX commented on #947
@NikiFoD Yeah, `setLifecycleOwner` will clear listeners in `onStop`. Personally, I have a `ViewModel` which holds a `FirestoreArray` beyond config changes which I give to the adapter. When the `ViewModel` is initialized, I add an empty `ChangeEventListener` and then remove it in `onCleared()`. At some point, I'd like to implement a timeout that removes the listener after 30s of non-`onStart` so as

[2017-10-07 01:55] TheCraftKid commented on #17
@samtstern @SUPERCILEX
Hey, with Firestore's release, can we revisit this? I think this is definitely more attainable now.

[2017-10-07 02:41] samtstern commented on #17
Yes we definitely can!  I've gotten a working prototype of paginating
infinite scroll to work with Firestore so I know it's possible, although
mine was too messy to publish.

I'm thinking efficient infinite scroll is actually more useful than
something where we expect the developer to explicitly load more but open to
discussing both.

On Fri, Oct 6, 2017, 6:55 PM Willie Chalmers III <notifications

[2017-10-07 06:48] NikiFoD commented on #947
@SUPERCILEX If I understand correctly, this solution without the timeout, is performance-wise (battery and network) the same as start listening in `onCreate()` and stop in `onDestroy()` and what was happening in FirebaseUI 2.x.x release, right? (`mAdapter.cleanup();` in `onDestroy()`)

On the other hand, if a timeout is added, the Shared Element Transitions will break, if the user stays in the Det

[2017-10-07 12:32] yash59 opened #951 "ok"
Welcome to FirebaseUI and thanks for submitting an issue!

Please take a look at [open issues](https://github.com/firebase/FirebaseUI-Android/issues?q=is%3Aopen+is%3Aissue), as well as [resolved issues](https://github.com/firebase/FirebaseUI-Android/issues?q=is%3Aissue+is%3Aclosed), to see if your issue is either already being addressed, or has been solved by someone else.

If not, please feel fre

[2017-10-07 12:39] yash59 commented on #933
i am using version 3.0.0 and it;s not working showing error...

  java.lang.NoClassDefFoundError: Failed resolution of: Lcom/facebook/WebDialog;
  at com.firebase.ui.auth.provider.FacebookProvider.<init>(FacebookProvider.java:67)

[2017-10-07 15:48] yash59 opened #952 "phone auth is not working"
when i am using phone auth provider it's showing alert dialog...
there is no user record corresponding to this identifier. the user may have been deleted. firebase phone auth.
i am using latest version 3.0.0.
here is screenshot.
![screenshot_2017-10-07-21-12-12-071_com yashnagda kkb](https://user-images.githubusercontent.com/27333071/31309518-079f5222-aba5-11e7-86e9-e93e2e305e0f.png)

[2017-10-07 20:38] TheCraftKid commented on #951
Hey, I think this was a mistake. (Close this when you can, @samtstern)

[2017-10-08 02:53] SUPERCILEX commented on #933
@yash59 Upgrade your Facebook dependency from `facebook-android-sdk:x` to `facebook-login:4.27.0`.

@samtstern We should probably mention in the release notes that `v3.0` requires Facebook `v4.27`.

[2017-10-08 03:03] SUPERCILEX commented on #947
@NikiFoD No, keeping your array in a `ViewModel` means it actually exists beyond `onDestroy` if the user is still on that screen and a config change occurs. (If they leave the screen completely, the view model will die as expected). This means it's even more performant, but yes, it's essentially like `v2.0` which wasn't really a good idea in the first place for performance.

As for the timeout, I

[2017-10-08 03:51] CeJienAJPC opened #953 "Does Firestore support Heterogeneous layouts for RecyclerView"
### Step 2: Describe your environment

  * Firebase/Play Services SDK version: 11.4.2
  * FirebaseUI version: 3.0.0

### Step 3: Describe the problem:
There was no direct way of supporting Heterogeneous layout in RecyclerView using Firebase. Does Firestore offer to support heterogeneous layouts for RecyclerView?

Thanks

[2017-10-08 04:01] SUPERCILEX commented on #953
@CeJienAJPC I like your fancy vocab, but what do you mean by "heterogeneous"? 😄

[2017-10-08 04:13] jaywil311 commented on #953
On Oct 7, 2017 11:01 PM, "Alex Saveau" <notifications@github.com> wrote:

@CeJienAJPC <https://github.com/cejienajpc> I like your fancy vocab, but
what do you mean by "heterogeneous"? 😄

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/firebase/FirebaseUI-Android/issues/953#issuecomment-334981469>,
or mute the t

[2017-10-08 04:23] CeJienAJPC commented on #953
Oh, I mean displaying the multiple ViewTypes in RecyclerViews. FirebaseRecyclerAdapter was supporting this with some minimal tweak. How about the FireStoreRecyclerAdapter? Just curious.

[2017-10-08 04:26] SUPERCILEX commented on #953
@CeJienAJPC Oh, haha. Got it now.

Yeah, definitely! Having different view holder types is a recyclerview thing so any adapter will support them, including ours. 😄

[2017-10-08 05:15] CeJienAJPC commented on #953
Thanks for the confirmation.

[2017-10-08 05:15] #953 closed

[2017-10-08 11:42] MrRossi82 opened #954 "Scroll to load more ؟"
Have you added Scroll to load More to this library?

[2017-10-08 13:55] joemerritt opened #955 "FirebaseIndexRecyclerAdapter not found"
Hi All,

This may seem like a silly question. However I'm trying to use FirebaseIndexRecyclerAdapter however this is not coming as an option.

I"m using compile 'com.firebaseui:firebase-ui-database:3.0.0' and I can use the normal FirebaseRecyclerAdapter but not the Index adapter.

Am I missing something here.

[2017-10-08 13:59] yash59 opened #956 "firebase recycler adapter showing empty rows"
i am using firebase database ui 3.0.0. it works fine and load the data but problem is that when i am scrolling the recylerview it's showing empty rows.
take a look..
https://stackoverflow.com/questions/46631826/firebase-recycler-adapter-showing-empty-rows

[2017-10-08 15:04] #951 closed

[2017-10-08 16:16] SUPERCILEX commented on #955
Yep, we killed that in favor of the builder. See the [migration guide](https://github.com/firebase/FirebaseUI-Android/blob/master/docs/upgrade-to-3.0.md#realtime-database) which explains that you can now use `setIndexQuery()` on the builder to get the index adapter.

[2017-10-08 23:10] joemerritt commented on #955
Thank you for you help Alex, I see how this is easier. However, this no longer accepts a query. Is there any way to do this?

Joe

[2017-10-08 23:14] SUPERCILEX commented on #955
@joemerritt Not sure what you're looking at, but it should still accept a query. See this example:
https://github.com/firebase/FirebaseUI-Android/blob/7d72ddb96e274200a89ceef550aa33337b6fed4a/app/src/main/java/com/firebase/uidemo/database/realtime/RealtimeDbChatIndexActivity.java#L25-L30

[2017-10-09 00:05] samtstern commented on #954
Duplicate of #17

[2017-10-09 00:05] #954 closed

[2017-10-09 00:32] samtstern commented on #955
@joemerritt closing this issue since @SUPERCILEX has pointed you in the right direction but feel free to keep asking questions on this thread if you don't get it working.

[2017-10-09 00:32] #955 closed

[2017-10-09 00:32] samtstern commented on #952
@yash59 that's strange ... do you see this with every phone number or only some?

[2017-10-09 00:33] samtstern commented on #956
@yash59 please don't double post.  StackOverflow is the better place for this question, so closing it here.

[2017-10-09 00:33] #956 closed

[2017-10-09 00:40] SUPERCILEX commented on #902
@samtstern While you're on that issue closing spree, do you want to take a look at https://github.com/firebase/FirebaseUI-Android/issues/902#issuecomment-334616352, https://github.com/firebase/FirebaseUI-Android/issues/533#issuecomment-334615572, https://github.com/firebase/FirebaseUI-Android/issues/870#issuecomment-334615863, https://github.com/firebase/FirebaseUI-Android/issues/915#issuecomment-

[2017-10-09 02:44] samtstern commented on #902
@SUPERCILEX yes I agree we should close this issue.  @kmcnellis thanks for raising it, if you have more ideas for extensibility just let us know.

[2017-10-09 02:44] #902 closed

[2017-10-09 02:44] samtstern commented on #533
@SUPERCILEX that's correct, closing.

[2017-10-09 02:44] #533 closed

[2017-10-09 02:45] #870 closed

[2017-10-09 02:45] samtstern commented on #915
Marking as duplicate of #856

[2017-10-09 02:45] #915 closed

[2017-10-09 03:53] yash59 commented on #956
but it's very strange values are there and nothing in logs.. take a look at this video.. https://drive.google.com/open?id=0B4RAgG7rnTMcOWo1SUJ5d0w5bEk

[2017-10-09 03:54] yash59 commented on #952
with every phone number.

[2017-10-09 13:04] syrop opened #957 "Blank pop up in phone auth when the theme is dark"
I set the theme to dark. I had phone verification disabled in Firebase console, deliberately to invoke the pop up. This is what appeared (screenshot). The text should say "This operation is not allowed. Enable sign-in method in the Authentication tab of the Firebase console".

This is caused by the setting
`<item name="android:textColor">@color/text_default_material_dark_primary</item>`
in dark th

[2017-10-09 16:44] isaisachen commented on #952
@yash59 You are probably having Google Play services v11.7 on your testing device. Yes, there's a bug going on there. We will get this fixed by EOD 10/10 PST. In the meantime, you can test on a device without Google Play services public beta.  Sorry for the inconvenience.

[2017-10-09 16:52] syrop opened #958 "The eye icon in password field is invisible in dark theme"
In dark theme the eye icon next to the password field (render the password visible or invisible) is itself invisible.
![device-2017-10-09-185201](https://user-images.githubusercontent.com/19635111/31349306-fb21a93a-ad22-11e7-8d72-4f49887d985a.png)

[2017-10-09 16:59] yash59 commented on #952
thanks..  @isaisachen

[2017-10-09 18:47] samtstern commented on #952
Thanks @isaiachen for swooping in!  Closing since there's nothing we can do with FirebaseUI.

[2017-10-09 18:47] #952 closed

[2017-10-09 20:41] SUPERCILEX commented on #958
@syrop Whoops, I forgot to correctly update the dark mode toggle in the sample. See #959 and https://github.com/firebase/FirebaseUI-Android/pull/749#issuecomment-308815896 for info on how to setup dark mode in your app. We don't talk about it in the FirebaseUI README because it's an AppCompat thing, not specifically a FirebaseUI thing.

Thanks for the tip! 😄

[2017-10-09 20:43] SUPERCILEX commented on #957
@syrop Yeah, those are just developer errors that we should really just be logging anyway. I'll get rid of them soon. Either way, see https://github.com/firebase/FirebaseUI-Android/issues/958#issuecomment-335279357 which fixes the dark mode bugs.

Thanks!

[2017-10-10 15:09] ryandailey100 opened #960 "Remove field asking for First & last name in email signup"
Is it possible to not ask for the First & last name of the user when signing up through email? I would like it to only be email, password, and confirm password (if possible). Please get back to me asap. Thanks!

[2017-10-10 15:25] dovahkiin98 opened #961 "Glide Offline Cache"
* Android device: Xperia M5
  * Android OS version: 6.0.0
  * Google Play Services version: Latest
  * Firebase/Play Services SDK version: 14.2.0
  * FirebaseUI version: 3.0.0

[code]

Using this code, the app loads and saves the image in cache.
What I don't want is the image saved in cache even after the application closes. When I restart the app Glide automatically loads the image from the offli

[2017-10-10 17:07] SUPERCILEX commented on #961
@dovahkiin98 This is a Glide question, not FirebaseUI. Google should always be the first step, but here's [documentation](http://bumptech.github.io/glide/doc/caching.html#skipping-the-cache). BTW, why would you want to disable cache? That's going to hurt your users.

[2017-10-10 17:11] SUPERCILEX commented on #960
Nope, unfortunately not. See #806 and duplicate #467.

[2017-10-10 17:33] ryandailey100 commented on #806
@TheCraftKid When will this be finished by? I would like to have this implemented inside my app before I launch. Thanks 👍

[2017-10-10 17:36] TheCraftKid commented on #806
I'm sorry to hold you up, but it'll likely be by the end of the day or
tomorrow evening, max.

On Tue, Oct 10, 2017, 12:33 PM Ryan Dailey <notifications@github.com> wrote:

[2017-10-10 17:37] ryandailey100 commented on #806
Great! Sounds good to me. Thanks again

[2017-10-10 17:56] samtstern commented on #960
Closing as duplicate of #806 and #467

[2017-10-10 17:56] #960 closed

[2017-10-10 17:57] samtstern commented on #961
@dovahkiin98 I agree with @SUPERCILEX , this is a Glide question not a FirebaseUI question.

[2017-10-10 17:57] #961 closed

[2017-10-10 18:00] samtstern commented on #933
@SUPERCILEX will add to release notes

[2017-10-10 18:06] samtstern commented on #855
Closing after explanation by @isaisachen, this is intended behavior of the Firebase Auth SDK for now and cannot be fixed by FirebaseUI.

[2017-10-10 18:06] #855 closed

[2017-10-10 22:20] #957 closed

[2017-10-10 22:20] #958 closed

[2017-10-11 04:48] syrop commented on #957
Confirmed. Works well with the newest commit.

[2017-10-11 04:48] syrop commented on #958
Confirmed. Works well with the newest commit.

[2017-10-11 10:47] joemerritt opened #964 "setindexquery return key not found"
Hi Guys,

Quick question: when using setindexquery, is there a way to return any keys that were not found at the reference position. A notification comes in the log cat:

W/FirebaseIndexArray: Key not found at ref: https://myapp.firebaseio.com/Adverts/-Kw2dwycOR0kZ64mIB3E

and I would like to store this key.

Thank you for your help.

Joe

[2017-10-11 14:16] rostopira commented on #492
What about small text below buttons "By signing in you accept our ToS and PP" with clickable links?

[2017-10-11 15:06] CyberpunkPsychonaut opened #965 "Dependency issues using new 3.0.0"
Hello, I am having issues with FirebaseUI 3.0.0.

[I made a gist of the relevant details](https://gist.github.com/CyberpunkPsychonaut/db5ebc03c986e844d65b50bacbb06056), let me know if any more are needed.

For some reason android is pulling in firebase 9.0.0 from the
classpath 'com.google.gms:google-services:3.1.1' plugin

and the newer 11.4.2 version from firebaseui.

Any suggestions?

[2017-10-11 15:33] samtstern commented on #965
@CyberpunkPsychonaut can you show your `app/build.gradle` file?  Do you have any Firebase or Play services dependencies in it?

This may be solved if you just add:
[code]

I chose `firebase-auth` above since I assume you are using FirebaseUI for Auth, but if that's not the case choose a different Firebase dependency.

[2017-10-11 15:45] LeeHounshell opened #966 "problem with Facebook login using Firebase UI 3.0 and Facebook SDK 4.27.0"
I have been using Facebook with Firebase UI for a while now.  Mostly it has been working fine for me.
With the recent Firebase UI 3.0 I have an issue logging into Facebook and see the following in my log:

10-11 08:40:25.481 22216-22216/? W/Bundle: Key error_code expected String but value was a java.lang.Integer.  The default value <null> was returned.
10-11 08:40:25.491 1518-1518/? D/InputMethodF

[2017-10-11 16:05] CyberpunkPsychonaut commented on #965
Sam, I included the app/build.gradle in the gist. I didn't have the firebase-auth dependency but now I don't know what I did. I tried fidgeting with the gradle files and somehow now they haven't changed by my error has changed. I have made a new [gist](https://gist.github.com/CyberpunkPsychonaut/9019c4be3c9d365f0b2021a2851e0943)

[2017-10-11 16:11] CyberpunkPsychonaut commented on #965
If you can see this, I don't know what is wrong with GitHub but my last comment and the gist I made keep appearing/disappearing randomly with page refreshes in Chrome.

[2017-10-11 16:46] LeeHounshell commented on #966
I also found this in the log:

10-11 08:40:25.641 22216-22216/? E/FacebookProvider: Error logging in with Facebook. SERVER_ERROR: [code] 1675030 [message]: Error performing query. [extra]: Errors while executing operation "ProxyAuthAppLoginStartQuery": At Query.proxy_auth_app_login_start: Failed to resolve field.
1

[2017-10-11 16:47] #966 closed

[2017-10-11 16:48] samtstern commented on #965
@CyberpunkPsychonaut thanks for the gist.  Your new error has something to do with `Observable` which is totally unrelated to FirebaseUI.

[2017-10-11 16:48] LeeHounshell commented on #966
I tried reverting to Firebase UI 2.3.0 and Facebook 4.26.0 and the problem persists.  I am concluding that something else is causing my issue and closing this.

[2017-10-11 16:49] CyberpunkPsychonaut commented on #965
Thats the thing... I'm not using observables anywhere... The error is appearing on the Firestore call

[2017-10-11 17:41] samtstern commented on #957
@syrop thanks for confirming!

[2017-10-11 18:16] cutiko commented on #933
Hello
Can you please add this in some part of the docs please
Thanks :)

[2017-10-11 18:36] cutiko commented on #966
Maybe this thread can help you https://github.com/firebase/FirebaseUI-Android/issues/933

[2017-10-11 18:37] samtstern commented on #933
I just updated auth/README.md to reflect the 4.27 verison

On Wed, Oct 11, 2017 at 11:16 AM Erick Navarro <notifications@github.com>
wrote:

[2017-10-11 18:43] cutiko commented on #933
@samtstern thanks a lot :) One question though, the initial recommendation and what you have added to docs now both worked for me:

- `compile('com.facebook.android:facebook-login:4.27.0')` this works
- `compile('com.facebook.android:facebook-android-sdk:4.27.0')` this also works

Any difference we should be aware, is one more correct than the other?

[2017-10-11 18:49] cutiko commented on #933
@samtstern sorry if I'm spamming here but maybe I found something, according to the docs [suggested](https://developers.facebook.com/docs/android/componentsdks) initially, Facebook move the SDK to separate modules. So it will be less heavy to add only the Facebook login module, however, I'm not sure if the ui library is doing something else.

I recently had to implement some Google login with cust

[2017-10-11 19:00] SUPERCILEX commented on #933
@cutiko Yep, see #967

[2017-10-11 19:04] cutiko commented on #933
@SUPERCILEX thanks for the clarification, and again, sorry if I was too anxious

[2017-10-11 19:30] SUPERCILEX commented on #933
@cutiko NP, you could have used `facebook-android-sdk`, but it includes a bunch of unnecessary stuff and would have bloated your APK. `facebook-login` is actually [reasonably small compared to the whole thing](https://github.com/facebook/facebook-android-sdk#structure).

[2017-10-11 20:45] LeeHounshell commented on #966
This problem just stopped.  I have no idea why.  but now the same code as before is not failing Facebook login.

[2017-10-11 21:09] samtstern commented on #965
@CyberpunkPsychonaut looking at the error I see this:

[code]

And then farther up the stack I see thinks about method reflection, which reveals that this is an error in data mapping from a Java object to a Firestore object.

Could you show me the Java class that you're passing to `set()` in your `uploadBackpack` class?  I assume it's a `Backpack` class or similar.

[2017-10-11 21:58] CyberpunkPsychonaut commented on #965
`import android.os.Parcel;
import android.os.Parcelable;

import io.realm.RealmObject;

public class Backpack extends RealmObject implements Parcelable {

    public String id;
    public String ownerId;
    public String name;
    public double packWeightKg;

    public Backpack() { }

    public Backpack(String id, String ownerId, String name, double packWeightKg) {
        this.id = id;

[2017-10-11 22:03] SUPERCILEX commented on #964
@joemerritt Nope, see duplicate #441.

[2017-10-11 22:13] SUPERCILEX commented on #965
I would guess that extending `RealmObject` is breaking things. Any reason to be using both Realm and Firebase? Seems like a weird combo. 😄

[2017-10-11 22:31] samtstern commented on #965
Yeah that's definitely it, Realm must be using observable somewhere which is breaking us.  Not sure waht you can do besides create another plain object class like `BackpackPOJO` or something.

[2017-10-11 22:32] samtstern commented on #964
Closing as duplicate.

[2017-10-11 22:32] #964 closed

[2017-10-12 03:01] CyberpunkPsychonaut commented on #965
I could probably create an inner pojo class and have a toPojo() method. Pretty much all of the user data doesn't need to be online and I like realm's interface for handling local database operations. I like the ecosystem Firebase offers but it, like all interfaces of its scale, naturally lacks in agility. I try to make the most of both technologies.

[2017-10-12 17:41] samtstern commented on #965
@CyberpunkPsychonaut sounds good to me.  Going to close this issue since there's nothing we can do in `FirebaseUI-Android` but feel free to keep posting here if something goes wrong.

[2017-10-12 17:41] #965 closed

[2017-10-13 04:06] abhinavsingh commented on #856
FWIW, this happens on **API 25** _(not for 23 or 26)_.

[2017-10-13 04:18] SUPERCILEX commented on #856
@abhinavsingh That should be irrelevant since we're using the support libraries. Either way, we're [rewriting FirebaseUI](https://github.com/firebase/FirebaseUI-Android/pull/962) into a new age of stability. 😄 Thanks for trying to help though!

[2017-10-13 06:05] thelong1EU commented on #856
Thanks for your work. You are wonderful!

On Oct 13, 2017 7:18 AM, "Alex Saveau" <notifications@github.com> wrote:

[2017-10-13 06:15] afaideen opened #969 "Auth UI Demo"
The demo always crash after click when run with Samsung Note2 Api 19.

[2017-10-13 06:27] SUPERCILEX commented on #969
@afaideen What's the crash? You can take a look at LogCat.

[2017-10-13 09:48] Dharaa commented on #782
I had same error log and i already pass data: Intent? but its didn't work

[2017-10-13 19:48] brezinajn opened #970 "indexedQuery support for Firestore"
Hi,
are there plans to add indexedQuery or any client side join capability for Firestore?
Thanks :)

[2017-10-14 11:41] simmyy commented on #941
I used       compile "com.google.firebaseui:firebase-ui:3.0.0" and
I'm getting
Error:Failed to resolve: com.google.firebaseui:firebase-ui:3.0.0

[2017-10-14 15:04] halfbaked opened #971 "Firebase Storage UI: GlideApp not importable"
Hey guys,

I had trouble referencing GlideApp in Android Studio. I got it solved but I think adding more to the documentation will help other folks who come along. The missing piece for me was to include the annotation processor by way of the gradle build file.

     compile 'com.github.bumptech.glide:glide:4.1.1'
     annotationProcessor 'com.github.bumptech.glide:compiler:4.1.1'

I stumbled the

[2017-10-15 07:54] ChanSek opened #972 "FirestoreRecyclerAdapter not working with LifecycleOwner"
* Android device: Moto G5s Plus
  * Android OS version: Android N 7.1.1
  * Google Play Services version: 3.1.0
  * Firebase/Play Services SDK version: 11.4.2
  * FirebaseUI version: 3.0.0

Trying to use FirestoreRecyclerAdapter but getting ClassCastException if trying to use it with Architecture Components. Seems like it was working with previous versions of SDK.

Below is the code in my Activity

[2017-10-15 11:39] brezinajn commented on #972
Set your lifecycle dependency to beta1 `annotationProcessor "android.arch.lifecycle:compiler:1.0.0-beta1"` beta2 conflicts.

[2017-10-15 12:45] ChanSek commented on #972
Does that mean, I have to use beta1 with Firestore?

[2017-10-15 14:01] brezinajn commented on #972
Yes.

[2017-10-15 15:33] TheCraftKid commented on #806
On second thought, it's possibly likely we're going to lump this in with #962, so there's no telling when that's going to be completed. It may be anywhere from a week to whenever it's done, but we may introduce a minor version bump with a fix for this. I wouldn't bet on that, though.

[2017-10-15 18:19] TheCraftKid commented on #972
The library currently uses version 1.0.0-beta1 of Android Architecture Components and version 26.1.0 of the Android Support Libraries which implement the `LifecycleOwner` interfaces used in `setLifecycleOwner()`. Make sure you're using version 26.1.0 of the support libraries.

[2017-10-15 19:34] SUPERCILEX commented on #970
@brezinajn Nope. (At least not on my side, @samtstern?) This is because you should be able to structure your data in a way that bypasses the need for joins. Try diffing this [RTDB Gist](https://gist.github.com/SUPERCILEX/72d6f78c4281a822166c7d8f9aa827d0) vs the [Firestore Gist](https://gist.github.com/SUPERCILEX/95813a9e0ff4854e3d51dbff75282aef).

[2017-10-15 19:59] SUPERCILEX commented on #972
Hmmm, we'll need to recompile the db modules—I thought Google was supposed to stop breaking stuff at beta. 😆 Anyway, if you're up to [setting up JitPack](https://jitpack.io/), you can add a custom version of FirebaseUI that I built until we release an official version with `beta2` bundled:
[code]

[2017-10-15 22:03] brezinajn commented on #970
Yeah, thats basically what I came up with as a replacement as well. Thanks for clarification.

[2017-10-15 22:03] #970 closed

[2017-10-16 02:40] CyberpunkPsychonaut opened #975 "onActivityResult not triggered"
I have a login activity calling

`
    startActivityForResult(
                    AuthUI.getInstance()
                            .createSignInIntentBuilder()
                            .setIsSmartLockEnabled(!BuildConfig.DEBUG)
                            .setTheme(R.style.AuthUITheme)
                            .setLogo(R.drawable.logo_hi_res)
                            .setAvailableProvide

[2017-10-16 03:27] kalehv opened #976 "Facebook SDK 4.27.0 Issue - WebDialog"
### Environment
  * Android device: Emulator
  * Android OS version: 8.0.0
  * Google Play Services version: 11.5.09 (on Emulator)
  * Firebase/Play Services SDK version: 11.4.2
  * FirebaseUI version: 3.0.0
  * Facebook SDK Version: 4.27.0

I upgraded my firebase-ui dependency to 3.0.0 and Facebook-SDK to 4.27.0
[code]
I looked into the `FacebookProvider.java` class and it does have updated code

[2017-10-16 03:39] kalehv commented on #976
I placed a breakpoint in `FacebookProvider.java` and seems it's consuming new code now. No other action was necessary.

[2017-10-16 03:39] #976 closed

[2017-10-16 05:55] sunnykumargpt opened #978 "How to pass onQueryTextSubmit Activity to ListContentFragment"
**MainActivity**
[code]

[2017-10-16 09:20] pinkeshdarji commented on #887
@samtstern can you please suggest how to use it? I am using firebase 3.0.0 version.

[2017-10-16 15:11] dimipaun opened #979 "Support custom identity Providers (IdPs)"
Hi,

Would be great if we could add our custom IdP -- right now it seems the only way to do so would be to fork the library, right?

[2017-10-16 15:14] samtstern commented on #978
@sunnykumargpt I have to close this issue because I am not able to debug it for a few reasons

  * You have provided your entire Main Activity, without enough information to find out which piece of code you're actually having an issue with.
  * You did not provide any other information such as the version of the library you're using, what errors you are seeing, what behavior you want to achieve, e

[2017-10-16 15:14] #978 closed

[2017-10-16 17:08] samtstern commented on #970
@brezinajn yes just to confirm we don't currently have plans to add this capability to the library for Firestore.

[2017-10-16 17:09] samtstern commented on #972
Thanks all for helping to debug this.  I am going to close this issue since it can be fixed with different dependencies, thanks!

[2017-10-16 17:09] #972 closed

[2017-10-16 17:10] samtstern commented on #941
@simmyy it's `com.firebaseui` not `com.google.firebaseui`

[2017-10-16 17:11] samtstern commented on #969
@afaideen there is not enough information here to debug so I am closing this issue.  Please follow the issue template when opening issues on this repository.

[2017-10-16 17:11] #969 closed

[2017-10-17 04:08] jasonschwartzman commented on #830
When.  When are you releasing them.  Those who had used DIGITS are completely screwed right now.
Please clarify samstern

[2017-10-17 20:47] samtstern commented on #830
@jasonschwartzman this was an oversight on my part, I will release these today.

P.S. please be respectful when filing issues, it was not our intention to "screw" anyone.

[2017-10-17 21:10] TwistedTransistor commented on #492
I think it would be a good idea to show both URLs for the privacy policy and TOS in the screen where you get to pick how to log in, like it's done with the setLogo method.

This way the user can check the contents of each of those regardless of which provider they want to use.

[2017-10-17 21:51] samtstern commented on #830
This was released in version `3.1.0`.

[2017-10-17 22:36] SUPERCILEX commented on #830
@samtstern we can probs close this issue now, right? 😄

[2017-10-17 22:40] jasonschwartzman commented on #830
Checking this/  Thanks to all!

On Wed, Oct 18, 2017 at 1:36 AM, Alex Saveau <notifications@github.com>
wrote:

--
*Yaakov Schwartzman *

[2017-10-18 04:38] abdulwasae opened #985 "NPE when dismissing loading dialog"
The `dismissLoadingDialog()` method in PhoneVerificationActivity throws NPE at `            mProgressDialog.dismissAllowingStateLoss();
`

Here is the stacktrace:

`arrow_drop_down
Exception java.lang.NullPointerException: Attempt to invoke virtual method 'android.support.v4.app.FragmentTransaction android.support.v4.app.FragmentManager.beginTransaction()' on a null object reference
android.suppor

[2017-10-18 04:43] SUPERCILEX commented on #985
@abdulwasae Yep, we're [rewriting FirebaseUI](https://github.com/firebase/FirebaseUI-Android/pull/962) to fix the fundamental issues behind this.

@samtstern Lol, told ya it wasn't going to work. We tried so hard though! 😆 You could add a null check for the `FragmentManager` but it's kinda hopeless at this point.

[2017-10-18 04:59] quantumInfection commented on #985
@abdulwasae sitting at office. Fixing useless bugs.

[2017-10-18 11:47] mengoni commented on #492
@samtstern

I've followed the example code for the Phone Authentication (I do not need email auth), but I cannot see the Tos and privacy. This is my code:

[code]

Have I missed something?

[2017-10-18 13:31] yajur96 opened #988 "Null Pointer Exception crash using PhoneAuth in ver 2.4.0"
I have an app released in the Google Play Store. Recently, I observed a crash due to the following null pointer exception in FirebaseUI phone auth.

Device - Xiaomi HM 2LTE-IN (HM2014818) (Android 5.1)
Used the following dependancy : compile 'com.firebaseui:firebase-ui-auth:2.4.0'
Here is the log:
java.lang.NullPointerException:
  at android.support.v4.app.DialogFragment.dismissInternal (DialogFra

[2017-10-18 15:23] samtstern commented on #988
Duplicate of #985

[2017-10-18 15:23] #988 closed

[2017-10-18 16:36] brandall76 commented on #123
@SUPERCILEX  thanks for your work on the merging accounts, just what I needed.

Forgive my ignorance, but how do I confirm your alterations on this fork?

`implementation "com.github.SUPERCILEX.FirebaseUI-Android:firebase-ui-auth:164165ed92"`

I'm trying to work out why my application isn't obfuscating and I want to make sure that [this commit](https://github.com/firebase/FirebaseUI-Android/pull/8

[2017-10-19 23:02] SUPERCILEX commented on #123
Sorry for the delay, I've been busy with #962. Here is the latest and greatest with FirebaseUI `v3.1.1-dev` bundled in:
[code]

The current implementation works fine AFAIK, but I'm going to stop supporting it until #962 goes through at which point I'll have to rewrite this PR anyway.

[2017-10-19 23:25] brandall76 commented on #123
Thanks @SUPERCILEX

I hope they're paying you well!

[2017-10-19 23:30] SUPERCILEX commented on #123
@brandall76 Lol, nah... I reap the benefits in what I learn working on FirebaseUI and other cool perks like alpha access to Firebase SDKs. Oh, and it eventually improves my apps too. 😆

Anyway, glad this PR is helpful to you! One of these days it'll be merged. 👍

[2017-10-19 23:44] brandall76 commented on #123
@SUPERCILEX well I hope they're going to send you a huge collection of test devices as a sign of appreciation! - You seem like a pretty valuable asset to me, looking around the PRs on here...

I could really do with your expertise on a project I've just pushed!

Anyway, thanks again 👍

[2017-10-20 15:41] xsorifc28 opened #989 "Account linking works for one database but not the other, same settings."
I have a debug and release firebase project for one of my apps. I use login with google/fb/email. In one of the firebase projects, when I sign in with google + fb, i see that auth joins the accounts (debug). However, in the other database (release), this does not happen. Both projects have "One account per email address" enabled. The release firebase project was imported as a  legacy firebase proj

[2017-10-21 14:53] junoprima opened #990 "How Can join two table in Firebase Ui"
![image](https://user-images.githubusercontent.com/29189180/31852878-f0baf3b2-b6a9-11e7-9bcf-fda15e1812c2.png)

From this photo i'm query report and get all but on rp_author i need get user_fname from table User

and i see try FirebaseIndexRecyclerAdapter i dont understand this can someone show me a sample how to do like this

[2017-10-23 07:57] MohamedAbdelrazek commented on #661
when there is no Internet the App Open the main Activity Instead of LoginActivty.

[2017-10-23 16:10] samtstern commented on #990
@junoprima this activity has an example of how to use indexed data:
https://github.com/firebase/FirebaseUI-Android/blob/master/app/src/main/java/com/firebase/uidemo/database/realtime/RealtimeDbChatIndexActivity.java

And this section of the docs describes it as well:
https://github.com/firebase/FirebaseUI-Android/tree/master/database#using-firebaseui-with-indexed-data

[2017-10-23 21:03] samtstern commented on #989
@xsorifc28 we will need more information to debug:

  * Have you enabled the correct Sign In Providers in each project?
  * Do you have the SHA1 configured properly?  This is likely related to the issue since Google Sign In is dependent on the SHA1
  * What error logs do you see?

[2017-10-24 02:17] xsorifc28 commented on #989
@samtstern

- Both projects have the same Sign In Providers enabled.
- One project is for the release version of the app, so that one has the release SHA1 where as the other has the debug SHA1. Sign in with Google/Facebook/Email works on _both_ projects. The **release** project **does not** join the emails. I see two auth-list items for the same email, one for Google and one for Facebook.
- I didn

[2017-10-24 04:15] junoprima commented on #990
In this case why i cant use FirebaseRecyclerOption  it cant import and anything

[2017-10-24 08:19] ismail-khan commented on #985
@samtstern, @SUPERCILEX, any visibility on when this change will be released? Have a bunch of apps in production that are seeing this problem :(

[2017-10-24 15:34] samtstern commented on #985
@ismail-khan no fixed deadlines right now, we want to get a few other fixes in `3.1.1`.

If you really need to use it right now you can always check out the development branch and create a local build.

Can you reproduce this problem yourself, or only seeing it in crash reports?

[2017-10-24 15:34] samtstern commented on #990
@junoprima make sure you're using version `3.0.0` or higher of the FirebaseUI libraries.

[2017-10-24 15:35] samtstern commented on #989
@xsorifc28 ok so is this what you are trying to do:

- Sign up with email
- Sign out
- Sign up with a Google/Facebook account with an email that matches
- See account linking

?

[2017-10-24 15:55] ismail-khan commented on #985
@samtstern only in crash reports so far. Think we'll just check out the dev branch for now. Thanks for the info!

[2017-10-25 00:54] xsorifc28 commented on #989
Yes.

[2017-10-25 02:45] junoprima commented on #990
@samtstern  Thx a lot sir i got this

[2017-10-25 15:06] samtstern commented on #990
@junoprima glad you solved it! Closing this issue.

[2017-10-25 15:06] #990 closed

[2017-10-25 15:08] samtstern commented on #989
@xsorifc28 do you see the same UI flow in each app?  You should see one of the "welcome back" screens and then be prompted to sign in with the original method.

In general any information you could provide here would be helpful.  Logging output, a description of where the UI fails, etc.

It's really not clear that this is a FirebaseUI issue at all based on the amount of information provided.

[2017-10-26 15:53] #830 closed

[2017-10-26 16:45] caiodev opened #992 "Twitter login error (Activity must not be null)"
### Describe your environment

  * Android device: LG L PRIME D337 / RAM: 1GB
  * Android OS version: 5.0 Lollipop
  * Google Play Services version: 3.1.0
  * Firebase/Play Services SDK version: 11.4.2
  * FirebaseUI version: 3.1.0

### Step 3: Describe the problem:
When i try to login using Twitter option the app crashes

#### Steps to reproduce:

  1. Click the Twitter login button
  2. Put your

[2017-10-26 17:17] SUPERCILEX commented on #992
Yeah, sadly we've tried adding various hacks over the past few months, but none of them have worked very well. Now we're taking the fundamental approach and rearchitecting FUI which is going to take time unfortunately. No quick fix coming that I know of. 😊

[2017-10-26 17:24] caiodev commented on #992
I see @SUPERCILEX, it's hard because FUI is huge. There's a lot of code involved. But I really look forward to see this bug fixed. You guys are doing a terrific job keeping FUI alive, it really saves us much time during development. We, developers appreciate that. Thanks for it 👍

[2017-10-26 20:47] b95505017 commented on #972
I copied FirestoreRecyclerAdapter out to my project and let it implement [DefaultLifecycleObserver](https://developer.android.com/reference/android/arch/lifecycle/DefaultLifecycleObserver.html) so that I could use arch `1.0.0-rc1` & java8 env.

[2017-10-26 21:19] samtstern commented on #992
@caiodev thanks for the kind words
@SUPERCILEX thanks for jumping in!

Closing as duplicate of #856

[2017-10-26 21:19] #992 closed

[2017-10-26 21:56] SUPERCILEX commented on #972
@b95505017 Yeah, I'd like to somehow get FUI on Java 8, but I remember a failed experiment with @samtstern on EasyPermissions where we had to revert to Java 7 to support devs who haven't upgraded yet.

@samtstern what do you think our policy should be with Java 8? Should we wait until AGP 3.1 is released and then say everyone has to support Java 8? Or is everything already being compiled to Java 7

[2017-10-26 22:41] samtstern commented on #972
@SUPERCILEX last time I tried what I learned (or what I think I learned) is that as soon as I set my source compatibility level to 8 I am mandating that folks who consume this library do the same.  If that's the case I'd say I have no plans to update to java 8 for years ... If I had to put my money on where the community will go I'd bet that we see a split into two main camps: Java 7 and Kotlin.

[2017-10-27 00:03] SUPERCILEX commented on #972
@samtstern Well crud, I thought you might have some magic solution up your sleeve... guess not. 😆

Prep for a great plug 😄: _speaking of Kotlin..._ are you open to that? I know you weren't so sure before, but I've been using Kotlin for a while now and I can tell you it's definitely worth it. I think it's far too late the refactor PR, but once that's done I'd like to add the dependency and convert

[2017-10-27 00:14] samtstern commented on #972
I am certainly open to Kotlin in the project, and it's awesome that you have the knowledge because I am a n00b.

I'm excited to see the recording of the "Building Libraries in Kotlin" talk at Kotlinconf:
https://blog.jetbrains.com/kotlin/2017/09/kotlinconf-new-workshop-and-community-event-by-jetbrains-and-realm/

But in general I agree, Kotlin is great and we should use it where we can.

[2017-10-27 00:36] SUPERCILEX commented on #972
@samtstern AWESOME!!! 😆 Cool talk BTW, that's when I wish I could live in SF. Hopefully Realm will record some of it.

[2017-10-27 17:10] samtstern opened #993 "Create a Firebase Storage caching class"
I am filing this issue as a general feature request.  I have already implemented this elsewhere, but would need some help from iOS to make it cross platform.  In a number of my projects I have implemented a class with this signature:

[code]

[2017-10-27 18:15] SUPERCILEX commented on #993
Haha, I do exactly the same thing though I prefer to pass in a storage reference and return a file instead to the raw bytes for flexibility's sake.

[2017-10-27 18:23] samtstern commented on #993
Yeah passing the `StorageReference` is definitely better (wonder why I chose String...).  And the lib should offer a choice between bytes and File, since one of the nice thing about getting bytes is that it means you're done with operations that need to be done off the main thread.

[2017-10-27 18:26] SUPERCILEX commented on #993
Oh true, we could just have the base method be the file one and add another method that's a continuation and reads the bytes using an async executor. Shouldn't be too hard, I like it. 😄

[2017-10-28 12:04] agentraymond232 commented on #660
Any fixes to this?

[2017-10-28 13:22] gautam2682 opened #994 "java.lang.RuntimeException: where google account is not added in phone"
* Android device: genymotion emulator
  * Android OS version: 4.4
  * Google Play Services version: 11.4.2
  * Firebase/Play Services SDK version: 11.4.2
  * FirebaseUI version: 3.1.0

Here is logcat :-
[code]

When sign in button is clicked in genymotion emulator where google account is not set up it automatically stopped , but does not stop when i set checked to false for google provider in xml,

[2017-10-29 04:20] #994 closed

[2017-10-29 05:56] CuspMe opened #995 "FirebaseListOption"
https://stackoverflow.com/questions/46912532/android-using-firebaseui-with-firebaselistoptions-to-populate-a-listview-doesnt

[2017-10-29 06:18] SUPERCILEX commented on #995
See https://stackoverflow.com/a/46997383/4548500

[2017-10-29 20:30] Hypercruse opened #996 "Build fail after migration to plugin 3.0.0 and supportversion 27.0.0"
Since i changed to Android Studio 3.0, Gradle Plugin Version 3.0.0 and supportLibraryVersion 27.0.0 my build keeps failing because some style attributes are not found. Im using compileSdkVersion 27, buildToolsVersion 27.0.0 and minSdkVersion 17.
Error in Messages:
![unbenannt](https://user-images.githubusercontent.com/29468072/32147985-341e58fa-bcf0-11e7-8de1-95f4c20409b7.JPG)
Repositories:
![unbe

[2017-10-29 20:45] SUPERCILEX commented on #996
I have no problems with 27 and 3.0. Try deleting the `.gradle` folder in your project's directory to force a full cache refresh (`./gradlew clean` doesn't always fix things from my experience).

[2017-10-29 21:01] Hypercruse commented on #996
Nope that didnt help either. Same problems as before

[2017-10-29 21:03] SUPERCILEX commented on #996
Oh wait, actually it's probably because you're excluding `support-v4`. I don't think you should be doing that.

[2017-10-29 21:05] Hypercruse commented on #996
Thats from one of my tries to fix it (read it in some stackoverflow thread), just removed it and there are still the same problems

[2017-10-29 21:13] SUPERCILEX commented on #996
Hmmm, ok that's really weird. Could you try using my custom fork insead?
[code]

I swear I didn't change anything, but if my fork works I'll have to figure what changed from master.

[2017-10-29 21:19] Hypercruse commented on #996
Im really sorry but that doesnt work either. Same problems, just another filename at the top of the problem stack

[2017-10-29 21:25] SUPERCILEX commented on #996
Huh, I'm not sure what to say. Something has gone very wrong somewhere along the line. I would just copy your project, delete all the `build` folders, the `.gradle` folder, and the `.idea` folder, then re-import it into Android Studio since it doesn't appear to be a FirebaseUI issue.

[2017-10-30 09:47] Apsaliya commented on #790
Is this problem also occurs on rooted devices?

[2017-10-30 10:27] Hypercruse commented on #996
Well that didnt help, but i just used an old version and didnt upgrade it to 3.0 gradle then its working again, weird. But thanks for your time anyway!

[2017-10-30 10:39] #996 closed

[2017-10-30 13:20] samtstern commented on #995
I believe @SUPERCILEX has answered this on StackOverflow, closing here.

[2017-10-30 13:20] #995 closed

[2017-10-30 16:58] isaisachen commented on #790
1. Phone Auth doesn't work on emulators.
2. Phone Auth does work on rooted device, but features like instant validation won't work.
3. Google Sign-In works on emulators
3. There are many reasons to invalid_app_credential, e.g.
    a) Missing right package name + SHA1 registration
    b) Phone Auth not turned on in console
    c) emulators
    ...
If your Google Sign-In also doesn't work, at least

[2017-10-31 17:00] saneeshvs commented on #17
With firestore ui release should we be able to pagination? @puf

[2017-11-01 10:38] Kishanjvaghela commented on #135
I have created custom FirebaseRecyclerAdapter that support the Filterable feature.
[Custom Filterable FirebaseRecyclerAdapter](https://gist.github.com/Kishanjvaghela/67c42f8f32efaa2fadb682bc980e9280)

[2017-11-01 10:42] samtstern commented on #17
@saneeshvs no this feature is still not implemented.

[2017-11-01 18:08] saneeshvs commented on #17
@samtstern will this feature be implemented in the future

[2017-11-01 18:28] samtstern commented on #17
Maybe!  We'd like to do it but have not yet found the time or settled on a
design we like.

On Wed, Nov 1, 2017, 7:08 PM Saneesh V S <notifications@github.com> wrote:

[2017-11-01 18:30] saneeshvs commented on #17
@samtstern Hoping to see this feature soon

[2017-11-01 19:07] xsorifc28 commented on #989
Yes, UI flow is same - infact the app is the same, just different package name. The logs just show "notifying about auth state listener". No information about linking.  I also am beginning to believe that this is not a Firebase UI issue. Though, could you point me to where the linking happens in FirebaseUI? I'd like to debug that part of the code to see if I can get any information out of it.

[2017-11-02 10:52] kidokimo opened #997 "Signout from Fragment or non-activity class"
Hi There,

I am trying to use this sign out method just to be able to add an OnCompleteListener to the sign out process But it asks for a FragmentActivity and i am calling it from inside a fragment (this fragment is called by an AppCompatAcivity).. Here is the code

     AuthUI.getInstance() .signOut(getActivity()) // this is the issue
                            .addOnCompleteListener(new OnCompl

[2017-11-02 14:46] SUPERCILEX commented on #997
`AppCompatActvity` actually extends `FragmentActivity` so everything should compile just fine. Is something not working?

[2017-11-04 19:10] fdambrosio commented on #56
I have the same problem

[2017-11-05 06:39] TylerMcCraw commented on #123
@SUPERCILEX
First off, thank you for your dedication to this project. Your willingness to provide intermediate builds while we're all waiting on that pesky iOS work to be finished is outstanding.

I wanted to mention something real quick.
From my testing earlier today, if you have an anonymous type FirebaseUser (via `firebaseAuth.signInAnonymously()`), and you later call `linkWithCredential()`, th

[2017-11-05 07:03] SUPERCILEX commented on #123
@TylerMcCraw Ah, I see you've gotten into the meat of account linking. 😆 Since this is a complicated topic, I actually wrote a [full section on it](https://github.com/SUPERCILEX/FirebaseUI-Android/blob/94a72954242de4828024712842579cf575a094e5/auth/README.md#handling-account-link-failures) in the PR's README.

PS: No problem about the Kotlin, I've got one of my projects to just under 90% Kotlin! 😄

[2017-11-05 17:45] TylerMcCraw commented on #123
So, I read your updated README and drilled through the code. It seems that the Merge Service is _just_ for when you know the anonymous account has data and an existing non-anon account has data.

I was trying to tackle the issue of when a new anonymous account wants to authenticate with a provider for the first time.
I can happily say that this is working for me when using this build on your fork:

[2017-11-06 08:06] SUPERCILEX commented on #123
Yep, the merging process is only for that rare case where the user already has an account. Glad it's working for you! 👍

[2017-11-06 14:46] TylerMcCraw commented on #123
Sorry, one more thing.

There may be an issue or maybe I'm not understanding something.
In the scenario of:
1. Sign in user anonymously
2. Link with provider authenticated account (this combines anon and provider accounts and anon account is deleted)
3. Sign out
4. Sign in user anonymously (w/ diff anon account this time)
5. Link with same provider as before

The second anonymous account is not de

[2017-11-06 17:17] CyberpunkPsychonaut commented on #975
Any help here?

[2017-11-06 17:26] SUPERCILEX commented on #975
Do you have code that kills the activity in `onCreate` if the user is signed in? And are you calling `super.onActivityResult(...)` in your activities and fragments?

[2017-11-06 17:54] SUPERCILEX commented on #123
Yes, this is expected behavior. When `linkWithCredential` is used, it really does link the two accounts—that is, the credential is associated with a Firebase controlled user. Thus, the anonymous account isn't deleted at all. Instead the new provider's credential is added to the Firebase user's stable ID and "linked." However, when a collision occurs, Firebase can't link the accounts because there

[2017-11-06 18:43] brandall76 commented on #123
@SUPERCILEX @TylerMcCraw just to throw my two cents in - I think there are a number of use cases here - some common, some edge.

Given that FirebaseUI attempts to provide a 'plug and play' solution for developers of all experience, I believe there needs to be multiple APIs exposed for both simple and complex merging.

I'm fairly sure the most common use case is where a user is 'upgraded' from anon

[2017-11-06 19:00] lalo2302 commented on #976
Hi! I am having this exact problem. Could you give more details about your solution?

Thank you.

[2017-11-06 19:07] SUPERCILEX commented on #976
@lalo2302 make sure to be using FirebaseUI 3.1 and `com.facebook.android:`**`facebook-login`**`:4.27.0`. Also try cleaning your cache.

[2017-11-06 20:36] SUPERCILEX commented on #123
Well dang, those are some long two cents! Maybe more like three or four? 😂

Ok, anyway... First off, thanks for all your input!

For the simple, snap your fingers case of linking accounts, I'm hoping to get that into FirebaseUI by the end of the year with a big refactor we're doing (no promises, of course 😄). As for the other cases, here's my philosophy: devs should be forced to think about this t

[2017-11-06 22:18] Calebzor opened #998 "FirebaseRecyclerAdapter and RecyclerView scroll position is lost on orientation change"
### Environment

  * Android device: API 27 Emulator / Google Pixel
  * Android OS version: 27 / 8.0.0
  * Google Play Services version: whatever the emulator has / 11.7.45 (940-174122868)
  * Firebase/Play Services SDK version: 11.4.2
  * FirebaseUI version: 3.1.0

### The problem:
On orientation change the recycler view using `FirebaseRecyclerAdapter` looses it's scroll position and is always sc

[2017-11-07 00:22] SUPERCILEX commented on #998
@Calebzor This is expected behavior because FirebaseUI doesn't have a stable data source—that is, we have to resubscribe and regenerate the entire list on each screen rotation. However, using Android Architecture Components, you can fairly easily keep a `FirestoreArray` instance to keep alive across config changes.

I have a [project](https://github.com/SUPERCILEX/Robot-Scouter/blob/d29d1f5c102abc

[2017-11-07 00:50] SUPERCILEX commented on #998
Oh lol, as I was looking through my code to explain this I found a bug. Thanks for helping me find a bug?
 😆 Anyway, I've updated the commit references to include the bugfix.

[2017-11-07 05:11] ncherian commented on #998
I also experience a similar issue. The scroll position is not retained when returning back from next screen and the screen goes back to first item on recycler view list. How to solve it?

[2017-11-07 05:13] SUPERCILEX commented on #998
See my answer above.

[2017-11-07 08:45] ncherian commented on #998
@SUPERCILEX I solved my problem with a simpler solution. I just called adapter.startListening();  in onViewCreated() instead of onStart and called adapter.stopListening(); in onDestroyView() instead of onStop()
That prevented the entire list from regenerating while coming back from next activity and thus retained the scroll position where it was previously.

[2017-11-07 08:52] samtstern commented on #671
FYI the new `FirebaseUserMetadata` class should help with this:
https://firebase.google.com/docs/reference/android/com/google/firebase/auth/FirebaseUserMetadata

[2017-11-07 08:53] samtstern opened #1001 "Document user metadata"
Once we move to `11.6.0` we get this new class:
https://firebase.google.com/docs/reference/android/com/google/firebase/auth/FirebaseUserMetadata

This should help people with the formerly common question of distinguishing between new and returning users.

[2017-11-07 08:54] samtstern commented on #998
Thanks everyone for commenting!  This seems like it's working as intended from the FBUI perspective, so closing the issue.

[2017-11-07 08:54] #998 closed

[2017-11-07 15:39] lalo2302 commented on #976
I was using an outdated version of firebase ui. Thank you very much.

[2017-11-07 15:46] SUPERCILEX commented on #998
@ncherian that works for the simple case but doesn't address screen rotations. When you get to that point in development, feel free to come back to this comment. 😄

@samtstern what do you think of https://github.com/firebase/FirebaseUI-Android/issues/998#issuecomment-342333313?

[2017-11-08 06:41] gnasherx commented on #204
Thanks @14145057. i removed sethasfixedsize  and yes it's woking now...

[2017-11-09 02:24] lborgman commented on #419
Just found that the email address is in result.user.providerData. Should not that be copied to result.user.email?

[2017-11-09 10:26] edenleeee opened #1003 "Can i intergrate FirebaseUI - FirebaseListViewAdapter with Material Search Bar ?"
* Android device: Redmi Note 4
  * Android OS version: 7.0
  * Google Play Services version: 11.4.2
  * Firebase/Play Services SDK version: 11.4.2
  * FirebaseUI version: 3.1.0

Describe the problem:

How can i use MaterialSearchBar (https://github.com/mancj/MaterialSearchBar) to search for user or other things on Firebase Realtime Database ?

I have thought about using Firebase UI for Android to

[2017-11-09 18:52] SUPERCILEX commented on #1003
This question should probably be posted on SO, but I'll give you a short answer here.

I've briefly looked at MSB's source code and it looks like they require you to extend their custom adapter. So basically, you can't use any of the Firebase adapters. Either way, I don't think search suggestion content needs to be realtime! 😆 Instead, just add a text watcher with some sort of time filter so you d

[2017-11-09 19:34] samtstern commented on #1003
Thanks @SUPERCILEX for giving it a stab and yes @edenleeee this sort of thing should be posted on StackOverflow, so I'm going to close this issue.

We try to reserve github issues for potential library bugs or feature requests!

[2017-11-09 19:34] #1003 closed

[2017-11-10 11:43] samtstern commented on #993
Shower thought: this could eventually be expanded to handle uploads and downloads so that when you upload we populate the cache first.  This would mean that you could use Firebase Storage in both directions offline.  I'll have to ask the Storage folks if they'd considered this.

[2017-11-10 12:01] ashfaaaa commented on #998
@SUPERCILEX @ncherian hi im new to android development.. how can i get it done? can you give me detailed instruction on how can i get it done it?

[2017-11-11 07:16] nicks258 commented on #301
Any idea how to resolve this.

[2017-11-11 14:48] apspot opened #1005 "Auth sign in nullpointer exception"
I try to login but before the login activity appears the app crashes. I use the device for testing and I have logged in and out several times but today I don't know what happened I'm not able to see the log in screen any more. If I disable smart lock with .setIsSmartLockEnabled(false) it solves the problem. On other 2 devices everything is working fine with enabled smart lock. What can be the prob

[2017-11-11 21:39] SUPERCILEX commented on #1005
Same root cause as https://github.com/firebase/FirebaseUI-Android/issues/856.

[2017-11-12 05:19] ChanSek commented on #46
Got a similar exception. My ViewHolder, Adapter and Fragment are public and are in separate files.

java.lang.RuntimeException: java.lang.NoSuchMethodException: <init> [class com.firebase.ui.firestore.FirestoreRecyclerAdapter]
                      at android.arch.lifecycle.j.a(Lifecycling.java:111)
                      at android.arch.lifecycle.j.c(Lifecycling.java:130)
                      at

[2017-11-12 05:25] SUPERCILEX commented on #46
@ChanSek That's a different issue caused by some proguard bugs in Android Architecture Components. If you force upgrade AAC to `v1.0.0`, those bugs will go away.

[2017-11-12 05:33] ChanSek commented on #46
My Current AAC is

implementation 'android.arch.lifecycle:extensions:1.0.0'
kapt 'android.arch.lifecycle:compiler:1.0.0'

my ProGuard rules are:

-keep class com.ecom.products.ProductHolder
-keep class com.ecom.products.ProductsAdapter
-keep class com.ecom.products.ProductsFragment
-keepclassmembers class com.ecom.products.ProductsFragment { *; }
-keep class com.firebase.ui.firestore.FirestoreRecy

[2017-11-12 05:43] SUPERCILEX commented on #46
@ChanSek Oh wait, I forgot overriding won't work because we use annotations which are already compiled. If this is a blocking issue for you, feel free to use this custom build:
[code]

PS: you shouldn't need any of those proguard rules unless you're doing something funky. Also, you'd want to keep the generated class: `FirestoreRecyclerAdapter_LifecycleAdapter`.

[2017-11-12 05:46] ChanSek commented on #46
@SUPERCILEX, I am not doing any funky stuff. Just because I got this exception. So thought of fixing it with these proguard rules. These are added just now to identify the root cause.

By the way, when are you folks planning to release with this fix?

[2017-11-12 06:00] SUPERCILEX commented on #46
@ChanSek Sweet, then you should be good to go with that custom build! 😄 As for an ETA, @samtstern would be a better person to ask.

[2017-11-12 06:01] ChanSek commented on #46
@SUPERCILEX, gradle is failing to resolve the dependency you provided. Can you please help?

[2017-11-12 06:07] SUPERCILEX commented on #46
Oh, my B. Make sure to add [JitPack](https://jitpack.io/) to your list of maven repos.

[2017-11-12 06:25] ChanSek commented on #46
@SUPERCILEX, Thanks a lot for all your help. It works fine. Waiting for the next release with this fix, so that I can remove this custom build.

By the way, it increased my build time by 30%.

[2017-11-12 21:53] ewaldinho commented on #947
I ran into the same issue. My app broke when I updated to version 3.

Is it possible to keep the snapshot array when `stopListening` is called instead of clearing it or would that introduce some other problems?

Any news on that?

[2017-11-12 21:59] SUPERCILEX commented on #947
See https://github.com/firebase/FirebaseUI-Android/issues/998#issuecomment-342333313

[2017-11-13 04:43] corymalcolmtaylor commented on #856
Not sure if this is related but looks involves smartlock in the trace - I just found this bug report in my Fabric Crashlytics from a day ago:
Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'void android.app.Activity.setResult(int, android.content.Intent)' on a null object reference
       at com.firebase.ui.auth.ui.BaseHelper.createBaseIntent(Unknown Source)

[2017-11-14 01:48] samtstern opened #1007 "[Refactor] Move to GoogleSignInClient and CredentialsClient, remove GoogleApiClient"
These are new in `11.6.0`:
https://developers.google.com/android/reference/com/google/android/gms/auth/api/credentials/CredentialsClient
https://developers.google.com/android/reference/com/google/android/gms/auth/api/signin/GoogleSignInClient

Moving to use these classes will allow better chaining (through `Task`) remove any `GoogleApiClient` helper classes and probably make things a lot simpler.

[2017-11-14 01:49] samtstern commented on #1007
(this is the beginning of breaking #962 up into issues which we can tackle one at a time)

[2017-11-14 16:55] rvcdev opened #1008 "com.firebase.ui.auth.ui.idp.AuthMethodPickerActivity has leaked window"
For reference, I checked the open and closed issues. All issues referencing the same type of exception were for older versions of FirebaseUI and the resolution was to update FirebaseUI to the latest version which included the fix. Here I am using the latest versions of FirebaseUI and their corresponding Google Play Services versions from the table included in the FirebaseUI [README](https://github

[2017-11-16 10:47] ahaverty commented on #971
It took me about 30 minutes to convert from v2 to v3 because of this. I think the readme could be a bit more verbose, and possibly include a link to a full example working with firebase ui v3.

For anyone else lost that comes across this issue, this might help:

1. This `MyGlideModule.java` looks like it can live anywhere within your src, and doesn't need to be called by anything (this concept in

[2017-11-16 15:54] #971 closed

[2017-11-16 15:54] samtstern commented on #971
Thanks @halfbaked and @ahaverty for the suggested improvements.  I have made things more explicit in #1011.

[2017-11-16 15:56] samtstern opened #1012 "Ensure explicit check for Play Services availability"
Since we have moved (in `3.1.1-dev`) the play services dep to `11.6.0` we now need to deal with the one issue in the release notes for that version:

[2017-11-16 16:00] SUPERCILEX commented on #1012
Yep, but we've been doing that for a while (and I don't plan on removing it until that bug is fixed):
https://github.com/firebase/FirebaseUI-Android/blob/ba9167d80e5c749ac84782d395770c00faf59e1e/auth/src/main/java/com/firebase/ui/auth/KickoffActivity.java#L41-L57

[2017-11-16 17:39] samtstern commented on #1012
Ok great, I honestly was just too lazy to find out if we had already been doing that.  Thanks for checking!

[2017-11-16 17:39] #1012 closed

[2017-11-16 18:08] SUPERCILEX commented on #1012
Haha, NP! 😄

[2017-11-16 18:47] halfbaked commented on #971
Changes look good 🖒

[2017-11-16 19:38] clamentsanz commented on #733
I have the same bug now

[2017-11-16 19:50] samtstern commented on #733
@clamentsanz please file a new issue if you're seeing this in a recent version

[2017-11-16 22:40] SUPERCILEX commented on #877
@samtstern I believe this issue can have the implemented label and be added to the `3.1.1` hotlist.

[2017-11-17 00:31] SUPERCILEX commented on #975
@dcalano I just had a revelation: are you finishing your activity in `on[Create/Start/Resume]` if the user is logged in? If so, check out https://github.com/firebase/FirebaseUI-Android/pull/1010#discussion_r151575726 which I still need to find a solution to.

[2017-11-17 19:05] 100rabhkr commented on #229
Can we customise style for iOS?

[2017-11-17 21:52] guillermo-varela opened #1021 "Add support for Hosted Domain on Google auth"
Hi,

I'd like to request a new feature to support the "Hosted Domain" configuration when using the Google auth provider.

This could be useful when developing apps for companies using a Google Apps account and want that only its employees to be able to authenticate.

#### Relevant Code:
Checking the current code, I see that the class GoogleSignInOptions.Builder already has a method [setHostedDomai

[2017-11-17 22:45] samtstern opened #1022 "Allow passing full GoogleSignInOptions to auth"
Requested in #757 and #1021

Would allow more flexibility than just scopes.

[2017-11-17 22:46] samtstern commented on #757
Now tracking this in #1022

[2017-11-17 22:46] samtstern commented on #1022
Also related to #806

[2017-11-17 22:46] samtstern commented on #1021
Now tracking this in #1022, thanks for the idea!

[2017-11-17 22:46] #1021 closed

[2017-11-17 23:00] samtstern commented on #1001
Huh apparently you can also tell if a user is know from the metadata returned with an auth result:
https://firebase.google.com/docs/reference/android/com/google/firebase/auth/AdditionalUserInfo

[2017-11-18 02:56] SUPERCILEX commented on #1001
Hmmm, however it looks like it's per provider instead of per `FirebaseUser`. You're the Googler though, I'm only guessing in the dark! 😆

[2017-11-18 21:55] judacribz commented on #660
I have this same error. Everything i correct in terms of app secret and app id. It works when I make my own app on the facebook developer page. But when I switch to another facebook app on that page. Which I am an admin of plus another person. She can log in with her facebook. But I cannot. We have the same code.

[2017-11-19 19:00] ashrafee commented on #455
https://stackoverflow.com/questions/47356241/image-are-not-getting-loaded-using-firebaserecycleradapter

please i have same issue can anyone help

[2017-11-21 02:52] troy21688 opened #1026 "Conflict with Facebook App ID in Manifest"
I recently updated to     compile "com.firebaseui:firebase-ui:3.0.0"

and received the following error:

Error:Execution failed for task ':app:processDebugManifest'.

  	is also present at [com.firebaseui:firebase-ui-auth:3.0.0] AndroidManifest.xml:21:13-60 value=(@string/facebook_application_id).
  	Suggestion: add 'tools:replace="android:value"' to <meta-data> element at AndroidManifest.xml:27:9

[2017-11-21 19:52] samtstern commented on #1026
@troy21688 could you try removing the Facebook ID from your `AndroidManifest.xml` and then adding it in your string resources:

[code]

[2017-11-21 20:03] troy21688 commented on #1026
I am actually calling it from the String resources, it is not hardcoded if
that's what you are referring to.

On Tue, Nov 21, 2017 at 1:52 PM, Sam Stern <notifications@github.com> wrote:

--
Troy Chuinard, CPA

[2017-11-21 20:09] samtstern commented on #1026
Can you show your `AndroidManifest.xml` here?

[2017-11-21 21:51] troy21688 commented on #1026
`<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xxxxxxx">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawa

[2017-11-22 11:12] joemerritt opened #1027 "RecyclerView with Indexed Data"
Hi All,

I'm currently using Firebase UI with indexed data in a recycler view. I want to show the latest post from the indexed data first, there for i'm using .setStackFromEnd(true) however when loading the recyclerview, it loads the first set of data from the first key in "setStackFromEnd" order, however I need to swipe the recycler to get the rest of keys data.

If I use .smoothScrollToPosition(

[2017-11-22 15:35] SUPERCILEX commented on #1027
Classic SO question: https://stackoverflow.com/a/27727398/4548500

[2017-11-23 12:28] sgatade commented on #783
Dear all,

Following
[Git Wiki for Storage](https://github.com/firebase/FirebaseUI-Android/blob/master/storage/README.md)

**Dependencies**
compile 'com.firebaseui:firebase-ui-storage:3.1.0'
compile 'com.github.bumptech.glide:glide:4.1.1'
annotationProcessor 'com.github.bumptech.glide:compiler:4.1.1'

In `MyAppGlideModule`, on the following line...

`registry.append(StorageReference.class, InputSt

[2017-11-23 13:13] sgatade opened #1029 "Cannot Resolve Symbol new FirebaseImageLoader.Factory()"
Dear all,

I was following the guide on [Git Wiki for Storage](https://github.com/firebase/FirebaseUI-Android/blob/master/storage/README.md)

**Dependencies**
compile 'com.firebaseui:firebase-ui-storage:3.1.0'
compile 'com.github.bumptech.glide:glide:4.1.1'
annotationProcessor 'com.github.bumptech.glide:compiler:4.1.1'

In MyAppGlideModule, on the following line...

`registry.append(StorageReferen

[2017-11-23 13:30] sgatade commented on #1029
Dear all,

For now, on a hint from google, I have commented all the code in the class and it seems to work...

![image](https://user-images.githubusercontent.com/13362030/33175051-602d3f9e-d080-11e7-8ed4-c696ccc24d09.png)

Hope this is by design :smile:

Regards,

SG

[2017-11-24 20:44] strikejr12 commented on #301
samtstern, can you provide the link which this issue is currently going on? Thanks in advance.

[2017-11-25 05:12] ashfaaaa commented on #916
is it possible to remove choose country spinner and set default country code? so users from the specified country can sign up.

[2017-11-25 15:18] ghost opened #1031 "How to using firebaseArray ?"
I am trying to using firebaseArray

`FirebaseArray<test1> firebaseArray = new FirebaseArray<test1>(query,test1.class);`
But ` firebaseArray.size()`  is always 0.

[2017-11-25 19:01] saurabhpandya opened #1032 "compile 'com.firebaseui:firebase-ui-auth:3.1.0' not able to run project in release mode"
Hello there,

I am using "compile 'com.firebaseui:firebase-ui-auth:3.1.0'" lib in my app. It runs in debug mode but it doesn't work in release mode and it says
[code]

Can anyone suggest me for it.

List of dependencies
[code]

[code]

[2017-11-25 19:32] i3130002 commented on #894
Dear @SUPERCILEX  Can I ask if the issue is resolved ? I have problem linking accounts.

[2017-11-25 20:59] jamesamuel commented on #301
Still seems to be an on-going issue! @davideast  any ideas?!

[2017-11-26 01:45] guillermo-varela commented on #1022
Hi,

Are you guys working on this or do you need a PR?

Thanks.

[2017-11-26 05:42] mbhawyya commented on #204
@14145057 Thanks! It works perfectly now!

[2017-11-27 14:34] samtstern commented on #1022
@guillermo-varela we have not yet started working on this.  If you plan to submit a PR (which would be really cool!) could you show the proposed API here first?  As this would change the public API it needs a little more discussion than your average PR.

[2017-11-27 14:37] samtstern commented on #1032
Could you try adding an explicit dependency on Firebase to your `build.gradle`?  Something like this:

[code]

[2017-11-27 14:39] samtstern commented on #1029
@sgatade this is not intended and the `Factory` class is exposed here:
https://github.com/firebase/FirebaseUI-Android/blob/73a696e30200adbacf651a0f49f168364f8ea52b/storage/src/main/java/com/firebase/ui/storage/images/FirebaseImageLoader.java#L58

When you say it "works" what do you mean?  Can you load Firebase images from Glide even with that code commented out?  I doubt it...

[2017-11-27 14:45] samtstern commented on #1027
@joemerritt see the answer that was pointed out by @SUPERCILEX.

[2017-11-27 14:48] samtstern commented on #1026
@troy21688 apologies for the delayed response, Thanksgiving happened and I lost track of some things.

You can see in the `AndroidManifest.xml` for the `auth` module we already have the `com.facebook.sdk.ApplicationId` metadata entry:

https://github.com/firebase/FirebaseUI-Android/blob/a7f2373d9e8ae547bb114b38001e0fcd0e65eb0e/auth/src/main/AndroidManifest.xml#L15

So there's no need to put it in

[2017-11-29 14:55] vanniktech opened #1033 "Using Firebase UI 3.1.0 and Play Services 11.6.0 don't play well together"
Originally mentioned here - #82

I also talked to @CodingDoug on the DevFest Hamburg this Sunday about it.

If you change the version to `11.6.0` [here](https://github.com/BeerdedDevs/heartbeards/blob/d1dce13eef4247dddd8047704eefe8c5d167db04/build.gradle#L4) in this sample project you'll end up with:

[code]

[2017-11-29 16:47] kumarkeviv commented on #17
@samtstern do we have any update on this feature? As this will significantly reduce the un-necessary read operations in Firestore.

If its planned for later releases, could you please share the concept behind how you did it? So meanwhile we can try to implement of our own.

Thanks for the help.

[2017-11-30 02:42] Eragon29 commented on #1033
Have had the same problem, but I don't have it anymore with play services 11.6.2

[2017-11-30 10:05] zetazaw commented on #649
Change the switch on at Facebook Dashboard setting
Login from Devices
Enables the OAuth client login flow for devices like a smart TV

[2017-11-30 18:04] samtstern commented on #1033
@Eragon29 thanks for following up here.

With the project that @vanniktech linked I have issues with both `11.6.0` and `11.6.2`

[2017-11-30 18:07] samtstern commented on #1033
Here's something interesting:

[code]

All of the versions are `11.6.2` except for the following:

[code]

So that's almost definitely where the dexing issues are coming from.  I will have to dig deeper.

[2017-11-30 18:10] samtstern commented on #1033
@vanniktech this is fixed by adding the following in `app/build.gradle`:

[code]

As this is consistent with the instructions below, I am going to mark this issue closed:
https://github.com/firebase/FirebaseUI-Android#compatibility-with-firebase--google-play-services-libraries

Thanks for raising it!

[2017-11-30 18:10] #1033 closed

[2017-11-30 22:58] vanniktech commented on #1033
Thanks for debugging :)

[2017-12-01 04:52] felipe-gouveia commented on #409
Issue still happening on SDK version 11.6.2. :(

[2017-12-01 11:05] hims9391 opened #1034 "recyclerview in recyclerview usign firebaseRecyclerAdapter ?"
Welcome to FirebaseUI and thanks for submitting an issue!

Please take a look at [open issues](https://github.com/firebase/FirebaseUI-Android/issues?q=is%3Aopen+is%3Aissue), as well as [resolved issues](https://github.com/firebase/FirebaseUI-Android/issues?q=is%3Aissue+is%3Aclosed), to see if your issue is either already being addressed, or has been solved by someone else.

If not, please feel fre

[2017-12-01 12:18] Eragon29 commented on #1034
Can you provide more information than "recyclerview in recyclerview using firebaseRecyclerAdapter ?"
I think you accidentally posted the template without any information

[2017-12-01 16:32] tuxtux59 commented on #197
Hi,
I'm using also the facebook connect using Facebook login using FirebaseUI and the app need to list friends. Where do I can add the users permissions?

Thanks :)

[2017-12-01 16:56] samtstern commented on #1034
Yes @Eragon29 is correct, there is not enough information here to debug.  As the template is empty I am going to close this issue however if you add a comment with all of the requested information I am happy to re-open it.

[2017-12-01 16:56] #1034 closed

[2017-12-01 18:03] SUPERCILEX commented on #197
@tuxtux59 Please read the [docs](https://github.com/firebase/FirebaseUI-Android/tree/master/auth#facebook) or create a new issue if they don't cover your use case.

[2017-12-02 05:42] hims9391 commented on #1034
updated comment please give me appropriate solution

[2017-12-02 05:43] kr05 commented on #949
I had been searching the docs for a way to get the document id, I'm glad I finally the answer but this info should be in the docs! Unless I completely missed it, which in that case I apologize.

[2017-12-02 17:16] niyasmohaideen opened #1035 "Load Firebase Phone UI Authentication with Phone number loaded"
Welcome to FirebaseUI and thanks for submitting an issue!

Please take a look at [open issues](https://github.com/firebase/FirebaseUI-Android/issues?q=is%3Aopen+is%3Aissue), as well as [resolved issues](https://github.com/firebase/FirebaseUI-Android/issues?q=is%3Aissue+is%3Aclosed), to see if your issue is either already being addressed, or has been solved by someone else.

If not, please feel fre

[2017-12-02 17:20] niyasmohaideen commented on #1035
Is it possible to launch Firebase Phone UI Authentication with Phone number loading dynamically ? Next question is it possible to customize or remove the contents like "Message & data rates may apply".

[2017-12-03 01:22] joemerritt commented on #1027
Hi Guys, I'm still struggling with this. I've read the solution posted but it's not answering my issue. When using:

        mLayoutManager.setReverseLayout(true);
        mLayoutManager.setStackFromEnd(true);

My recycler loads 3-4 post (incorrect order) however does not load at the very last post. Users have to swipe to get to the very last post.

I'm not sure if this is an issue of using indexe

[2017-12-04 08:15] guytavor opened #1036 "IllegalArgumentException in RegisterEmailActivity"
[code]
We are using:
firebase-ui-auth:3.1.0
firebase-auth:11.4.2
GMS v11.4.2
gms:google-services:3.1.0
This seems to only happen on KitKat (api 19), multiple device manufacturers.

the entire crash information is available here: http://crashes.to/s/dfb96808883

We can't reproduce this, as we could not get our hands on an API19 device, but our guess is that this is an android sdk level incompatibil

[2017-12-04 08:51] tuxtux59 commented on #197
Thanks I found help using the IDE autocompletion ;)

[2017-12-04 09:53] Vansangkima commented on #17
Been waiting on this as well

[2017-12-04 15:37] ahaverty opened #1037 "SnapshotParser Documentation and Performance"
Hi Firebase,
I'm using the SnapshotParser to allow my onBindViewHolder to decide what model to map data to.
It took me awhile to figure out how to do this, as I wanted to use generics with various different models in a single recycler view (_Harnessing the power of firebaseUI_ 🤘).
I found [this answer](https://stackoverflow.com/a/38148329/2276198) from last year from @puf . But it looks like Snaps

[2017-12-04 15:57] samtstern commented on #1037
@ahaverty thanks for the suggestion, we should improve the docs on `SnapshotParser` to make this clearer.

The caching behavior is in `BaseCachingSnapshotParser`:
https://github.com/firebase/FirebaseUI-Android/blob/master/common/src/main/java/com/firebase/ui/common/BaseCachingSnapshotParser.java

It caches the result of the operation that turns a `DataSnapshot` into your custom model class.  Howev

[2017-12-04 16:07] samtstern commented on #1034
@hims9391 looks like you're nesting Firebase adapters which is not a normally supported use case.  You are probably better off using an indexed adapter:
https://github.com/firebase/FirebaseUI-Android/tree/master/database#using-firebaseui-with-indexed-data

[2017-12-04 17:47] samtstern commented on #1036
@guytavor thanks for the report and the API level information, this is definitely a strange crash and I agree with your initial assessment.

[2017-12-04 19:08] ahaverty commented on #1037
Thanks for the suggestion @samtstern

Am I wrong in saying I'm restricted by the [BaseSnapshotParser interface](https://github.com/firebase/FirebaseUI-Android/blob/master/common/src/main/java/com/firebase/ui/common/BaseSnapshotParser.java) requiring a single type?

Am I digging a hole if I try go further than that?
It turns out the performance without the caching snapshot parser is poor.

We're no

[2017-12-04 19:12] samtstern commented on #1037
I think you could use `Object` as your type parameter and then use a bunch of casting but yes you're right it will get pretty messy.

[2017-12-04 19:56] ahaverty commented on #1037
That makes way more sense.. Thanks @samtstern I'll give it a shot.

[2017-12-04 21:03] SUPERCILEX commented on #1037
@ahaverty are all your models representing completely different data? If not, you can use a base class that contains the common fields and pass that around. Then use some sort of `ModelType` enum so you can [figure out what type of model it is](https://github.com/SUPERCILEX/Robot-Scouter/blob/09d62e0e6ebd5d8318f196340bde4ef34dc1cc54/app/src/main/java/com/supercilex/robotscouter/data/model/Metric.k

[2017-12-04 21:28] ahaverty commented on #1037
Thanks @SUPERCILEX We've structured it like that alright:
[code]

I was hoping there'd be no problem just checking the type and casting using generics. It worked, but it seems to have slowed down the recyclerview massively, especially with glide/images involved.
I tried parsing the object, but i'm having issues parsing from a hashmap to my object.

@SUPERCILEX I'm not familiar with kotlin, is the

[2017-12-04 22:11] SUPERCILEX commented on #1037
It should totally work in Java, but it might be a little longer and uglier. 😄 Looking at your data, I would create a base model with a type and value field of type `T`. The advertisement should be easy and just require a subclass to clarify its type (it would extend the base model with a type of `Map<String, String>`). The merchant one looks more complicated so I think your subclass would include

[2017-12-04 22:33] ahaverty commented on #1037
Thanks @SUPERCILEX I actually have my generics working nicely, using the `SnapshotParser<DataSnapshot>` trick in my original question. We're looking to move a lot of our logic out of the client, and onto functions + firebaseUI lists in the clients. So out actual production models are more complex than my example there, and more will be needed as we go . I think my only remaining issue is the perfo

[2017-12-04 22:41] SUPERCILEX commented on #1037
@ahaverty as long as you do the intensive processing in a `SnapshotParser`, it will be cached. Otherwise, using your own cache would work just fine too.

[2017-12-04 23:28] ahaverty commented on #1037
@SUPERCILEX & @samtstern Got it working beautifully with your simple SnapshotParser !
I wasn't thinking properly about my Base Models and inheritance, and kept rereading your comments until I got it Alex & Sam!
Thanks for sticking with me ❤️

(_Medium post to follow once we get FirebaseFunctions + FirebaseUI working in production_ 😉)

[code]

[2017-12-04 23:39] ahaverty commented on #1037
Sorry @samtstern , I prematurely closed this out of happiness. I forgot about the docs, I'll reopen, but consider my part ii) solved. Thanks again!

[2017-12-05 11:04] joelEpping commented on #864
Hi! I have the same issue .. when I send the token to my web service in which method I need to put the token to login.  when the user is already register.

[2017-12-05 11:26] arpit7997 commented on #868
I have the correct SHA 1 certificate and project name as Google maps is working fine on my app. Still I'm getting this error. Please help

[2017-12-05 11:29] mahmoudshawkat commented on #17
I've been trying to implement this feature on a project I work on, tired of thinking of the most efficient way to do it, can't wait to see it as a built in feature in FirebaseUI.

If you can kindly share the idea behind it, that would be deeply appretiated

Best wishes

[2017-12-05 17:49] samtstern commented on #1032
Since it's been 10 days I am going to close this issue.  I believe it will be solved by the comment above anyway.

[2017-12-05 17:50] #1032 closed

[2017-12-05 17:50] samtstern commented on #1007
@SUPERCILEX I'd like to take a crack at this but not sure how badly that would mess you up.

[2017-12-05 17:51] samtstern commented on #1029
Closing due to lack of update and the indication (in previous comment) that @sgatade got things working,

[2017-12-05 17:51] #1029 closed

[2017-12-06 08:22] sgatade commented on #1029
Apologies for not responding... @samtstern : YES! I am loading images without the code (commented out) and its working perfectly...

Regards,

SG

[2017-12-06 18:25] saurabhpandya commented on #1032
I found that It has some dependancies which are already added in this library.
`[Check Library Dependencies](https://github.com/firebase/FirebaseUI-Android#upgrading-dependencies)`

[2017-12-06 19:36] samtstern commented on #1032
@saurabhpandya have you been able to get things working from the instructions then?

[2017-12-06 23:59] SUPERCILEX opened #1039 "Add AuthUI method to perform silent Smart Lock sign-in"
This should be a piece of cake with the new GPS APIs. (Is there a better acronym than GPS? 😄)

### Background
The beauty of Google Smart Lock is that it's able to magically sign users in when the app starts. Currently, FirebaseUI requires a full blown activity and loading UI to do anything with Smart Lock.

### Proposal
We should provide a task based method in `AuthUI` (or another class?) to sign

[2017-12-07 00:06] samtstern commented on #1039
Do you mean something that we'd expose in the 3P API or just a refactoring of our smartlock flow?

[2017-12-07 00:28] SUPERCILEX commented on #1039
Probably a dumb question: what does `3P` mean?

I was thinking of adding a completely new flow that's designed to be started automatically (without user input). Our current flow is based off of the assumption that the user started the request (or at least they see some sort of UI indicating a sign-in is happening). The point was basically to enable the seamless Smart Lock blue banner at the bottom

[2017-12-07 00:39] samtstern commented on #1039
3P == Third Party aka Public.  Sorry for the jargon.

Yes that does make sense, however it kind of strays from the core point of the library which is "make Firebase Auth easy" to "make SmartLock easy".  So I'd want to talk to some folks before jumping into this.

[2017-12-07 00:41] SUPERCILEX commented on #1007
@samtstern I was actually planning to already start that refactor after the cleanup PRs are merged. Since it looks like that might happen tomorrow, we could already get that going by Friday. I think if it doesn't happen over the weekend at the latest, then yeah, you could start doing it. (Though it definitely will destroy my stuff since I deleted all the original Smart Lock files. 😄)

[2017-12-07 00:48] samtstern commented on #1007
I don't want to do that, although I would like to find ways to contribute to this rewrite besides reviewing PRs.  This is one topic I understand particularly well, but maybe it's not the right place.

The breaking down of the rewrite is going well so far but it still kind of all has the shadow of the big rewrite PR hanging over it.  I wonder if we could break some of the tasks down into issues, ag

[2017-12-07 01:12] SUPERCILEX commented on #1039
Oh, K. No problemo.

Yeah, I do see your point. That method would of course include using Firebase Auth stuff since it has to do email sign-in, but yeah, that decision is up to you. 😄

[2017-12-07 08:34] Morphipapa commented on #17
We would also love to see this feature.

[2017-12-07 18:25] samtstern commented on #1035
@niyasmohaideen what do you mean by "with phone number loading dynamically"?  Also please use the issue template!

And no, it is not possible to customize those messages.

[2017-12-07 18:42] saurabhpandya commented on #1032
@samtstern yes i tried with your suggestion. Still I was getting the error and found the above solution from reply.

[2017-12-08 03:26] troy21688 opened #1040 "Firebase Database Complex Querying Returning Incorrect Result"
I have a Firebase Database that essentially looks like the following:

[![enter image description here][1]][1]

Ultimately, I am trying to capture "Trending" information. "Trending" would constitute:

1. Recent (When it was added to Firebase)
2. Highly Regarded (Highest Vote Count)

I am using the FirebaseUI (latest version 3.0.1) with my database. I have my query as the following:

        Query

[2017-12-08 04:28] puf commented on #1040
This is unrelated to FirebaseUI, and really should be posted on Stack Overflow.

That said: the answer there will be that this cannot be done in just a Firebase Database query, since those can only order/filter on a single property. In fact, I also don't think it can be accomplished with Firestore queries.

Your best option is to filter by recency in the query, and then reorder by vote-count in yo

[2017-12-08 04:28] #1040 closed

[2017-12-08 14:13] clamentsanz opened #1041 "IllegalArgumentExceptionUnique transitionNames are required for all sharedElements Raw Text"
Hi,

I have this error :

[code]

[2017-12-08 16:32] samtstern commented on #1041
This looks like a duplicate of #1036

[2017-12-08 16:32] #1041 closed

[2017-12-08 21:29] SUPERCILEX commented on #1007
@samtstern Yeah, I totally agree with you, it would be awesome to work together on this and improve on my original ideas. 😄 Once that last refactor PR goes through, I was planning on opening a small and basic setup PR and use it in a PR refactoring the password reset activity with our new architecture. The plan was to use the password reset PR to dip our feet in the water and let me show you how I

[2017-12-09 02:39] troy21688 commented on #1040
Frank -

I am a bit confused - if I am using the Firebase UI, I am bound within the limitations of the query / options I inject into the adapter. Can you further elaborate on how I would accomplish my presentation through client-side changes? I did read your post, but it is still unclear.

[2017-12-09 15:19] puf commented on #1040
Firebase Database queries can only order/filter on a single property. Since FirebaseUI is built on top of the Firebase SDK, it doesn't have any way to work around this or improve it.

You're trying to filter on multiple properties, so will need one of the approaches in the answer I linked. Given your use-case I'd recommend filtering for recency in your query, and then order by vote-count client si

[2017-12-10 01:41] bpappin opened #1042 "Conflict with Google Play Services 11.6.2"
Conflict with Google Play Services 11.6.2

It might be a little easier for us to keep up to date using something like gitflow.
We could then automate the building of the develop branch while waiting for the library to catch up.

[2017-12-11 04:56] emarc-m opened #1043 "Class cast exception with android.arch.lifecycle.GeneratedAdapter"
* Android device: Emulator
  * Android OS version: 25 with Google Play
  * Google Play Services version: 11.9.51
  * Firebase/Play Services SDK version: 11.6.2
  * FirebaseUI version: 3.1.0

### Step 3: Describe the problem:

App crash on Firebase UI update with class cast exception

#### Steps to reproduce:

  1. Update from 3.0.0 to 3.1.0
  2. Open activity with FirebaseRecyclerAdapter
  3. App

[2017-12-11 05:04] SUPERCILEX commented on #1043
Have you tried running a `./gradlew clean`? That might help.

[2017-12-11 05:08] emarc-m commented on #1043
@SUPERCILEX yes I did the clean build. same issue.

[2017-12-11 07:01] emarc-m commented on #1043
I found that Glide causes the crash. I've recently upgrade to Glide v4.4.0. My temporary fix is to use a previous version v4.3.1. I'll post once I can investigate further. I'm still not sure what causes the issue.

[2017-12-11 14:04] ShaldonSwiidAppDesigns commented on #1042
I am having an issue now with this. My project gives me a "Error:Execution failed for task ':app:transformDexArchiveWithExternalLibsDexMergerForDebug'. > java.lang.RuntimeException: java.lang.RuntimeException: com.android.builder.dexing.DexArchiveMergerException: Unable to merge dex"

issue when I add 'com.firebaseui:firebase-ui-auth:3.1.0' to my build,gradle file

[2017-12-11 16:08] bpappin commented on #1042
@ShaldonSwiidAppDesigns I temporarily solved it be excluding the dependency. Its seems to be working without errors, but obviously use at your own risk.

[code]

[2017-12-11 16:21] samtstern commented on #1042
@bpappin can you show your whole `build.gradle` file?

[2017-12-11 16:27] ShaldonSwiidAppDesigns commented on #1042
@bpappin Thank you for this temp work around, I temporarily dropped the GMS and the Firebase versions from 11.6.2 to 11.4.2 for now and it compiled fine without the error. However I would desperately like this issue to be fixed though.

[2017-12-11 16:33] samtstern commented on #1042
@ShaldonSwiidAppDesigns if you could show me your full `app/build.gradle` file to reproduce the issue that would be very helpful.

[2017-12-11 16:41] bpappin commented on #1042
@samtstern just set up a new dummy project, and include these dependencies:

[code]

I dont remember the exact version, but `firebase-ui` tries to import `com.google.android.gms:play-services:11.4.?` which Android Studio complains about.

The temporary fix I mentioned above work because it drops the dependency from `firebase-ui`, and uses the explicit version.

[2017-12-11 16:43] bpappin commented on #1042
@ShaldonSwiidAppDesigns yeah, I agree, I maintain my build at the latest version *always* to reduce maintenance overhead. I want to know early if I have a problem, and make sure the build fails fast.

[2017-12-11 17:18] samtstern commented on #1042
@bpappin there are a few notable things here:

1) You should *never* use this line:

[code]

[2017-12-11 17:22] ShaldonSwiidAppDesigns commented on #1042
`apply plugin: 'com.android.application'

android {
    compileSdkVersion 26
    defaultConfig {
        applicationId "swiidappdesigns.haveasafetrip"
        minSdkVersion 21
        targetSdkVersion 26
        versionCode 1
        versionName "1.0"
        testInstrumentationRunner "android.support.test.runner.AndroidJUnitRunner"
        multiDexEnabled true
        resConfigs "auto"
    }

[2017-12-11 17:28] samtstern commented on #1042
@ShaldonSwiidAppDesigns as mentioned here:
https://github.com/firebase/FirebaseUI-Android#compatibility-with-firebase--google-play-services-libraries

Your issue will probably be resolved if you add:

[code]

[2017-12-11 17:31] ShaldonSwiidAppDesigns commented on #1042
@samtstern Perfect, that worked! Thank you so much for the help.

[2017-12-11 18:09] samtstern commented on #1042
Closing this issue as I believe everything is still working as expected.  @bpappin please chime in if things don't work for you.

[2017-12-11 18:09] #1042 closed

[2017-12-11 18:13] bpappin commented on #1042
@samtstern  ok, global import aside, I actually do want `api` because of how my project is broken up into independent modules, and the dependencies are needed to support code across those modules. This is a little bit of a mess due to the recent change in how deps work, but like everything else, figuring it out, restructuring the project, and fixing it is going to have to wait, as its a non-breaki

[2017-12-11 18:21] samtstern commented on #1042
@bpappin I was not referring to `api`, you can use that as needed.  I was referring to the use of the global `play-services` rather than `play-services-{foo}`.  Same with `firebase-ui` and not `firebase-ui-{foo}`.

All parts of FirebaseUI are compiled against the same versions of Firebase / Play services.  We do not release new versions of FirebaseUI every time a new version of those dependencies

[2017-12-11 18:24] samtstern commented on #1007
@SUPERCILEX that sounds good, password is a pretty simple flow and will be a good demonstration.

[2017-12-11 21:40] marzipanbrain opened #1044 "FirestoreRecyclerAdapter: onBindViewHolder not called when item is changed AND moved"
Describe your environment:
  * Android device: Emulator
  * Android OS version: Nougat
  * Google Play Services version: 11.7.43
  * FirebaseUI version: 3.1.0

Describe the problem:
I've written an adapter that extends the FirestoreRecyclerAdapter. My RecyclerView uses the adapter to display items. The adapter uses a query that is ordered by a boolean field named 'checkedIn'. The adapter also uses

[2017-12-11 22:20] SUPERCILEX commented on #1044
Oops, that's an oversight on our part. I'm working on a fix right now.

[2017-12-12 02:22] NikoMontana opened #1046 "StorageException: behavior if image is not present"
this is my code for loading images into an imageview and updating it if a newer version is uploaded.

[code]

Now its obvious what happens here, if the file can not be found in the reference, I get an exception and there for Im setting the default image. Now if I am loading 2-3 images with an empty StorageReference, I just get the error in the stacktrace, but it doesnt crash. But if I am populatin

[2017-12-12 02:32] NikoMontana commented on #1046
Its late here in europe.. should read better

https://github.com/firebase/FirebaseUI-Android/blob/master/docs/upgrade-to-3.0.md

[2017-12-12 02:32] #1046 closed

[2017-12-12 21:44] SUPERCILEX commented on #1007
@samtstern Sweet! See #1048

[2017-12-13 09:35] Lex74 commented on #1036
We have the same crash with API 17, 18, 19 after updating to
`com.google.firebase:firebase-auth:11.6.2`
`com.android.support:appcompat-v7:27.0.2`

[2017-12-13 11:36] LissF opened #1049 "NPE on Facebook network error"
Hello!

  * Android device: Nexus 5X
  * Android OS version: 8.0.0
  * Google Play Services version: 11.9.51 (440-177350961)
  * Firebase/Play Services SDK version: 11.6.2
  * FirebaseUI version: 3.1.0

Everything was working fine for me, but today I've tried to login with Facebook (I have Facebook Lite installed) but got a crash. I think it was because of a FB network error. Other services were f

[2017-12-13 13:49] shimiuh opened #1050 "Crash"
Welcome to FirebaseUI and thanks for submitting an issue!

Please take a look at [open issues](https://github.com/firebase/FirebaseUI-Android/issues?q=is%3Aopen+is%3Aissue), as well as [resolved issues](https://github.com/firebase/FirebaseUI-Android/issues?q=is%3Aissue+is%3Aclosed), to see if your issue is either already being addressed, or has been solved by someone else.

If not, please feel fre

[2017-12-13 15:48] NeringaB opened #1051 "Authorisation UI interface depends on the mobile phone language"
Hello. I would like to inquire if it is possible to set a language of authentication UI? We are going to release our app in various countries, however, for now, our app is supposed to be only in English as it is international language. However, Firebase authentication UI adapts to the language of the user mobile phone, and if that language is not English, then the app is in two different languages

[2017-12-13 18:04] mitesh-shah commented on #966
@LeeHounshell I have just created a new app and added a login with facebook functionality via firebase and facing exactly the same issue as you have mentioned in the beginning of this thread (in logs).

Would you mind helping me out here with possible solutions?

[2017-12-13 18:08] samtstern commented on #1051
@NeringaB you can change your `build.gradle` to drop all non-English resources from your build, which will achieve what you want:

[code]

[2017-12-13 18:08] #1051 closed

[2017-12-13 18:10] samtstern commented on #1050
This is a duplicate of #1036

[2017-12-13 18:10] #1050 closed

[2017-12-13 19:08] NeringaB commented on #1051
Thank you for your answer :) I added this to my code, the text on buttons in the Firebase UI changed to English and when I click on "Sign in with Google", it is written "Loading" in English, however, when the dialog to choose Google account is showed everything is written in the language of the user mobile phone. Is it possible to change this dialog to English, too?

[2017-12-13 19:14] samtstern commented on #1051
@NeringaB that's not possible as far as I know, and it's outside of FirebaseUI.  That comes from the Google Sign In SDK.  Sorry!

[2017-12-13 19:47] NeringaB commented on #1051
Okay. Thank you for information :)

[2017-12-13 23:08] Lihacovs commented on #1043
Hello, had the same issue. Removing FirestoreRecyclerOptions.Builder#setLifecycleOwner(...) method from FRO builder, and starting in onStart(), onStop() helped in my case:
[code]
I had no time to investigate what caused the issue, would be interesting to know it

[2017-12-14 05:46] NikoMontana commented on #479
If you can live with "seeing default placeholder images always first" then go for this..

[code]

[2017-12-14 10:31] NeringaB opened #1052 "Facebook log in button double circular progress bar"
Hello, I would like to ask about Facebook log in button in Firebase UI. When the user clicks on the Facebook log in button, "Loading.." dialog appears as well as two circular progress bars. One where it should be to the left of the text "Loading..." and it is in the accent color of my app theme (red), another appears at the end of the word "Loading..." (half of the circular progress bar on "Loadin

[2017-12-14 11:58] RedLann opened #1053 "Problem in deleting items from database"
* Android device: Nexus 6P
  * Android OS version: 8.0
  * Google Play Services version: 3.1.0
  * Firebase/Play Services SDK version: 11.4.2
  * FirebaseUI version: 3.1.0

Hello i have a problem while deleting items from FirebaseDatabase, in my app i have this situation:
Activity with 3 static fragments in a view, those fragments use the FirebaseRecyclerAdapter to list 3 different kind of objects

[2017-12-14 16:31] samtstern commented on #1053
@RedLann this sounds like it's a complex question and has to do with your Fragment hierarchy.  I would suggest asking this on StackOverflow, as this issue tracker is meant for reports of bugs in the FirebaseUI libraries.

[2017-12-14 18:30] samtstern commented on #1052
@NeringaB can you show a screenshot of what you're seeing?  Having some trouble imagining it.

[2017-12-14 18:33] RedLann commented on #1053
Ok, i asked here because the fragments i have the adapter attached to are static and aren't subject to any state change (onPause, onStop ... etc) and i delete the items from outside the adapter, so i was guessing it was some sort of issue with the adapter not removing the object. I guess i will try on StackOverflow, thanks.

[2017-12-14 19:49] samtstern commented on #812
I believe #1023 removes the last of this.

[2017-12-14 22:50] samtstern commented on #1043
If any of you is still experiencing the crash could you show your `build.gradle`?

[2017-12-14 22:51] samtstern commented on #1026
@troy21688 is this still an issue for you?

[2017-12-14 23:05] samtstern commented on #1044
This is fixed in version `3.1.1`.

[2017-12-14 23:05] #1044 closed

[2017-12-14 23:05] samtstern commented on #1001
This is fixed in version `3.1.1`.

[2017-12-14 23:05] #1001 closed

[2017-12-14 23:05] samtstern commented on #877
This is fixed in version `3.1.1`.

[2017-12-14 23:05] #877 closed

[2017-12-14 23:06] samtstern commented on #985
This is fixed in version `3.1.1`.

[2017-12-14 23:06] #985 closed

[2017-12-14 23:06] samtstern commented on #812
This is fixed in version `3.1.1`.

[2017-12-14 23:06] #812 closed

[2017-12-14 23:20] SUPERCILEX commented on #1043
@samtstern I'm pretty sure this issue is fixed in `v3.1.1` since we upgraded to Arch Components 1.0.

Everyone else: make sure to upgrade to FUI `v3.1.1`, and please let us know if the crash still occurs on that version.

[2017-12-14 23:23] SUPERCILEX commented on #1049
@samtstern I believe this is just another state issue which will be fixed by the refactor. So dup of https://github.com/firebase/FirebaseUI-Android/issues/856.

[2017-12-14 23:24] SUPERCILEX commented on #1005
Dup of https://github.com/firebase/FirebaseUI-Android/issues/856.

[2017-12-14 23:26] SUPERCILEX commented on #997
@samtstern @kidokimo This is fixed in FUI `v3.1.1`. Enjoy!

[2017-12-14 23:30] SUPERCILEX commented on #975
@samtstern There hasn't been a response here in a while so we can probably close this issue.

[2017-12-14 23:36] #997 closed

[2017-12-14 23:36] samtstern commented on #1005
Thanks!

[2017-12-14 23:36] #1005 closed

[2017-12-14 23:36] samtstern commented on #1049
Ok closing as duplicate of #856.

[2017-12-14 23:36] #1049 closed

[2017-12-14 23:43] SUPERCILEX commented on #779
@krawa @localhostEU Please upgrade to FUI `v3.1.1` and send us new crash reports. We've added a bunch of logging that might hopefully help us debug the issue:
https://github.com/firebase/FirebaseUI-Android/blob/4b98a9853bf3cee9d0a32312ecf1897f740d1547/auth/src/main/java/com/firebase/ui/auth/ui/phone/SpacedEditText.java#L80-L84

[2017-12-15 00:46] marzipanbrain commented on #1044
Thanks for taking care of this so quickly!

[2017-12-15 04:06] emarc-m commented on #1043
@SUPERCILEX I can confirm that ```v3.1.1``` fixes the problem. Do you have the reference issue or commit regarding to what was the cause? I'll close this issue. Thanks

[2017-12-15 04:06] #1043 closed

[2017-12-15 04:12] SUPERCILEX commented on #1043
@emarc-m It was just a simple matter of upgrading to the stable version of AAC. The alpha version used a different class for the annotation processing, hence the CCE.

[2017-12-15 04:15] emarc-m commented on #1043
@SUPERCILEX Thanks!

Note:
AAC = Android Architecture Components,
CCE = Class Cast Exception

[2017-12-15 04:18] SUPERCILEX commented on #1043
@emarc-m Haha, yeah, sorry for the acronyms. 😊

[2017-12-15 08:08] localhostEU commented on #779
@SUPERCILEX Great! Going to deploy in ~1h

[2017-12-15 09:53] NeringaB commented on #1052
Okay, this is a screenshot, I have managed to catch a little bit of a second circular progress bar, it appears sometimes for a longer time, sometimes for a shorter, and disappears. I have also noticed that Facebook log in button works only on my own device, but on other devices (when a person downloads the app from Google Play through beta channel) it does not work. Though it seems that I did ever

[2017-12-15 09:53] NeringaB commented on #1052
![screenshot_2017-12-15-11-16-28](https://user-images.githubusercontent.com/26273350/34036628-866c1058-e18e-11e7-8af4-352dfef7f6e2.png)

[2017-12-15 10:51] krisu7 commented on #123
@SUPERCILEX Hi, is there a new version of your anonymous auth fork for FUI 3.1.1?

[2017-12-15 14:57] thomsan opened #1057 "Crash if no internet available, Twitter"
### 1: Are you in the right place?
yes

### Step 2: Describe your environment

  * Android device: Samsung Galaxy S6
  * Android OS version: 7.0
  * Google Play Services version: 11.9.51
  * Firebase/Play Services SDK version: 11.4.2
  * FirebaseUI version: 3.1.0

### Step 3: Describe the problem:
If I'm signed out and don't have internet connection the app crashes on startup.
The logs say somethi

[2017-12-15 16:06] samtstern commented on #1052
@NeringaB huh ok I think the two bars are:

  - Red - that one is us.
  - Blue - the Facebook SDK does a transparent overlay with a blue progress bar during sign in.

Thanks for reporting this!  I'm not immediately sure what the best solution is but I think it will probably be part of #724 where we plan to remove all progress dialogs where possible.

[2017-12-15 16:09] samtstern commented on #1057
Hmmm `import com.twitter.sdk.android.core.Callback;` happens to be the first `com.twitter.sdk` class we import in `TwitterProvider` so somehow we're trying to use that class when the Twitter SDK is not included.

Not sure how this relates to being offline, but will try and think about it.

[2017-12-15 16:14] samtstern commented on #1057
@thomsan two questions:

  - Does this only happen when offline?  Or on any failed sign in?
  - If you added the Twitter SDK (see `auth/README.md`) does the problem persist?

[2017-12-15 17:49] samtstern commented on #1053
@RedLann if you asked this on StackOverflow, feel free to post the link here and I'll take a look.  Gonna close it on this side though.

[2017-12-15 17:49] #1053 closed

[2017-12-15 18:10] NeringaB commented on #1052
Okay, thank you for your answer :)

[2017-12-16 09:44] SUPERCILEX commented on #123
@krisu7 Yep, I've tested `ab184fde51` and updated [this comment](https://github.com/firebase/FirebaseUI-Android/issues/123#issuecomment-338061500) with the latest install instructions.

[2017-12-16 09:50] DionMeliala opened #1058 "FirebaseUI Pagination"
Hello, I need Help for Firebase UI Pagination. can u help me with that ?
Thank you.

[2017-12-16 10:29] krisu7 commented on #123
@SUPERCILEX thank you

[2017-12-16 10:40] Chozzle opened #1059 "Please don't use beta dependencies in your code"
The file fui_confirmation_code_layout currently uses <android.support.constraint.Barrier> which is only supported if I have the dependency 'com.android.support.constraint:constraint-layout:1.1.0-beta1'
This caused me a few hours of frustration

[2017-12-16 12:48] blundell opened #1060 "Can't use the library (3.1.1) with fresh project & latest tools"
Welcome to FirebaseUI and thanks for submitting an issue!

  * Android OS version: N/A build time issue
  * FirebaseUI version: 3.1.1

### Step 3: Describe the problem:

Cannot build the project when the Firebase auth dependency is added

<img width="1162" alt="screen shot 2017-12-16 at 12 36 03" src="https://user-images.githubusercontent.com/655860/34070421-a19eb77a-e25d-11e7-85c1-cc47d9d689d6.pn

[2017-12-16 16:38] CodingDoug commented on #1060
The problem is that firebase-ui-auth makes use of the new Barrier view that was introduced in constraint-layout 1.1:

https://developer.android.com/reference/android/support/constraint/Barrier.html

However, firebase-ui-auth doesn't force a transitive dependency on that.  So, if you're using the latest full release of constraint-layout that comes with new projects (1.0.2), you'll get build errors.

[2017-12-16 18:23] SUPERCILEX commented on #1060
@CodingDoug That would be my fault. However, it isn't a ConstraintLayout issue—we somehow aren't distributing that dependency properly (Gradle should be upgrading people). As for the beta concerns, the CL folks have done an amazing job of ensuring a super stable experience though I do agree that betas in a library usually aren't a good idea. 😄

@samtstern I just checked our POM file and we've mess

[2017-12-16 18:28] SUPERCILEX commented on #1060
@samtstern I've created https://github.com/firebase/FirebaseUI-Android/pull/1061. If you think it's good, we should probably release a new version of FUI pretty quick so people don't start getting NoSuchMethodExceptions from the support library.

[2017-12-16 18:29] SUPERCILEX commented on #1059
@Chozzle Apologies for the inconvenience, we aren't distributing our dependencies correctly. This will be fixed ASAP.

Duplicate of #1060

[2017-12-16 18:37] SUPERCILEX commented on #1058
@DionMeliala It isn't supported yet, but we're thinking about it.

Duplicate of https://github.com/firebase/FirebaseUI-Android/issues/17.

[2017-12-16 19:19] DheerajRijhwani123 commented on #636
It works for me also. Thanks.

[2017-12-16 19:49] Lightning-Bug commented on #229
Can someone help now?
Its urgent!!

[2017-12-16 22:25] blundell commented on #1060
<img width="1176" alt="screen shot 2017-12-16 at 22 19 21" src="https://user-images.githubusercontent.com/655860/34074803-20a7351e-e2af-11e7-8816-064225dc75a2.png">

Adding constraint layout dependency didn't fix it for me btw.

So if you have a quick fix whilst waiting for the PR merges? let me know

[2017-12-16 22:29] SUPERCILEX commented on #1060
@blundell Really sorry about the messed up dependencies. You'll have to replace `appcompat-v7` with `design` and upgrade to `27.0.2`. Let me know how that goes and if any new errors show up. You might have to add other support lib dependencies too...

[2017-12-17 04:07] dimipaun commented on #1060
@SUPERCILEX We're also getting an error, but different from the above:
error: Error retrieving parent for item: No resource found that matches the given name 'FirebaseUI.AuthMethodPicker'.

[2017-12-17 04:11] SUPERCILEX commented on #1060
@dimipaun I don't think that's related since the resource is a FirebaseUI one that we control. Try running a `./gradlew clean` and see if that helps.

[2017-12-17 11:19] blundell commented on #1060
ok cool I got it to build like this:

`compileSdkVersion 27`
`targetSdkVersion 27`

[code]

screenshot proof:

<img width="1193" alt="screen shot 2017-12-17 at 11 19 06" src="https://user-images.githubusercontent.com/655860/34078991-196f43f0-e31c-11e7-807c-d4ac4d7e021a.png">

At least I can move forward now! thanks 👍

[2017-12-17 13:15] danysz commented on #1060
moving to 27.0.2 all the dependencies is not working. same error.
[code]

[2017-12-17 19:01] wooldridgetm commented on #1060
@blundell thanks for reporting the problem; I just experienced the same issue & the suggested bandaid also worked for me.

[2017-12-18 17:28] #1058 closed

[2017-12-18 17:28] samtstern commented on #1059
Thanks @Chozzle.  This is a duplicate of #1060 and we'll fix it ASAP as @SUPERCILEX said.

[2017-12-18 17:28] #1059 closed

[2017-12-18 19:37] koolkvd commented on #1060
MethodPicker is causing issues, barrierDirection etc not found so i am assuming it's related to the BarrierView inside ConstraintLayout 1.1.0+ which is still inside beta. Also Why is this not a forced transitive dependency, had it not been for the comment above, i would've probably run around like a headless chicken trying to find why it's causing build errors.

[2017-12-18 19:43] samtstern commented on #1060
@koolkvd we're working on it!

We have forced transitive deps on things that were part of our public API surface (like Firebase and Play services) but we are only now seeing that transitive dependencies on classes used in our layouts cause issues that are not easily detected by the Android plugin.

[2017-12-18 19:47] samtstern commented on #1060
Also while we can and will address this here, I have filed a bug with Android as I think the tools should never have let us get this far:
https://b.corp.google.com/issues/70796598

[2017-12-18 19:50] SUPERCILEX commented on #1060
@samtstern Put a dollar in the "posted staging link on Github" jar! 😆 I also filed an issue, dunno if it's related: https://issuetracker.google.com/issues/70795896.

[2017-12-18 21:48] samtstern commented on #1060
Version `3.1.2` has been released which contains the POM-file fix for this issue.

[2017-12-18 21:48] #1060 closed

[2017-12-18 21:52] jzurek commented on #1060
Hey, I keep having a related (I think issue) - I had the `ConstraintLayout` problem, added `com.android.support.constraint:constraint-layout:1.1.0-beta3` (also tried with `1.1.0-beta4`) dependency and updated all the support libraries to `27.0.2`. Now when building, I keep having this error:
`/home/kuba/5a/appvisitas/app/build/intermediates/res/merged/dev/homologation/layout/fui_phone_layout.xml`

[2017-12-18 21:56] samtstern commented on #1060
Could you open a new issue for what you're seeing?

On Mon, Dec 18, 2017 at 1:52 PM Kuba Żurek <notifications@github.com> wrote:

[2017-12-19 12:36] jzurek opened #1064 "Can't build the project with Firebase UI Auth 3.1.1 / 3.1.2"
### Step 2: Describe your environment
* Android OS version: N/A build time issue
* Firebase/Play Services SDK version: 11.6.2
* FirebaseUI version: 3.1.1, 3.1.2

### Step 3: Describe the problem:

Cannot build the project when the Firebase auth dependency is added.

#### Steps to reproduce:

  1. add following libraries 'com.firebaseui:firebase-ui-auth:3.1.1' to app/build.gradle (using `compile` a

[2017-12-19 12:41] txedo commented on #123
Hi @SUPERCILEX, thank you for your effort!

FUI 3.1.2 has been just released and it fixes a bug for transitive dependencies and also upgrades to support library 27.0.2 [1]. Do you have any plans to update your fork or will your development get merged to mainstream anytime soon? Thank you in advance.

[1] https://github.com/firebase/FirebaseUI-Android/releases

[2017-12-19 12:55] jzurek commented on #1064
Ah, when I updated Gradle build tools (which we should've done a long time ago) from `2.2.3` to `3.0.1`, the build has passed.
I guess the issue can be closed, seems it's not an issue with Firebase UI Auth.

[2017-12-19 16:30] samtstern opened #1065 "Call setFirebaseUIVersion"
In `11.8.0` we added a new method to the auth SDK:
https://firebase.google.com/docs/reference/android/com/google/firebase/auth/FirebaseAuth.html#setFirebaseUIVersion(java.lang.String)

Calling this method within FirebaseUI will help us better understand which auth patterns are coming from FirebaseUI and maybe unearth some error/usage patterns we didn't know about.

[2017-12-19 19:42] SUPERCILEX commented on #123
@txedo Dunzos: `52df7658de`

[2017-12-20 03:11] dimipaun commented on #1064
Yeap, we're getting the exact same error here:

`~/.android/build-cache/e5cf555b8b994d795100e0949aff2be1ef12dc95/output/res/layout/fui_phone_layout.xml:16:57-73: AAPT: No resource found that matches the given name (at 'layout_constraintBaseline_toBaselineOf' with value '@id/phone_layout').

~/git/MyApp/mobile/build/intermediates/res/merged/backstage/release/layout/fui_phone_layout.xml:12: error: E

[2017-12-20 03:13] samtstern commented on #1064
Hi all.  Looking into this issue, can you try with 3.1.0 and see if the
problem persists?

On Tue, Dec 19, 2017, 7:11 PM Dimi Paun <notifications@github.com> wrote:

[2017-12-20 03:20] dimipaun commented on #1064
@samtstern we've been using 3.1.0 for a long time now (since its release), that one works great.
However, 3.1.1 was broken for us, we were looking forward to 3.1.2 :)

[2017-12-20 12:22] jzurek commented on #1064
@samtstern same thing as with @dimipaun, 3.1.0 was fine (except one NPE which you fixed in 3.1.1), 3.1.1 was showing the same build error (when I added necessary libraries), 3.1.2 of course shows it too :)

[2017-12-20 14:11] navaneethsaj opened #1066 "Help"
Information:Gradle tasks [:app:generateDebugSources, :app:generateDebugAndroidTestSources, :app:mockableAndroidJar]
C:\Users\ASUS\.gradle\caches\transforms-1\files-1.1\design-27.0.2.aar\dc07802960ab4ff2cff138f788bb7a6e\res\values-v26\values-v26.xml
Error:(3, 5) error: style attribute 'android:attr/keyboardNavigationCluster' not found.
C:\Users\ASUS\.gradle\caches\transforms-1\files-1.1\appcompat-v

[2017-12-20 16:10] samtstern commented on #1066
@navaneethsaj there is not enough information here to help you so I am going to close this issue.  Please follow the issue template when filing new issues.

If you're stuck and this is all you have, I suggest going to StackOverflow.

[2017-12-20 16:10] #1066 closed

[2017-12-20 16:46] samtstern commented on #1064
Ok I can confirm this issue when I use `'com.android.tools.build:gradle:2.3.3'` but not when I use `'com.android.tools.build:gradle:3.0.1'`.

Now I will try and figure out if this is my fault or something with the support libs / gradle plugin.

[2017-12-20 16:51] samtstern commented on #1064
Ok looking into the problematic layouts you see some constraints like this:

[code]

The thing is that the layout it is constrained to is defined like this (below it):

[code]

I think this may come from using the `@id` form versus the `@+id` form for a layout defined sequentially later.

[2017-12-20 17:01] samtstern commented on #1064
Alright my theory was correct and I have a fix:
https://github.com/firebase/FirebaseUI-Android/pull/1067

But I am not convinced the fix is a good idea.  Would love for someone who knows more about constraint layout to help me out here.

[2017-12-21 01:20] samtstern commented on #1064
The fix for this will be in version `3.1.3`.  The known workaround is to use gradle build tool `3.0.0+` with `aapt2` enabled (which is default).

[2017-12-21 12:33] jzurek commented on #1064
Thanks @samtstern! Unfortunately we can't use `aapt2` because of https://github.com/castorflex/SmoothProgressBar/issues/98, but we'll just wait for `3.1.3` release then.

[2017-12-21 15:59] samtstern commented on #1064
@jzurek if you want to unblock yourself right now, you can just do the following:

  * Clone the repo
  * Check out branch `version-3.1.3-dev`
  * Do `./gradlew :library:prepareArtifacts :library:publishAllToMavenLocal`
  * Add `repositories { mavenLocal() }` to your `build.gradle`
  * Add a dependency on version `3.1.3-SNAPSHOT`

This should be super safe since the only thing on the `3.1.3` branc

[2017-12-21 22:33] tarlanahad opened #1069 "StaggeredGridLayoutManager doesn't work"
There are very big gaps between rows.

You get more detailed information from my question in StackOverflow

[Question](https://stackoverflow.com/questions/47928660/firebase-recyclerview-with-staggeredgridlayoutmanager)

[2017-12-21 22:59] samtstern commented on #1069
@tarlanahad please do not double post, this is unlikely to be a library issue so leaving it for StackOverflow.

[2017-12-21 22:59] #1069 closed

[2017-12-22 04:08] shyamwebb commented on #1026
Hi,

 I am facing the same issue., I cant use both Facebook and Firebase UI together. Can anyone help me pls?

[2017-12-22 04:11] shyamwebb commented on #230
But when i remove facebook SDK, its showing error 'facebook related SDK classes are not resolved.

[2017-12-25 13:52] shimiuh commented on #869
I am still getting this crash on 3.1.0

Fatal Exception: java.lang.NullPointerException
Activity must not be null
keyboard_arrow_up
com.google.android.gms.common.internal.zzbp.zzb (Unknown Source)
com.google.android.gms.common.api.internal.zzcf.<init> (Unknown Source)
com.google.android.gms.common.api.GoogleApiClient$Builder.enableAutoManage (Unknown Source)
arrow_right
com.firebase.ui.auth.util.s

[2017-12-26 08:47] rulamardawi opened #1072 "IdpToken null after signing in with phone provider"
* Android device: Samsung Note3
  * Android OS version: 5.0
  * Google Play Services version: 11.8.0
  * Firebase/Play Services SDK version: 1.8.0
  * FirebaseUI version: 3.1.0

#### Observed Results:
onActivityResult after signingin
idpResponse.getIdpToken() is null
idpResponse has only the phone number and errorCode -1
all other fields are null

#### Relevant Code:
[code]

[code]

[2017-12-26 15:22] kurcano opened #1073 "FirebaseRecyclerAdapter is not showing results"
I have tried everything, take a look at this link, i really dont know what is happening, since we now need to use FirebaseRecyclerOptions , i think there is a bug that dont let me see the results !

https://stackoverflow.com/questions/47979018/how-firebaserecycleradapter-knows-what-data-to-query/

[2017-12-26 15:22] kurcano commented on #1073
https://stackoverflow.com/questions/47979018/how-firebaserecycleradapter-knows-what-data-to-query/47979530?noredirect=1#comment82928112_47979530

[2017-12-27 05:50] ravich528798 commented on #782
What if its in java ?

[2017-12-28 00:09] kikin81 commented on #613
I'm also running into this issue.
Our app depends on appcompat version `27.0.2` but the Firebase core ui is stuck on `25.0.2`

[2017-12-28 06:33] bigahega commented on #17
Any news on the issue?

[2017-12-28 08:15] LeToucanDev opened #1074 "Firestore ui Android: adapter.startlistening() crashes the app."
Any idea why?
It's Only google play service ver. 3.1.2, firestore UI 3.1.2 as well.
I've been trying to read from the database and then display into the recyclerview, so I noticed. it was not displaying.

I tried both setLifeCycleOwner and startlistening and it continues to crash...

`public class ChatActivity extends AppCompatActivity {

    RecyclerView chat_view;
    EditText message_text;

[2017-12-28 08:54] SUPERCILEX commented on #1074
What's the crash?

[2017-12-28 15:27] jauniuse opened #1075 "Change Signin with email button color"
Is it possible to change Signin with email button background color? By default it's a very sharp red.

![image](https://user-images.githubusercontent.com/24221399/34414866-03d7a6f8-ebec-11e7-9855-707f2228be07.png)

I cannot seem to be able to customize it through theme.

[2017-12-28 19:47] LeToucanDev commented on #1074
@SUPERCILEX Here's the logcat Error:

https://gist.githubusercontent.com/LeToucanDev/85821d5664e7ebec2acf1265460c7657/raw/81e74c9e4387aa6e3b7e22a2ff9858885a3fd101/lognChatError

[2017-12-28 19:56] LeToucanDev commented on #1074
@SUPERCILEX
Here's the logcat Error:

<script src="https://gist.github.com/LeToucanDev/85821d5664e7ebec2acf1265460c7657.js"></script>

[2017-12-28 20:50] SUPERCILEX commented on #1075
Not officially, but you can override our resources:
[code]

_Friendly warning: we may break you at any time since that's not public API._

[2017-12-28 20:53] SUPERCILEX commented on #1074
Oh I see, `query` is null when you try to use it. Make sure to initialize `query` _before_ you call `newAdapter()`.

[2017-12-28 21:04] LeToucanDev commented on #1074
@SUPERCILEX Thanks!! Oh My lord, I might love you!! 👯‍♂️

[2017-12-28 21:41] jauniuse commented on #1075
thanks

[2017-12-28 21:41] #1075 closed

[2017-12-28 21:57] LeToucanDev commented on #1074
@SUPERCILEX Wait, well it does not crash anymore, it just doesn't display anything. I Don't think it is binding the view Holder... Any idea

[2017-12-28 21:59] SUPERCILEX commented on #1074
Have you re-enabled the `setLifecycleOwner(this)` option? If not, you'll have to call `adapter.startListening()`.

[2017-12-28 23:34] dmkdfc commented on #998
@ncherian how did u do it ? please can u help me !!

[2017-12-29 00:44] LeToucanDev commented on #1074
@SUPERCILEX yessir, I did that.  I left it as such as is the code above.

[2017-12-29 00:46] SUPERCILEX commented on #1074
Huh, can you put a log in `onDataChanged()` to see if it's getting called?

[2017-12-29 01:00] LeToucanDev commented on #1074
@SUPERCILEX It is getting called, I saw the LOG

[2017-12-29 01:03] SUPERCILEX commented on #1074
Ok, then it's not a FirebaseUI issue. Since I'm not seeing anything at first glance, I would recommend posting this on Stack Overflow.

[2017-12-29 01:07] LeToucanDev commented on #1074
@SUPERCILEX OK, thanks for the help. Will do

[2017-12-29 08:56] Kurt29 commented on #782
If you are using Java, it is probably something different

[2017-12-29 11:05] PranavVyas commented on #1064
@samtstern and @jzurek Thanks!
I was also facing same issue with FirebaseUI-Auth version 3.1.2, However When I changed to version 3.1.0 It is working fine now.

[2017-12-29 12:20] kkdevenda commented on #123
Hey @SUPERCILEX

First of all, thank you very much for all your efforts🙌.

So, I have been one of those rare cases where the user already has an account. I am creating the intent with `setIsAccountLinkingEnabled(true, MyManualMergeService.class)` to start the sign in flow, the problem is, I get an error saying _This credential is already associated with a different user account_  when the user cli

[2017-12-29 13:29] dlaravindhan opened #1077 "i want only phone number authentication"
how to change only phone number authentication please give me source code

[2017-12-29 16:45] dmkdfc commented on #998
Problem solved !

[2017-12-30 09:44] thakkaryash94 commented on #1077
You can use below snippet to sign in only with phone number and it will directly open phone number activity instead of default activity of this library which shows all the different options to log in.

[code]

It means if you have enabled only one way to sign in, this library will not show custom activity with one option. If you enable more than one way to sign in, then only it will show custom ac

[2017-12-31 01:49] clydebarrow commented on #1036
Seeing the same thing on API 19. It is reproduceable in the Android emulator.

[2017-12-31 04:31] SUPERCILEX commented on #916
@samtstern I believe this was fixed in FirebaseUI [`v2.4.0`](https://github.com/firebase/FirebaseUI-Android/releases/tag/2.4.0).

[2017-12-31 04:32] SUPERCILEX commented on #1035
@samtstern I believe this was fixed in FirebaseUI [`v2.4.0`](https://github.com/firebase/FirebaseUI-Android/releases/tag/2.4.0).

(I think @niyasmohaideen means have the phone number be preloaded.)

[2017-12-31 09:44] SUPERCILEX commented on #467
@samtstern Ok, if #1083 goes through, we can do some crazy cool stuff! I'm not sure if we'd want this kind of feature, but I was thinking of enabling a fully customizable sign-in field template. That is, devs would be able to supply required and optional fields that we generate views for on-the-fly and use annotations and reflection to support custom validation.

The new builder APIs in my PR woul

[2017-12-31 10:21] SUPERCILEX commented on #916
Nevermind, that was just to prefill the phone number. I'll add this feature to #1083.

[2018-01-01 06:39] Kashish-Sharma commented on #1064
@samtstern
3.1.0  and 3.0.0  not working for me, any suggestions

[2018-01-01 17:29] ravich528798 commented on #782
`if (firebaseAuth.getCurrentUser() != null) {

            startActivity(new Intent(Login.this, MainActivity.class));

        } else {

            List<AuthUI.IdpConfig> providers = Arrays.asList(
                    new AuthUI.IdpConfig.Builder(AuthUI.EMAIL_PROVIDER).build(),
                    new AuthUI.IdpConfig.Builder(AuthUI.PHONE_VERIFICATION_PROVIDER).build(),
                    new Au

[2018-01-02 05:55] dlaravindhan commented on #1077
thanks lot man

[2018-01-02 10:43] dscoppelletti opened #1084 "API Key and Secret Key are too easy to grab"
I would like to use FirebaseUI to sign-in with different providers, but API Key and Secret Key are too easy to grab if they are stored as string resources.
Maybe you can use the params Bundle in the `AuthUI.IdpConfig.Builder` for setting API Key and Secret Key for any provider in order to make me free to handle the secret keys in the way I want.

[2018-01-02 13:12] yash59 commented on #1008
yes, I am facing the same issue. Did you find any solution?

[2018-01-02 13:23] Kurt29 commented on #1008
I am not sure, but the refactoring @SUPERCILEX is doing should help with a lot of IDP and auth stuff. The hope is, that that is going to fix a lot of errors, bugs and so on, I think the focus is to finish it as fast as possible, instead of trying to fix them in FireBaseUI 3.1.* (except it's a fatal error)
@SUPERCILEX  correct me if I am in the wrong XD

[2018-01-02 16:14] samtstern commented on #1084
@dscoppelletti are you referring to the keys for Twitter?

[2018-01-02 16:14] #1077 closed

[2018-01-02 16:14] samtstern commented on #1077
Thanks @thakkaryash94 !

[2018-01-02 16:16] #1074 closed

[2018-01-02 16:16] samtstern commented on #1074
Thanks @SUPERCILEX for the support.

[2018-01-02 16:24] dscoppelletti commented on #1084
Yes, I am developing and App with Twitter integration, but I think the problem is the same with the other providers.

[2018-01-02 16:36] samtstern commented on #1084
@dscoppelletti none of the other providers require any "secret" keys.

You can see our original discussion of the situation here: https://github.com/firebase/FirebaseUI-Android/issues/269

[2018-01-02 17:00] rvcdev commented on #1008
@yash59  - No, I didn't find a fix. The issue still occurs.

@Kurt29 - Thanks for the feedback!

[2018-01-02 17:29] dscoppelletti commented on #1084
Sorry, I used only Facebook some years ago and it required the secret key.
Anyway I think that `params` Bundle in `AuthUI.IdpConfig.Builder` is good to set some parameters specific for a provider.

[2018-01-02 19:24] mikekaranja opened #1085 "A network error keeps showing lower android versions"
Welcome to FirebaseUI and thanks for submitting an issue!

### Step 2: Describe your environment

  * Android device: _____
  * Android OS version: 5.1, 4.4, 4.4.2, 7.0
  * Google Play Services version: 11.6.2
  * Firebase/Play Services SDK version: 11.6.2
  * FirebaseUI version: 3.1.0, 3.1.2

### Step 3: Describe the problem:
The phone number auth does not work for some android versions 5.1, 4.4,

[2018-01-02 19:39] #1035 closed

[2018-01-02 19:42] samtstern commented on #1073
@kurcano please do not double post.  This looks like it is best solved on StackOverflow, so closing it here.

[2018-01-02 19:42] #1073 closed

[2018-01-02 19:44] samtstern commented on #1072
@rulamardawi this is working as expected, this field contains the token from the identity provider such as the Facebook or Google access token, when available.

There is no such token for Phone Number authentication.

[2018-01-02 19:44] #1072 closed

[2018-01-02 20:11] SUPERCILEX commented on #1037
@samtstern This issue can be closed since we pushed the changes to master 👍.

[2018-01-02 23:40] SUPERCILEX commented on #1008
@Kurt29 I believe this is just a memory leak, and yes, separating the UI and background work stacks should fix the numerous mini task listener and view leaks peppered throughout FirebaseUI.

[2018-01-02 23:50] Kurt29 commented on #1008
@Supercilex
Since when is something “just“ a memory leak? XD

[2018-01-02 23:53] SUPERCILEX commented on #1008
@Kurt29 😆 yeah, sorry. I meant it's not the end of the world compared to a crash, but still definitely something we need to fix.

[2018-01-02 23:57] Kurt29 commented on #1008
😂 was just kidding
That was what I meant with my comment, that there are some bugs with more priority.

[2018-01-03 00:04] SUPERCILEX commented on #1008
😊👍

[2018-01-03 00:50] samtstern commented on #1037
Thanks @SUPERCILEX

@ahaverty be sure to let us know when that medium post comes out!

[2018-01-03 00:50] #1037 closed

[2018-01-03 01:17] samtstern commented on #467
@SUPERCILEX let's first offer a long-awaited flag for this particular issue, release `3.2.0` and then do further features based on demand.  I don't really like the words "crazy" and "reflection" used together in a feature proposal :-)

[2018-01-03 01:54] SUPERCILEX commented on #467
@samtstern Haha, that SGTM. At least the doors will be open now! 😁

[2018-01-03 03:00] s-p-a-r-k opened #1086 "FirebaseRecyclerAdapter not showing anything for version 3.1.0"
* Android device: Samsung Galaxy S8
  * Android OS version: 7.0
  * Google Play Services version: 11.8.0
  * Firebase/Play Services SDK version: 11.8.0
  * FirebaseUI version: 3.1.0

I updated FirebaseUI from version 2.4.0 to 3.1.0 and FirebaseRecyclerAdapter is not working anymore. Since the parameter changed, I changed my code as README said, but it is not showing me anything.

Following is what

[2018-01-03 04:38] AungThu772 commented on #1086
in onStart:  adapter.startListening()

[2018-01-03 04:47] SUPERCILEX commented on #1086
@AungThu772 is correct. You could also use `setLifecycleOwner(this)` to handle your lifecycle automatically. I would recommend reading the [docs](https://github.com/firebase/FirebaseUI-Android/blob/master/database/README.md#firebaserecycleradapter-lifecycle).

[2018-01-03 05:11] s-p-a-r-k commented on #1086
Thank you @AungThu772 and @SUPERCILEX!

[2018-01-03 05:11] #1086 closed

[2018-01-03 06:20] imran-samed commented on #831
use +91 prefix in number  @yash59

[2018-01-04 04:45] SUPERCILEX commented on #123
@kkdevenda Apologies for the delay, and thanks for the detailed investigation! I'll investigate this issue soon. 😉

[2018-01-04 08:00] yash59 commented on #1008
I have a production app on play store and many users are facing this issue. do you have any idea or alternative to solve this issue?

[2018-01-04 08:37] Kurt29 commented on #467
@SUPERCILEX
That would be the feature that I actually wanted/needed for a long time. But since I am still not done with other parts of my app, I was too lazy to actually try to implement this.

[2018-01-04 15:53] shortstopyomin opened #1090 "Terms of service and privacy policy did not show on email auth UI process."
FirebaseUI-Android (Version: 3.1.2) sample code without changing any source code.

Terms of service and privacy policy did not show on email auth UI process.

master branch.

[code]

[2018-01-04 15:55] RedLann commented on #1053
After some investigation (until a week ago) i noticed that my problem was the name of the method saving the objects, i named the method "finalize" which was called instead of the finalize method in Object (called on object Garbage Collected) so every time the fragment was being collected it would call the finalize() method that saved my items.

[2018-01-04 20:17] Kurt29 commented on #1090
I am not sure and cannot try it for my own, but can you try the same code withouts setting a custom theme?

[2018-01-05 19:57] samtstern commented on #1090
@shortstopyomin could you please show a screenshot of what you see when you expect to see the TOS?

[2018-01-05 20:30] samtstern commented on #1036
This has been fixed and released in `3.1.3`.

[2018-01-05 20:30] samtstern commented on #1065
This has been fixed and released in `3.1.3`.

[2018-01-05 20:30] #1065 closed

[2018-01-05 20:30] samtstern commented on #1064
This has been fixed and released in `3.1.3`.

[2018-01-05 20:30] #1064 closed

[2018-01-06 12:25] shortstopyomin commented on #1090
@samtstern

![screenshot_20180104-190103](https://user-images.githubusercontent.com/1888742/34639684-99324dcc-f31f-11e7-9944-f2c4359b6bd7.jpg)

[2018-01-08 13:20] wonsuc opened #1093 "[STORAGE] Can't get transferred bytes with "getStream" way in FirebaseImageLoader"
`Glide` with `FirebaseImageLoader` is really cool.

However, Firebase never let's me know **downloading progress** if I use the `StorageReference.getStream()` method.

Most people would want to use the downloading progress feature with [Glide](https://github.com/bumptech/glide/issues/232). Our app also needs this feature but there's no way to integrate this feature if I use `FirebaseImageLoader`.

[2018-01-08 18:17] samtstern commented on #1090
@shortstopyomin thanks for the screenshot, I have sent a PR to fix this #1094

[2018-01-09 01:23] samtstern opened #1095 "Refactor welcome back password flow use new architecture"
@SUPERCILEX I am going to take a stab at one of these refactors.

[2018-01-09 01:26] samtstern commented on #1095
Note that this also means I will be converting `SaveSmartLock` which should be a fun challenge.

[2018-01-09 01:34] samtstern commented on #1095
This will also encompass #1007

[2018-01-09 02:49] SUPERCILEX commented on #1095
@samtstern awesome, can't wait to see how you solve this! I'll keep my fork up to date with the new changes so we can pool ideas. 💡

[2018-01-09 07:40] Kishanjvaghela opened #1097 "App Crashed : java.lang.IndexOutOfBoundsException : com.firebase.ui.auth.ui.phone.PhoneVerificationActivity"
### Environment

  * Android device:  Nexus 4
  * Android OS version: 6.0.1
  * Google Play Services version: 11.4.2
  * Firebase/Play Services SDK version: 11.4.2
  * FirebaseUI version: 3.1.0

#### Caused by java.lang.IndexOutOfBoundsException:

[code]

[2018-01-09 14:07] lazyFloyd opened #1098 "Wrong package name for ProviderUtils"
Just noticed that the [ProviderUtils](https://github.com/firebase/FirebaseUI-Android/blob/4b98a9853bf3cee9d0a32312ecf1897f740d1547/auth/src/main/java/com/firebase/ui/auth/provider/ProviderUtils.java) class has either the wrong package name or is located in the wrong place.

![firebase_ui](https://user-images.githubusercontent.com/23117238/34724439-177a4b5a-f54e-11e7-8950-08ae1cbad131.png)

[2018-01-09 15:48] samtstern commented on #1098
@lazyFloyd nice catch!

[2018-01-09 16:00] samtstern commented on #1097
This is a duplicate of #779 so I am closing it.  In version `3.1.1` we added some more helpful logs to this issue so if you run into it on `3.1.1` or later please post your logs so we can analyze!

[2018-01-09 16:00] #1097 closed

[2018-01-09 18:59] wonsuc commented on #1093
Ok. I confused the proper usage of `getStream()` method at the first time.
I struggled for a day and resolved with my solution.
I'm sharing the [gist](https://gist.github.com/wonsuc/7724258a760701eb3622c9afd42db971).
I have no guarantees with this codes and I'm not sure if it's best way.

![firebase_ui_progress_bar.gif](https://gist.githubusercontent.com/wonsuc/61de91cf99f16199d7c5cf9f4867ca48/raw

[2018-01-09 19:12] PhilippeBoisney opened #1100 "Caused by: java.lang.RuntimeException: Found conflicting setters with name: setWallpaper"
### Describe your environment

  * Android device: Samsung S8
  * Android OS version: 7.0
  * Google Play Services version: 8.5
  * Firebase/Play Services SDK version: 11.8.0
  * FirebaseUI version: 3.1.3
### Describe the problem:
When I try to add a CollectionReference to an object (Room.java) via it's constructor, and store it to Firebase to create a reference to a collection, a RuntimeException

[2018-01-09 19:35] samtstern commented on #1093
@wonsuc thanks for following up and sharing your solution, that's awesome! I assume I can close this issue now.

[2018-01-09 19:35] #1093 closed

[2018-01-09 20:34] viyt opened #1101 "Memory leak on com.firebase.ui.auch.KickoffActivity"
### Describe your environment

  * Android device:Nexus 6P
  * Android OS version: 6.0.0
  * Google Play Services version: 3.1.1
  * Firebase/Play Services SDK version: 11.8.0
  * FirebaseUI version: 3.1.3

### Describe the problem:
After invoking  AuthUI.getInstance().createSignInIntentBuilder() from Activity, LeakCanary reported a leak on the KickoffActivity as it can be seen in the leak canary'

[2018-01-09 23:50] samtstern opened #1102 "Unit test for RecoverPasswordHandler"
Follow up to #1048

[2018-01-09 23:53] samtstern commented on #1085
@mikekaranja apologies for the late response but normally this error just means you actually have an unreliable network connection.  Could you try making a request to Firebase without FirebaseUI and see if you get a different result?

[2018-01-10 00:33] samtstern commented on #1100
@PhilippeBoisney thanks for the report.  Right now you can only store a `DocumentReference` as part of a document, a `CollectionReference` will cause an error.

I am going to close this issue since there's nothing FirebaseUI can do but I will file two requests internally:

  1. This should result in a much better error message.
  2. This should probably be supported in the long term.

[2018-01-10 00:33] #1100 closed

[2018-01-10 16:28] samtstern commented on #1101
@viyt thanks for the report!  Sounds like a bug, we will investigate.

[2018-01-10 23:12] samtstern opened #1103 "Refactor/Remove GoogleSignInHelper"
The class `GoogleSignInHelper` is mostly an abstraction over `GoogleApiClient` and its connection process.  With the new `GoogleSignInClient` this should not really be necessary and we will reduce our bug surface.

[2018-01-12 10:07] subramanyamgv opened #1104 "Crash in AuthUI.getInstance() while Signin"
* Android device: vivo X9
  * Android OS version: 6.0.1
  * Google Services version: 3.1.2
  * Firebase/Play Services SDK version: 11.8.0
  * FirebaseUI version: 3.1.3

### The problem:
Crash in AuthUI.getInstance() while signin

#### Crash report

[code]

#### Code to reproduce

[code]

[2018-01-12 12:40] iToxicDeveloper commented on #17
hello, any news ?

[2018-01-14 00:06] kumarkeviv commented on #17
@SUPERCILEX @samtstern We would love if you could provide an update on this. I understand that the development team is busy, but its among the most critical feature in almost all the application.

Even if this is not possible to add in Firebase UI at this time, could you please @samtstern share the logic  of your version of implementation you mentioned before? This will at-least give us an idea on

[2018-01-14 21:15] Levelleor commented on #467
Is this issue still can't be fixed? Same here as someone already said. "First & last name" simply sounds weird in my app and might scare people to type anything.

[2018-01-15 17:03] lollipierre commented on #1085
Hi, we have the same issue. It's been happening for a few days; and happens with or without FirebaseUI

[2018-01-15 22:59] Jawnnypoo commented on #17
If you all are interested, I have created a sort of proof of concept of being able to load more when reaching the end of the list here:

https://github.com/Commit451/FirestoreAdapter

It is written in Kotlin and I am still working through some issues, such as the fact that the list gets scrolled back up to the top after rotation and other things like that, but it does work as far as loading more i

[2018-01-16 16:21] samtstern commented on #1085
@mikekaranja can you provide logcat output from the device for the ~1m before you see the network error?

[2018-01-16 16:48] samtstern commented on #467
@Levelleor this is on the `3.2.0` milestone which means we hope to close it in our next release.  @SUPERCILEX did some refactoring to make this possible.

[2018-01-16 20:22] sgpthomas commented on #1029
I have the same problem but I am unable to load images.

[2018-01-17 03:43] dazza5000 commented on #17
how would you all like this to work - a load more header/foot or infinite scroll?

[2018-01-17 07:27] hackerutsav commented on #921
Hello,i have 2.3.0 and it's again coming here.It's not been fixed still :(

[2018-01-17 08:28] sgatade commented on #1029
Its still working for me without the code inside the loader :D...

Regards,

SG

On Wed, Jan 17, 2018 at 1:53 AM, Samuel Thomas <notifications@github.com>
wrote:

--
Thanks and regards,

Shailendra Gatade
Mobile: +919881464770

[2018-01-17 15:11] dimipaun opened #1105 "Crash in LruCache when called from BaseCachingSnapshotParser.java:36"
I keep seeing this issue in Crashlytics:
`Exception java.lang.NullPointerException: key == null || value == null
android.util.LruCache.put (LruCache.java:166)
com.firebase.ui.common.a.a (BaseCachingSnapshotParser.java:36)
com.firebase.ui.common.c.get (BaseObservableSnapshotArray.java:52)
com.firebase.ui.database.FirebaseRecyclerAdapter.a (FirebaseRecyclerAdapter.java:106)
co.edgeapp.android.ui.Bas