[2018-01-17 16:08] SUPERCILEX commented on #1105
It means you're returning null in your `parseSnapshot` method.

[2018-01-17 17:17] samtstern commented on #1105
@SUPERCILEX is this something we should support?  Do we document the restriction?

[2018-01-17 21:28] SUPERCILEX commented on #1105
@samtstern I believe we've never supported nulls since the kind of queries we use aren't on specific refs (which means we only get docs that exist). And no, this isn't documented other than the `@NonNull` annotations. What do you think we should do? I personally don't see how returning a null model makes sense since it would require using some default model to display the nulls in the recycler vie

[2018-01-17 23:57] samtstern commented on #1105
Ok just wanted to check.

@dimipaun the answer is to not return `null` from your `SnapshotParser`.  If you think this is something we're doing please comment and I will re-open.

[2018-01-17 23:57] #1105 closed

[2018-01-18 02:26] samtstern commented on #467
@SUPERCILEX this is the last bug on the `3.2.0` hotlist that is not `fix-implemented`.  We should probably implement this and then release `3.2.0`, get some of the new architecture out into the wild before racing ahead any further.

[2018-01-18 18:15] samtstern opened #1107 "WelcomeBackPassword triggered even when full credential selected"
Welcome to FirebaseUI and thanks for submitting an issue!

Please take a look at [open issues](https://github.com/firebase/FirebaseUI-Android/issues?q=is%3Aopen+is%3Aissue), as well as [resolved issues](https://github.com/firebase/FirebaseUI-Android/issues?q=is%3Aissue+is%3Aclosed), to see if your issue is either already being addressed, or has been solved by someone else.

If not, please feel fre

[2018-01-18 21:39] SUPERCILEX commented on #467
@samtstern Yup, SGTM!

[2018-01-19 00:37] samtstern commented on #1107
Actually I can no longer reproduce this, this must have been an issue with something in the middle of my last PR.

[2018-01-19 00:37] #1107 closed

[2018-01-19 03:11] dimipaun commented on #1105
@SUPERCILEX @samedson I've looked at our code, and I *really* need to be able to return null.
The reason is that our SnapshotParser can detected invalid data, in which case there's no decent value that we can return, but null.
As for the recycler view, we just don't display those rows, and frankly it is the only clean way to handle this.
Returning a empty object is ugly & unnecessary - I really th

[2018-01-19 03:29] SUPERCILEX commented on #1105
@dimipaun what do you mean by "errors"? Shouldn't you be checking that in your rules or at input time? As for returning an empty object, that's not too hard in Java:
[code]
Then you just check if the model is the exact instance of that empty object.

The main issue with supporting nulls is that it will break everyone using Kotlin and make things extremely unpleasant. It'll also make caching harder

[2018-01-19 09:23] borrom-dev commented on #1090
I'm quite new to open source project, but I was wondering when this fix will available?

[2018-01-19 13:54] dimipaun commented on #1105
@SUPERCILEX yes, we are checking in rules, but in practice the rules don't catch everything (they are always behind the times), and we can't afford to crash the app when things go wrong.

What I'm saying is there are few cases (in terms of frequency) where the most natural thing to do is to return null.

Of course we could return an empty object, but that is a very ugly solution especially when de

[2018-01-19 18:51] samtstern commented on #1090
@borrom-dev we're hoping to release `3.2.0` soon, probably early next week.

[2018-01-20 13:54] royhershkovitz commented on #1104
hey!
it worked for me with this configuration
android {
    compileSdkVersion 26
    defaultConfig {
        applicationId "com.bla.bla.appname"
        minSdkVersion 16
        targetSdkVersion 26
        versionCode 1
        versionName "1.0"
        testInstrumentationRunner "android.support.test.runner.AndroidJUnitRunner"
    }
    buildTypes {
        release {
            minifyEnabled fals

[2018-01-20 20:28] herberthobregon opened #1112 "FirebaseAuth.getInstance().getCurrentUser() never return null"
* Android device: Oneplus One, and all phones
  * Android OS version: 5.0 - 8.1
  * Google Play Services version: 11.9.51
  * Firebase/Play Services SDK version: 11.8.0
  * FirebaseUI version: 3.1.3

### Step 3: Describe the problem:

When I start it all goes well but when I signOut with

FirebaseAuth.getInstance ().signOut ();

then I close the app and reopen the application, currentUser is not n

[2018-01-20 20:33] SUPERCILEX commented on #1105
@dimipaun Hmmm, I do see your point about it feeling right to return null, but the issue on our side then becomes how do we display those nulls? I personally don't think it's acceptable for the library let nulls end up in `onBindViewHolder` so that means we'd have to do some sort of item shifting and duplication. We've been doing that in [`FirebaseIndexArray`](https://github.com/firebase/FirebaseU

[2018-01-20 20:36] #1112 closed

[2018-01-20 20:37] SUPERCILEX commented on #1112
`signInWithEmailAndPassword` is an async callback so it finishes _after_ you call `signOut`.

[2018-01-21 09:02] waleedkalyar commented on #1005
i will do this code but get java.lang.NullPointerException at   AuthUI.getInstance()

[2018-01-21 12:17] yash59 commented on #1101
any alternate solution?

[2018-01-21 21:40] dimipaun commented on #1105
@SUPERCILEX thanks for the suggestion. I've actually went ahead and did the empty object, it is indeed not pretty, but I think it works.

I understand the difficulty here, but it's a case of Perfect being the enemy of Good. Maybe a first step if to allow the null onBindViewHolder. For people that don't return null from the parser, this is a non-issue. And for the ones that do, they should be prepa

[2018-01-22 04:09] kshivang commented on #1104
Same error is coming with phone auth for some instance as well

Code that used
`
        Bundle params = new Bundle();
        params.putString(AuthUI.EXTRA_DEFAULT_COUNTRY_CODE, "in");

        startActivityForResult(
                AuthUI.getInstance()
                        .createSignInIntentBuilder()
                        .setAvailableProviders(
                                Collections

[2018-01-22 04:42] kshivang opened #1113 ""Resend Code" button(turned blue i.e. enabled) in Phone Auth not working in 3.1.3"
* Android device: MI4W (Problem is common for all devices)
  * Android OS version: 8.1.0
  * Google Play Services version: 3.1.1
  * Firebase/Play Services SDK version: 11.8.0
  * FirebaseUI version: 3.1.3

#### Steps to reproduce:

  1. Integrate signIn via phone authentication
  2. Fill your phone no and continue
  3. If you get OTP within 20 sec no problem but for some reason if you not receive

[2018-01-22 05:51] pshoultz commented on #125
same problem and the fixes on here don't seem to work.  Is there an answer in 2018?

[2018-01-22 08:15] royhershkovitz commented on #1104
try to run it without the theme, if it solves the problem move the theme above the providers.
for instance when i moved the smart lock it stop crashes on the phone.

[2018-01-22 22:04] samtstern commented on #1113
This has been fixed and released in version `3.2.0`.

[2018-01-22 22:04] #1113 closed

[2018-01-22 22:04] samtstern commented on #1101
This has been fixed and released in version `3.2.0`.

[2018-01-22 22:04] #1101 closed

[2018-01-22 22:04] samtstern commented on #856
This has been fixed and released in version `3.2.0`.

[2018-01-22 22:04] #856 closed

[2018-01-22 22:04] samtstern commented on #1103
This has been fixed and released in version `3.2.0`.

[2018-01-22 22:04] #1103 closed

[2018-01-22 22:05] samtstern commented on #1102
This has been fixed and released in version `3.2.0`.

[2018-01-22 22:05] #1102 closed

[2018-01-22 22:05] samtstern commented on #1098
This has been fixed and released in version `3.2.0`.

[2018-01-22 22:05] #1098 closed

[2018-01-22 22:05] samtstern commented on #1095
This has been fixed and released in version `3.2.0`.

[2018-01-22 22:05] #1095 closed

[2018-01-22 22:05] samtstern commented on #1090
This has been fixed and released in version `3.2.0`.

[2018-01-22 22:05] #1090 closed

[2018-01-22 22:05] samtstern commented on #467
This has been fixed and released in version `3.2.0`.

[2018-01-22 22:05] #467 closed

[2018-01-22 22:05] samtstern commented on #916
This has been fixed and released in version `3.2.0`.

[2018-01-22 22:05] #916 closed

[2018-01-22 22:05] samtstern commented on #1022
This has been fixed and released in version `3.2.0`.

[2018-01-22 22:05] #1022 closed

[2018-01-22 22:05] samtstern commented on #806
This has been fixed and released in version `3.2.0`.

[2018-01-22 22:05] #806 closed

[2018-01-22 22:11] samtstern commented on #1007
This was done in `3.2.0`

[2018-01-22 22:11] #1007 closed

[2018-01-23 00:04] imax531 opened #1116 "ui-auth:3.2.0 gradle sync fails due to lint error"
### Step 1: Are you in the right place?

  * yes

### Step 2: Describe your environment

  * Android device: N/A
  * Android OS version: N/A
  * Google Play Services version: 11.8.0
  * Firebase/Play Services SDK version: 11.8.0
  * FirebaseUI version: 3.2.0
  * Android Studio version: 3.0.1

### Step 3: Describe the problem:

When trying to add auth-ui gradle dependency, gradle sync fails with th

[2018-01-23 00:32] SUPERCILEX commented on #1116
Shucks! We really need to be more careful about our modules... working on a fix right now. In the meantime, this should work:
[code]

[2018-01-23 09:41] porkyhead opened #1118 "3.2.0: SmartLock Email picker always shown"
* Android device: Google Pixel
  * Android OS version: 8.1
  * Google Play Services version: 11.8.0
  * Firebase/Play Services SDK version: 11.8.0
  * FirebaseUI version: 3.2.0

After upgrading to version 3.2.0 Smartlock email picker is shown even though authentcation is set to phone or Facebook. After email picker has been closed, the correct flow follows.

[code]

[2018-01-23 12:45] sereden opened #1119 "Decrease restriction level for inner components which could be reusable"
Hello everybody!

I guess library shouldn't be very strict in some aspects. For example, developers might want to implement custom phone numbers screen with validation. Currently to do this they need to implement `CountryListSpinner` class on their own with all related classes because `CountryInfo`,  `PhoneNumberUtils` and other are `@RestrictTo(RestrictTo.Scope.LIBRARY_GROUP)`

As for me some par

[2018-01-23 15:59] samtstern commented on #1119
@sereden the reason we restrict those components is because we don't want them to be considered part of the public API.  This lets us change them frequently and helps us move quickly.

If you want to use these restricted classes you can either copy the code or fork the library entirely, that's the beauty of open source!

[2018-01-23 15:59] #1119 closed

[2018-01-23 16:02] samtstern commented on #1118
@porkyhead can you provide a little more detail?  Do you mean this picker?
![smartlock](https://user-images.githubusercontent.com/8466666/35286000-9a2281c4-0013-11e8-9df4-15951861e3f7.png)

That is shown when you have previously saved an account with FirebaseUI and allows you to log in with a single tap.  It's the intended behavior for now.

Or do you mean something else?

[2018-01-23 16:12] samtstern commented on #1104
The crash came from this line:
https://github.com/firebase/FirebaseUI-Android/blob/version-3.1.3/auth/src/main/java/com/firebase/ui/auth/AuthUI.java#L192

But it seems to be coming from within GmsCore.  I'll see if I can find where it's happening.

@subramanyamgv if you could provide a ZIPed up project that reproduces this crash that would be really helpful.

[2018-01-23 17:13] RuiVarela commented on #1118
upgrading to 3.2.0 is hell of a ride. that behavior changed out of nowhere...
I currently disabled smartlock
 .setIsSmartLockEnabled(false),

to set the same behavior as before, you need to clear your app data

[2018-01-23 17:23] samtstern commented on #1118
@RuiVarela can you help explain what changed exactly?

[2018-01-23 17:35] RuiVarela commented on #1118
sure,

if you use this snipped
[code]
which was what we used, and if you have a picker with "email, phone, facebook, etc..." we were expecting that by using the phone you would be directed to phone validation screen,
but now it pops up a smart lock thing, which is surprising for the user and that eventual crashes the app

![01](https://user-images.githubusercontent.com/11543973/35290916-984b2766-0

[2018-01-23 17:38] RuiVarela commented on #1118
the expression "Continue With" is really not explanatory of what is happening, I just thought that I was going through and email validation process

[2018-01-23 17:45] samtstern commented on #1118
@RuiVarela ah ok thanks, I see what's happening here.  At some point you must have enabled the email flow (maybe in testing) and gone far enough to save an email credential.

If in your production app you've only ever called `setAvailableProviders()` with the phone config then your users will never see this error, but we could be more defensive anyway.

I'll see what I can do.

[2018-01-23 17:49] samtstern commented on #1118
Also to be clear, FirebaseUI no control over the "continue with" messaging or the styling of that email dialog, that comes directly from SmartLock.

[2018-01-23 17:52] SUPERCILEX commented on #1118
@samtstern sorry for the late reply, I'm pretty sure it doesn't have to do with providers but instead the new credential client. We have to redo something like https://github.com/firebase/FirebaseUI-Android/pull/708. I'm seeing the same behavior as people here in that all my emails and Google accounts are showing up at the beginning.

[2018-01-23 17:53] samtstern commented on #1118
@SUPERCILEX got it, I am digging into this now.

[2018-01-23 17:54] SUPERCILEX commented on #1118
Awesome!

[2018-01-23 18:02] samtstern commented on #1118
@SUPERCILEX I see that we always set `setPasswordLoginSupported` to `true`.  Were we saving phone number credentials as password credentials or something?

[2018-01-23 20:21] SUPERCILEX commented on #1118
@samtstern Not yet, but I did add support to save phone numbers in #962 and plan on bringing that over at some point. Currently tracked down the issue to https://github.com/firebase/FirebaseUI-Android/commit/ff16d0dd4d1e51c81e50cf9c4139e0a919ab6a4e#diff-741502abb522ecd56e7c30231e015bdbL138, investigating.

[2018-01-23 20:27] SUPERCILEX commented on #1118
Bingo! PR in a sec.

[2018-01-23 20:37] vanleeuwenbram commented on #1104
same issue here, doesn't work on android tv api 25, but does work on a smartphone api 25
(both emulators)

[2018-01-23 21:09] samtstern commented on #1118
@SUPERCILEX nice!  Btw the reason we don't save phone numbers is because SmartLock does a pretty bad job of presenting them properly in the UI.  So I'm tracking an internal bug to improve that.

[2018-01-23 21:10] SUPERCILEX commented on #1118
@samtstern Oh sweet! I do remember having to hack it in, glad to know improvements are coming! 😄

[2018-01-23 21:35] samtstern commented on #1118
This has been fixed and released in `3.2.1`.

[2018-01-23 21:35] #1118 closed

[2018-01-23 21:35] samtstern commented on #1116
This has been fixed and released in `3.2.1`.

[2018-01-23 21:35] #1116 closed

[2018-01-23 23:12] samtstern opened #1123 "Refactor (kill) SaveSmartLock"
Just kinda marking my territory here so we don't do the same work, but I am going to kill `SaveSmartLock` and `SmartLockBase` once and for all.

[2018-01-24 10:05] RuiVarela opened #1125 "gradle build failure for 3.2.1"
### Step 1: Are you in the right place?
Yes
### Step 2: Describe your environment
  * Android device: X
  * Android OS version: X
  * Google Play Services version: 11.8.0
  * Firebase/Play Services SDK version: 11.8.0
  * FirebaseUI version: 3.2.1

### Step 3: Describe the problem:
When upgrading from FirebaseUI version 3.2.0 to 3.2.1 gradle build fails with

[code]

#### Steps to reproduce:

1. b

[2018-01-24 17:41] samtstern commented on #1125
@RuiVarela thanks for raising this!  It should be fixed now (or very soon) I forgot to hit all of the right buttons.

Confirmed that it's published here now:
https://dl.bintray.com/firebaseui/firebase-ui/com/firebaseui/firebase-ui-auth/3.2.1/

Should be mirrored to jCenter momentarily.

[2018-01-24 17:41] #1125 closed

[2018-01-25 08:41] RuiVarela opened #1126 "High crash rate (NPE) acessing com.firebase.ui.auth.AuthUI.getInstance"
### Step 1: Are you in the right place?
Yes

### Step 2: Describe your environment
  * Android device: Several
  * Android OS version: 4, 5, 6
  * Google Play Services version: 11.8.0
  * Firebase/Play Services SDK version: 11.8.0
  * FirebaseUI version: 3.2.0

### Step 3: Describe the problem:
Hi All,
we are currently experiencing an high crash rate using firebase ui,
the current snippet

[code]

[2018-01-25 08:49] RuiVarela opened #1127 "High crash rate (NPE) com.firebase.ui.auth.ui.phone.PhoneActivity.dismissLoadingDialog"
### Step 1: Are you in the right place?
Yes

### Step 2: Describe your environment
  * Android device: several
  * Android OS version: 4,5,6,7
  * Google Play Services version: 11.8.0
  * Firebase/Play Services SDK version: 11.8.0
  * FirebaseUI version: 3.2.0

### Step 3: Describe the problem:
Hi All,
we have been experiencing an high crash rate for this issue since november,
while connecting wit

[2018-01-25 09:33] mariolourobert commented on #966
@mitesh-shah I have the same 1675030 issue with a FB Login. Have you find a solution ?
Thx

[2018-01-25 12:35] vanleeuwenbram commented on #1126
some extra info in the issue that already exists:
https://github.com/firebase/FirebaseUI-Android/issues/1104

[2018-01-25 16:12] samtstern commented on #1126
This is a duplicate of #1104, let's discuss there.

[2018-01-25 16:12] #1126 closed

[2018-01-25 16:29] samtstern commented on #1104
Hey all, I have deobfuscated the stack trace and am chasing this down internally.

[2018-01-25 17:33] Shajeel-Afzal commented on #110
I have written an article on how to do the pagination in Firebase Real-time Database using RecyclerView: https://blog.shajeelafzal.com/2017/12/13/firebase-realtime-database-pagination-guide-using-recyclerview/

[2018-01-25 17:51] samtstern commented on #110
@Shajeel-Afzal nice!  Thank you for sharing!

[2018-01-26 03:12] rroslan opened #1128 "Retrieve phone number"
How do I retrieve phone number to insert in firebase database during phone authentication. I cannot find the solution in search. I am sorry if this is not the place for question.

[2018-01-26 03:17] SUPERCILEX commented on #1128
Use `IdpResponse#getPhoneNumber()`

[2018-01-26 03:47] rroslan commented on #1128
I am sorry, I am new to android.
IdpResponse response = IdpResponse.fromResultIntent(data).getPhoneNumber(); cause error incompatible
type.  Recquired com.firebase.ui.auth.IdpResponse which is already imported.

[2018-01-26 08:52] RuiVarela commented on #1104
@samtstern thanks

[2018-01-26 08:59] RuiVarela opened #1129 "SpacedEditText crash"
### Step 1: Are you in the right place?
Yes
### Step 2: Describe your environment
  * Android device: Lenovos
  * Android OS version: 5, 6
  * Google Play Services version: 11.8.0
  * Firebase/Play Services SDK version:11.8.0
  * FirebaseUI version: 3.2.1

### Step 3: Describe the problem:
Hi All,
while connecting with phone (we only use fb for phone) we have erratically this NPE in production

[c

[2018-01-26 18:02] samtstern commented on #1129
@RuiVarela thank you for reporting this.
@SUPERCILEX we finally caught one with the new logging!

[2018-01-26 18:03] samtstern commented on #1129
@RuiVarela note this is a duplicate of #779 so I am going to close it, but we will definitely dig into this more now that we have your logs.

[2018-01-26 18:03] samtstern commented on #779
New logs in https://github.com/firebase/FirebaseUI-Android/issues/1129#issue-291836123

[2018-01-26 18:03] #1129 closed

[2018-01-26 18:09] samtstern commented on #779
Our call to `setSelection(index)` is actually equivalent to this:

https://developer.android.com/reference/android/text/Selection.html#setSelection(android.text.Spannable, int)
[code]

The docs say that method does this: "Move the cursor to offset index."

Here is our code:
[code]

When index is `0` we do `setSelection(0)` and that's ok.  But if index is `x` we do `setSelection(2x -1)`.  Maybe we

[2018-01-26 18:28] samtstern commented on #779
I also can't imagine how `requestedIndex` will ever get to 11 ....

[2018-01-26 20:06] samtstern commented on #1128
@rroslan this sounds like something wrong with your personal setup, I suggest posting on StackOverflow.

[2018-01-26 20:06] #1128 closed

[2018-01-27 13:37] mitesh-shah commented on #966
@mariolourobert No, I tried with Facebook SDK and it is working for me.

[2018-01-27 21:17] svidata commented on #17
Hello, we need pagination because as lists tend to increase the app starts to lag and the only way is to write custom adapter, and going through using child listeners and keeping track of end keys and start keys to make each batch of data fit. And this makes the code messy and there is no good way of implementing it manually. We just want to know if it is a feature that might be included in fireba

[2018-01-28 06:16] dharan1011 opened #1131 "Removing item from FirestoreRecyclerAdapter"
### Step 1: Are you in the right place?
Yes
### Step 2: Describe your environment

  * Android device: Google Pixel AVD in macOs
  * Android OS version: 23
  * Firebase/Play Services SDK version: 11.8.0
  * FirebaseUI version: 3.2.1

### Step 3: Describe the problem:
I am using `FirestoreRecyclerAdapter` to retrieve data from Firestore and populate my recyclerview. Also I have used `ItemTouchHelpe

[2018-01-28 08:14] dharan1011 commented on #1131
Just went through the documentation and hacked a way through them to resolve the issue.
- In the chat model class added a Field `
private @Exclude String documentId;
` to store the document id of the document in chat collection.
- In `FirestoreRecyclerOptions` make use of `SnapshotParser `, retrieve document id from `DocumentSnapshot ` and set it to `Chat` object and return it.
- In `FirestoreRecy

[2018-01-28 09:56] rroslan commented on #1128
String user_id = mAuth.getCurrentUser().getPhoneNumber();
                //String user_phone = mAuth.getCurrentUser().getPhoneNumber();
                DatabaseReference current_user_db = FirebaseDatabase.getInstance().getReference().child("Users").child("Customers").child(user_id);
                current_user_db.setValue(FirebaseAuth.getInstance().getCurrentUser().getPhoneNumber()).addOnComplet

[2018-01-28 15:51] galihlprakoso opened #1132 "The Adapter won't call the onCreateViewHolder and onBindViewHolder method"
My Environment :
  * Android device: Samsung Nexus
  * Android OS version: 4.4.2
  * Google Play Services version:-
  * Firebase/Play Services SDK version: -
  * FirebaseUI version: 3.2.1

**INTRODUCTIONS :**
1. I need to put RecyclerView on one of my Fragment.
2. I'm using Firebase UI to Populate the data from Firebase and then use FirebaseRecyclerAdapter to attach it to my RecyclerView.
3. I've

[2018-01-28 17:37] #1132 closed

[2018-01-28 19:29] rroslan commented on #229
I am using out of the box phone authentication. Is it possible to have editText and radio button on the UI

[2018-01-29 07:22] abhaybansod commented on #782
[code]
Try this One It's Working for me   "data: Intent?"

[2018-01-29 09:56] MumbaMukendi commented on #461
Thank bro works like a charm

[2018-01-29 14:29] ravich528798 commented on #782
thanks, I resolved it!

[2018-01-30 17:44] kdziemia commented on #1104
I've seen this issue on users with ASOP and CyanogenMode 6.0 devices.

[2018-01-30 18:14] RuiVarela commented on #1104
We are experiencing thin in multiple android versions/devices

http://crashes.to/s/a80689a7452

In total 1k crashes in thr last 7 days

[2018-01-31 04:23] GuanacoDevs opened #1133 "Alert dialog showing out of focus"
Environment:

  * Android device: XZ5P 25 & Emulators
  * Android OS version: 19+
  * Google Play Services version: Any
  * Firebase/Play Services SDK version: 11.8.0
  * FirebaseUI version: 3.2.1

#### Steps to reproduce:

  1. Add the `implementation 'com.firebaseui:firebase-ui-auth:3.2.1'`

#### Observed Results:

I'm Building a Trivia Game in full inmersive mode, after adding FirebaseUI implem

[2018-01-31 06:16] SteveFirsake commented on #214
Hello,

Please help with this issue:

https://stackoverflow.com/q/48509212

two step verification requires someone to minimize the app and look into a new app for verification codes yet on opening the original app (login page) - the chrome tab is disappeared.

[2018-01-31 14:20] NooAn commented on #273
I have the same error. This happened when I try open my app without internet, but only instance application is not working now.  I have  implementation 'com.google.firebase:firebase-crash:11.8.0'
01-31 14:14:35.788 20753-20806/bytheway I/Firestore: (0.6.6-dev) [zzeur]: (2f7eb03) Stream closed with status: zzfof{code=UNAVAILABLE, description=null, cause=java.net.UnknownHostException: Unable to reso

[2018-01-31 17:24] galihlprakoso opened #1134 "newIndex and oldIndex always return "-1" on Delete and return "0" on Add Data in DESCENDING mode."
CLOSED

[2018-01-31 17:36] #1134 closed

[2018-02-03 04:37] nawaz1650 opened #1135 "unable to run the project,Error:Error converting bytecode to dex:"
Welcome to FirebaseUI and thanks for submitting an issue!

Please take a look at [open issues](https://github.com/firebase/FirebaseUI-Android/issues?q=is%3Aopen+is%3Aissue), as well as [resolved issues](https://github.com/firebase/FirebaseUI-Android/issues?q=is%3Aissue+is%3Aclosed), to see if your issue is either already being addressed, or has been solved by someone else.

If not, please feel fre

[2018-02-03 04:54] nawaz1650 commented on #1135
[errorfile.txt](https://github.com/firebase/FirebaseUI-Android/files/1691394/errorfile.txt)

[2018-02-03 04:54] #1135 closed

[2018-02-03 04:55] nawaz1650 commented on #1135
i just changed firebase ui auth from 3.0.1 to 3.2.1 and my issue ran away

[2018-02-03 10:55] alexbertis commented on #1104
When you use Android emulators, it's common that they don't have Play Services installed with all the functionalities. You can prevent the app from crashing by checking if Google Play Services APIs are available (just prevent, not a real fix):
[code]
Then, you can (if you want) include an alternative sign-in method, such as a simple Email/Password screen.

[2018-02-03 12:30] smruti-ranjan-rana opened #1136 "Showing "Developer Error" in Google Sign In"
Welcome to FirebaseUI and thanks for submitting an issue!

Please take a look at [open issues](https://github.com/firebase/FirebaseUI-Android/issues?q=is%3Aopen+is%3Aissue), as well as [resolved issues](https://github.com/firebase/FirebaseUI-Android/issues?q=is%3Aissue+is%3Aclosed), to see if your issue is either already being addressed, or has been solved by someone else.

If not, please feel fre

[2018-02-03 13:01] #1136 closed

[2018-02-03 14:06] peterhav opened #1137 "Add IdlingResources for succesfull Espresso testing"
### Step 3: Describe the problem:

#### Steps to reproduce:

  1. Create a testcase which involes the creation of a new user mail account using Firebase-UI
  2. In the test case code, after supplying the mail adress, click next
  3. The test will fail since it cannot find the password field

#### Observed Results:

  * What happened?
In order to make the above test run successful, a wait needs to

[2018-02-03 14:47] mukulsoftwap opened #1138 "The custom token corresponds to a different audience"
I have login with facebook but getting error "the custom token corresponds to a different audience"

[2018-02-04 03:48] najmsheikh commented on #110
@Shajeel-Afzal is your implementation still necessary (in the context of Firestore, not Realtime) or has it been implemented as part of FirebaseUI?

[2018-02-04 09:03] Shajeel-Afzal commented on #110
@najmsheikh, so far FirebaseUI library does not support pagination. You need to do it manually if you want to add pagination to your project while using Firestore or Firebase Realtime Database.

[2018-02-05 18:01] samtstern commented on #1134
@galihlprakoso I guess you figured out the issue so thanks for closing it after!  No need to delete the question though, it never hurts to have the extra information for future reads.

[2018-02-05 18:04] samtstern commented on #1133
@GuanacoDevs apologies for the late response here, can you show a screenshot of this behavior so I can better understand it?

[2018-02-05 20:20] samtstern commented on #1104
Hey all.

A fix for this bug has been submitted internally, so this should be fixed in the next 1-2 Firebase Auth SDK releases depending on the release cycle.

I am going to close this issue here since there's nothing more FIrebaseUI can do, thanks for everyone who reported it!

[2018-02-05 20:20] #1104 closed

[2018-02-05 22:39] samtstern commented on #1137
@peterhav thanks for the idea, it would be good if the whole UI was more espresso-testable.  Once we finish our current refactor (which will add a much better unit testing layer) we can probably look at this.

[2018-02-05 23:04] eliotstock commented on #1057
I can't repro the crash when offline, but I also get the ClassNotFoundException for this class even though I'm not using Twitter for auth.

Android device: Google Pixel 2 XL
Android OS version: 8.1
Google Play Services version: 11.8.0
Firebase/Play Services SDK version: 11.8.0
FirebaseUI version: 3.2.1

[2018-02-05 23:52] eliotstock commented on #492
I use only Google and Facebook providers and used .setPrivacyPolicyUrl(). I considered it a bug that there was no link to my privacy policy on the auth activity that shows the two provider buttons. It makes no sense to me that this would only be shown when using the email provider, if that's what SUPERCILEX is suggesting. It's the privacy policy of my product, not Google's or Facebook's.

[2018-02-06 04:30] GuanacoDevs commented on #1133
@samtstern Hi Sam, I have moved on, to keep working on my app removed the dependency. Added it today to take the screenshots only and at the end I'm posting my `build.gradle`.
I have a Xperia XZ5P API25 that shows the same as Nexus 5X API24.
All three are Emulators, first one is the expected behavior, before and after, all of them have the implementation added(working fine on API26):
Galaxy Nexus

[2018-02-06 15:55] ShaldonSwiidAppDesigns opened #1139 "Error: "A TaskDescription's primary color should be opaque" when using Firebase Auth UI"
Welcome to FirebaseUI and thanks for submitting an issue!

Please take a look at [open issues](https://github.com/firebase/FirebaseUI-Android/issues?q=is%3Aopen+is%3Aissue), as well as [resolved issues](https://github.com/firebase/FirebaseUI-Android/issues?q=is%3Aissue+is%3Aclosed), to see if your issue is either already being addressed, or has been solved by someone else.

If not, please feel fre

[2018-02-06 19:18] samtstern commented on #1133
@GuanacoDevs it's possible that some themes you have defined are conflicting with some themes defined in FirebaseUI.  However from that screenshot it does not look like FirebaseUI is functioning improperly, the dialog that's off-center and blurry is part of your application.

We can't troubleshoot that here as it's too specific to your app, please try StackOverflow to get more help on this issue.

[2018-02-06 19:18] #1133 closed

[2018-02-06 19:19] samtstern commented on #1131
@dharan1011 your solution sounds right to me: delete the item from the collection and let the adapter handle the deletion event.  Thanks for sharing!

[2018-02-06 19:19] #1131 closed

[2018-02-06 19:37] samtstern commented on #1139
Your problem is this:

[code]

You can't use a transparent color as your primary color in AppCompat, it can cause this crash (along with some others).

Closing as this is not an issue with FirebaseUI specifically.

[2018-02-06 19:43] ShaldonSwiidAppDesigns commented on #1139
Hi Sam Please hang on before you close it. It works just fine with my Android 7.0. It only doesn't work with Android 5.0 and 6.0

[2018-02-06 19:44] ShaldonSwiidAppDesigns commented on #1139
Please unclose this as this is in fact a Firebase UI issue

[2018-02-06 19:44] ShaldonSwiidAppDesigns commented on #1139
com.firebase.ui.auth.KickoffActivity

[2018-02-06 19:45] ShaldonSwiidAppDesigns commented on #1139
Please see my error log as it states it is being called from an issue when I open the UI

[2018-02-06 19:49] ShaldonSwiidAppDesigns commented on #1139
Sam?? Please man I need this as it is a work query. I have a Tablet with Android Version 6.0 and a Samsung Galaxy S7 Edge with Android Version 7.0. The Tablet runs fine until I select the login to direct my users to the Auth UI and the it crashes. My Samsung with the exact same code runs perfectly with no crashes

[2018-02-06 20:01] ShaldonSwiidAppDesigns opened #1140 "Error: "A TaskDescription's primary color should be opaque" when using Firebase Auth UI"
### Step 2: Describe your environment

  Android device: Tablet and Samsung Galaxy S7 Edge
Android OS version: 6.0 and 7.0
Google Play Services version:11.8.0
Firebase/Play Services SDK version: 11.8.0
FirebaseUI version: 3.1.0

### Step 3: Describe the problem:

#### Steps to reproduce:

  1.Ran a login that redirects to  Firebase Auth UI on a Tablet running Android 6.0 using Theme: AppTheme. Err

[2018-02-06 20:12] ShaldonSwiidAppDesigns commented on #1140
Can I ask why this matter, yet again, has been closed?

[2018-02-06 20:12] morganchen12 commented on #1140
Though the crash may happen when launching FirebaseUI's auth flow, the cause of the crash itself is not necessarily within FirebaseUI.

[2018-02-06 20:14] ShaldonSwiidAppDesigns commented on #1140
@morganchen12 where else would it be coming from then if the exact same code works on Andorid 7.0 when calling the tartActivityForResult(
AuthUI.getInstance()
.createSignInIntentBuilder()
.setAvailableProviders(providers)
.setLogo(R.mipmap.ic_splash)
.setTheme(R.style.AppTheme)
.build(),
RC_SIGN_IN);  and not on when calling the exact same code on Android 6.0?

[2018-02-06 20:14] morganchen12 commented on #1140
Try not using a transparent color as your main color in AppCompat. Begging for changes without addressing the root cause of your crash is not a good way to get help from library maintainers within or outside of Firebase.

Also, lack of crashes on legacy platforms is not necessarily an indicator that there aren't any incompatibility issues. Usually silent failures are _upgraded_ to crashes in later

[2018-02-06 20:18] ShaldonSwiidAppDesigns commented on #1140
@morganchen12 I do understand what you are saying. I just don't understand why the exact same code works for one OS and not the other if the OS changes had nothing to do with the UI. I will run my opaque values inside of my primary color values and see if they had any effect on this issue.

[2018-02-06 20:21] ShaldonSwiidAppDesigns commented on #1140
@morganchen12 I just ran the code again with the opaque values and it still crashes

[2018-02-06 20:21] ShaldonSwiidAppDesigns commented on #1140
Styles.xml
<resources>

    <style name="AppTheme" parent="Theme.AppCompat.Light.DarkActionBar">

        <item name="colorPrimary">@color/colorPrimary</item>
        <item name="colorPrimaryDark">@color/colorPrimaryDark</item>
        <item name="colorAccent">@color/colorAccent</item>
        <item name="android:actionMenuTextColor">@color/tw__solid_white</item>
    </style>

    <style name="App

[2018-02-06 20:22] ShaldonSwiidAppDesigns commented on #1140
Error Code yet again:
E/AndroidRuntime: FATAL EXCEPTION: main
                  Process: swiidappdesigns.haveasafetrip, PID: 2583
                  java.lang.RuntimeException: Unable to start activity ComponentInfo{swiidappdesigns.haveasafetrip/com.firebase.ui.auth.KickoffActivity}: java.lang.RuntimeException: A TaskDescription's primary color should be opaque
                      at android.app.

[2018-02-06 20:26] ShaldonSwiidAppDesigns commented on #1140
@morganchen12 Do you see now that even when I changed my values to opaque values. It still throws this error? This is only happening with my Android 6.0 Tablet

[2018-02-06 20:26] morganchen12 commented on #1140
This needs to be the case for **all** of your primary colors.

Since this isn't an issue with FirebaseUI, consider posting a question on StackOverflow instead.

[2018-02-06 20:34] ShaldonSwiidAppDesigns commented on #1140
@morganchen12 Ah ha you genius. I overlooked the colors.xml when I changed the values. Changing it inside of this file works, the other change inside of the values.xml file didn't make the change. Still though, wish they allowed for transparency inside of OS 6.

[2018-02-06 20:35] #1139 closed

[2018-02-06 20:37] ShaldonSwiidAppDesigns commented on #1139
You can close this issue. I figured out with @morganchen12 help that I needed to change my primary color inside of the colors.xml file and not the values.xml file. However I still believe this is an issue with Firebase UI not allowing for transparency values.

[2018-02-06 20:38] samtstern commented on #1140
Thank you @morganchen12 for your patience and guidance here.

@ShaldonSwiidAppDesigns I am glad you solved your issue, but please note that this interaction has not been a good example of open-source conduct:

  * Do not file two identical issues (#1139 and #1140).
  * When filing an issue you need to provide some proof that there is a problem within the library, in this case the error description

[2018-02-06 20:38] #1140 closed

[2018-02-06 20:41] ShaldonSwiidAppDesigns commented on #1140
@samtstern @morganchen12  I understand, I am still new to this. However I still believe there is in fact an issue here with the Firebase Auth UI as stated in my duplicate issue #1139. That with the transparency field set in the Primary color value on Android 7.0 it works perfectly, Firebase Auth UI only crashes when it comes to the Android 6.0 version when calling the exact same code with the tran

[2018-02-06 20:52] ShaldonSwiidAppDesigns commented on #1140
@samstern @morganchen12 just one more thing to make you understand why I am saying that the transparency issue is a Firebase Auth UI issue. Is that transparency works for Android 6.0 on all of my other activities. The only activity it does not work on is when you open the Firebase Auth UI. Just saying. It may in fact be a good idea to investigate this a bit further.

[2018-02-07 03:52] paulsenjs commented on #301
hi guys, do we have any solutions for this issue ? the issue still occur in 2018.

[2018-02-07 08:51] miszmaniac commented on #301
We're having the same problem.
Google and Facebook accounts don't merge as expected in docs

[2018-02-07 15:31] dimipaun opened #1141 "Crash in setFirebaseUIVersion()"
We are seeing this crash in Crashlytics:
`
Fatal Exception: java.lang.NullPointerException
       at com.google.android.gms.internal.zzdvv.zzb(Unknown Source)
       at com.google.android.gms.internal.zzdwc.setFirebaseUIVersion(Unknown Source)
       at com.google.firebase.auth.FirebaseAuth.setFirebaseUIVersion(Unknown Source)
       at com.firebase.ui.auth.AuthUI.(AuthUI.java:208)
       at com.f

[2018-02-07 15:49] samtstern commented on #1141
Duplicate of #1126

[2018-02-07 15:49] #1141 closed

[2018-02-08 10:00] PankajSavaliyaGit opened #1142 "How to set addSnapshotListener and remove in populateViewHolder in RecyclerView Item."
I have implement RecyclerView with FirebaseUI-Android library.
  *My RecyclerView realtime data change well once i use that **FirebaseRecyclerAdapter** .
  *In Collection that data document have field type as [Boolean , Integer, Reference](https://firebase.google.com/docs/firestore/manage-data/data-types?authuser=0).
  *I want use that **Reference** to get data in populateViewHolder with addSnapsh

[2018-02-08 11:13] tigerpup commented on #759
Hi I m Facing the same issue , I have also added my SHA key and downloaded and readded the google-services.json.  I m using a library module to perform all Firebase action. I only face this issue with with Authentication features while all other features like Firestore,FireStorage are working perfectly fine.
My Library module obviously has a  different package name , so I thought it may be due to

[2018-02-08 14:14] Shajeel-Afzal opened #1143 "Fatal Exception: java.lang.IllegalArgumentException Unique transitionNames are required for all sharedElements"
I am continuously getting IllegalArgumentException while trying to do login using the FirebaseUI Auth Library.

Following is the complete exception that I am getting.

[code]

### Step 2: Describe your environment

  * Android device: Samsung Grand 2
  * Android OS version: 4.4
  * Google Play Services version: 11.6.2
  * Firebase/Play Services SDK version: 11.6.2
  * FirebaseUI version: 3.1.2

##

[2018-02-08 16:03] samtstern commented on #1143
This is a duplicate of #1036, that issue was fixed in version `3.1.3` (you're using `3.1.2`)

[2018-02-08 16:03] #1143 closed

[2018-02-08 16:04] samtstern commented on #1142
@PankajSavaliyaGit this doesn't sound like an issue with FirebaseUI, it sounds like a general question about how to program your application.  Please ask it on StackOverflow, I'd suggest also adding code snippets to your question  to make it easier to answer.

[2018-02-08 16:04] #1142 closed

[2018-02-09 12:34] yokei15 opened #1144 "Unable to get Email from facebook login."
**Unable to get Email via Facebook login gets crashed**

Permission for email is also mentioned but cant able to figure it out

[code]
[code]

[2018-02-09 17:16] samtstern commented on #1144
@yokei15 it doesn't look like you're using FirebaseUI here, I see direct calls to `signInWithCredential` and other things.

If you're just using Firebase Auth and having trouble, try the `firebase/quickstart-android` repo or StackOverflow.

[2018-02-09 17:16] #1144 closed

[2018-02-10 11:54] asimdogar opened #1145 "Firebase Email Authentication verification Email not sent"
Welcome to FirebaseUI and thanks for submitting an issue!

Please take a look at [open issues](https://github.com/firebase/FirebaseUI-Android/issues?q=is%3Aopen+is%3Aissue), as well as [resolved issues](https://github.com/firebase/FirebaseUI-Android/issues?q=is%3Aissue+is%3Aclosed), to see if your issue is either already being addressed, or has been solved by someone else.

If not, please feel fre

[2018-02-12 17:15] samtstern commented on #1145
@asimdogar I believe this is working as intended, FirebaseUI does not trigger email verification emails on sign up.

You can use the Firebase authentication APIs to do this yourself, if you want to.

[2018-02-12 17:15] #1145 closed

[2018-02-12 20:06] Kurt29 commented on #1145
@samtstern
Relating to this:
Wouldn't it be useful to have a "Verify your email screen" in FireBaseUI if you want to have emails verified? For me, email verification is one of the core features of FireBase.

[2018-02-12 20:07] samtstern commented on #1145
@Kurt29 I agree this could be a useful feature, I believe we're tracking it here:
https://github.com/firebase/FirebaseUI-Android/issues/312

[2018-02-12 20:11] Kurt29 commented on #1145
Wow, that feels like a long time ago =D

[2018-02-13 09:31] PeterHdd commented on #731
According to this http://bumptech.github.io/glide/doc/migrating.html#using, using() was removed from Glide 4.

[2018-02-13 15:16] rexdarel opened #1148 "Change ProgressDialog to Progressbar Indeterminate"
Any idea how to change the ProgressDialog to Progressbar indeterminate?

[2018-02-13 16:34] samtstern commented on #1148
@rexdarel there's no way to configure this without forking the library right now.  We're tracking something similar in #724

[2018-02-13 16:34] #1148 closed

[2018-02-14 02:13] SUPERCILEX commented on #123
@kkdevenda my B, you're right. This is fixed in `6a56930af6`! 🎉

@curiousily What you described is exactly what occurs 👍, you'll just have to use the manual merge service as described [here](https://github.com/SUPERCILEX/FirebaseUI-Android/tree/master/auth#handling-account-link-failures).

PS: no promises, but the Firebase team is aware of this oversight and is working to fix it. 😉

[2018-02-14 04:33] btrautmann opened #1149 "Build fails when upgrading from gradle 4.1 to 4.4"
### Step 1: Are you in the right place?
Yes

### Step 2: Describe your environment

  * Android device: X
  * Android OS version: X
  * Google Play Services version: 11.8.0
  * Firebase/Play Services SDK version: 11.8.0
  * FirebaseUI version: 3.2.1

### Step 3: Describe the problem:

#### Steps to reproduce:

  1. Set gradle version to 4.4 (distributionUrl=https\://services.gradle.org/distributio

[2018-02-14 12:34] paulsenjs commented on #301
Finally i did some tricky way to solve the issue. The problem is, FirebaseUser will return null for email, so i got it from callback GoogleSDK and FacebookSDK. Yes, that way not merge the accounts on Firebase Dashboard, but at least i can get the email account after log in from Facebook and Gmail by using the similar account.

[2018-02-14 18:12] samtstern opened #1150 "Automatic artifactory publish after successful build"
We need a few things.

1 - Set `BINTRAY_USER` and `BINTRAY_KEY` encrypted environment variables

2 - Call the artifactory script in `after_success`:
https://docs.travis-ci.com/user/deployment/custom/

3 - Make sure the script is only run when a new comment is pushed to a `version-{foo}` branch and not
any other kind of branch.
https://docs.travis-ci.com/user/environment-variables/#Default-Environm

[2018-02-15 21:33] samtstern commented on #1149
@btrautmann is the project where this is happening on Github somewhere?  I'd love to take a look.

[2018-02-15 22:38] samtstern commented on #1150
It worked!
https://oss.jfrog.org/webapp/#/artifacts/browse/tree/General/oss-snapshot-local/com/firebaseui/firebase-ui-auth/3.2.2-SNAPSHOT/firebase-ui-auth-3.2.2-20180215.222533-2.pom

[2018-02-15 22:38] #1150 closed

[2018-02-15 22:39] samtstern commented on #1138
Apologies @mukulsoftwap for the lack of response here, but we really need all of the information asked for in the issue template.  Please try again or ask on StackOverflow

[2018-02-15 22:39] #1138 closed

[2018-02-16 01:08] samtstern opened #1154 "[Discuss] Don't save credentials for non-email providers"
The SmartLock team has learned over the years that IDP credentials that don't include a password or token actually do more to confuse than help.

We could change our strategy:
  * Only save email credentials
  * ^ and also save Google credentials since we can use them to get an ID token
  * ^ and also save Phone number credentials

But I don't think Facebook or Twitter credentials really have any

[2018-02-16 02:55] btrautmann commented on #1149
@samtstern unfortunately it's closed source, but I'd be happy to share our dependencies block if that would help at all?

[2018-02-16 06:32] samtstern commented on #1149
Can't hurt, please share!

On Thu, Feb 15, 2018, 6:55 PM Brandon Trautmann <notifications@github.com>
wrote:

[2018-02-16 11:49] jemshit commented on #1104
@samtstern does it also solve #396 ?

[2018-02-16 12:56] btrautmann commented on #1149
Here's the important stuff:

**app build.gradle**
[code]

**Project build.gradle:**
[code]

**In gradle-wrapper.properties** (when changed back to 4.1, build is fine)
```distributionUrl=https\://services.gradle.org/distributions/gradle-4.4-all.zip```

Please let me know if you need anything else.

[2018-02-16 13:03] iqbalhood opened #1155 "Indonesian Translation for this repository"
I want to create Translation for this repository. Is it  possible . And How to contribute?

[2018-02-16 14:45] ifeins opened #1156 "“No eligible accounts can be found” error on sign out despite disabling Smart Lock"
### Step 1: Describe your environment

  * Android device: Samsung S7
  * Android OS version: 7.0.0 (though it happened on other versions)
  * Google Play Services version: 11.9.75
  * Firebase/Play Services SDK version: 11.8.0
  * FirebaseUI version: 3.2.1

### Step 2: Describe the problem:

I'm using Google authentication through Firebase Auth UI to login users to my app.
In the app I'm developi

[2018-02-16 15:55] samtstern commented on #1156
@ifeins thanks for raising this.

So `signOut` looks like this:

[code]

and `signOutIdps` is pretty simple as well:

[code]

So this is almost definitely coming from the `disableAutoSignIn()` call.

The good news is that you can safely ignore this error., although it's definitely a pain to detect so we should fix it.  I have some ideas for how we can work around it in FirebaseUI but I'm also goin

[2018-02-16 16:00] samtstern commented on #1155
@iqbalhood thanks for filing this issue!  We would really love to accept your translation, but we can't for a few reasons:

  * **Verification** - we don't speak the language, so I don't know how I'd actually review your pull request :confused:
  * **Future Scalability** - as we change the UI we'd need to keep the translation up to date, but we don't have any Idonesian language speakers on the tea

[2018-02-16 16:00] #1155 closed

[2018-02-16 16:01] samtstern commented on #1104
@jemshit yes I believe those issues are related.

[2018-02-16 16:26] samtstern commented on #1149
@btrautmann I started a new project and mimicked your exact gradle file, I also set `minifyEnabled true` in the `release` build type.

No change in the gradle wrapper version could reproduce the error you have, so it's likely there is something more complicated going on rather than a general incompatibility between FirebaseUI and Gradle 4.4

This is also confirmed by the fact that our `3.2.2-dev`

[2018-02-16 17:09] mengoni opened #1157 "Back button not working"
* Android device: tested on Nexus 5 / Huawei Mate 9
  * Android OS version: 7.1.1 Lineage / 8.0
  * Google Play Services version: 11.9.75
  * Firebase/Play Services SDK version: 11.8.0
  * FirebaseUI version: 3.2.1

Maybe I'm missing something, but when I try to go back from Phone number authentication activity using the toolbar back button, nothing happens.

The only way to go back is the soft ke

[2018-02-16 17:13] samtstern commented on #1157
@mengoni can you show a screenshot of the screen with the button?  My phone auth screen does not show a back button:
![phone_auth](https://user-images.githubusercontent.com/8466666/36320028-9d0e67c4-12f9-11e8-9fa8-df6c4abd0c14.png)

[2018-02-16 17:28] btrautmann commented on #1149
Thanks @samtstern, I'll close this for now and open a new one if it ends up being something related to FirebaseUI after I do a deeper investigation...

[2018-02-16 17:28] #1149 closed

[2018-02-16 17:39] samtstern commented on #1149
Thanks Brandon!  Happy to help if you think you have a new angle on this
one.

On Fri, Feb 16, 2018 at 9:28 AM Brandon Trautmann <notifications@github.com>
wrote:

[2018-02-16 17:52] samtstern commented on #1156
@ifeins I bet this comes from disabling SmartLock at the account level on your device, did you see this error before you did that?

[2018-02-16 18:14] mengoni commented on #1157
Here's the screenshot:

![screenshot_20180216-191234](https://user-images.githubusercontent.com/10978407/36322435-84e4a132-134d-11e8-906d-1c11eeef378f.png)

[2018-02-16 18:14] samtstern commented on #1157
@mengoni can you share the XML for your custom theme?

[2018-02-16 18:18] mengoni commented on #1157
@samtstern styles.xml

[code]

styles-v21.xml

[code]

[2018-02-16 18:23] samtstern commented on #1156
@ifeins fix implemented, will be included in `3.2.2`

[2018-02-16 18:24] mengoni commented on #1157
ok thank you anyway for the immediate response :)

[2018-02-16 18:36] samtstern commented on #1157
@mengoni ok I looked into this.

We could allow this by adding code like this:

**HelperActivityBase**:
[code]

However if you read here, it's more complicated than it looks:
https://stackoverflow.com/questions/18906116/which-one-to-use-navutils-navigateupfromsametask-vs-onbackpressed

And since we don't include this in the default theme, we'd almost definitely fail to test this over time and I do

[2018-02-16 18:36] #1157 closed

[2018-02-16 18:37] samtstern commented on #1157
For some more context:
https://developer.android.com/training/design-navigation/ancestral-temporal.html

FirebaseUI has "temporal" navigation but does not really have a need for "ancestral" navigation, so it looks like not having the "up" button in the action bar is the correct decision.

[2018-02-16 23:02] makcakaya opened #1159 "FirebaseUser.getPhotoURL() - Parameterize photo dimensions"
`FirebaseUser.getPhotoURL()` method should take an optional parameter specifying the height (and width too, maybe) of the picture we expect.

For Facebook, currently an image of size 100x100px is returned by Graph request default.

It is possible to specify the image size for Facebook through Graph request. I don't know about other providers (Google, Twitter and Github).

An example would be:
[cod

[2018-02-16 23:21] samtstern commented on #1159
@makcakaya thanks for this feature request!  I agree with you, however this is something that we'd want to change in the Firebase Auth SDK and not in FirebaseUI.

The best place to file this feedback, in that case, is here:
https://firebase.google.com/support/contact/bugs-features/

If you wouldn't mind filing an Feature Request there, it will get to the right place.  Thanks!

[2018-02-16 23:21] #1159 closed

[2018-02-17 14:15] ifeins commented on #1156
@samtstern Thanks for the quick turnaround 👍

This issue happened both when SmartLock was enabled and disabled on the device.

[2018-02-17 19:50] siddhantkushwaha commented on #409
One workaround I found on stack-overflow... (worked for me)
`mAuth.getCurrentUser().reload().addOnSuccessListener(
                 new OnSuccessListener<Void>() {
                     @Override
                     public void onSuccess(Void aVoid) {

                         String email = user.getEmail();
                         String name = user.getDisplayName();
                         if(

[2018-02-17 19:52] siddhantkushwaha commented on #409
`         mAuth.getCuurentUser().reload().addOnSuccessListener(
                 new OnSuccessListener<Void>() {
                     @Override
                     public void onSuccess(Void aVoid) {

                         String email = user.getEmail();
                         String name = user.getDisplayName();
                         if(name=="") name="No One.";

[2018-02-17 19:55] siddhantkushwaha commented on #409
This workaround I found on stack-overflow did the job for me. :)

`

mAuth.getCuurentUser().reload().addOnSuccessListener(
                 new OnSuccessListener<Void>() {
                     @Override
                     public void onSuccess(Void aVoid) {

                         String email = user.getEmail();
                         String name = user.getDisplayName();

[2018-02-18 08:37] Ankur008 commented on #812
but this problem is still there( only happens with Reliance Jio Phone no), If I am sending phone no with country code than it is working. but when I am trying without country code then it is not working.
using firebase auth lib version 11.8.0

[2018-02-18 10:03] tanseerpasha commented on #770
I happen to fix the 'invalid phone number' issue for JIO sims using ISD code.
String phoneNumberWithIsd = "+91" + mPhoneNumberField.getText().toString();

[2018-02-18 14:19] eldi059 opened #1160 "[Auth] No response for google and facebook login"
I downloaded the source from the github, and tested.

I have made no change but...
  - facebook ID update in config.xml of app module and auth module
  - google-services.json has been inserted

Login with email works very well.  The problem is...
  - the app, onActivityResult in com.firebase.uidemo.auth.AuthUiActivity, **gets no result when I tried google login or facebook login.**

As I said I di

[2018-02-19 12:28] sp00ne opened #1161 "[Auth] Ability to sign out outside of activity"
Hi there!

In your sign out examples you utilise `activity` as a parameter for `signOut`. I know there has been a discussion previously for using `context` instead but I can't see that code anywhere (should have been included in your `3.1.1` release)

Is it possible to get a context-related method call rather than activity? In order to call this outside of activity context #

[2018-02-19 12:31] abdulwasae opened #1162 "android.view.InflateException: Binary XML file line #0: Error inflating class com.firebase.ui.auth.util.ui.BaselineTextInputLayout"
**Step 1: Are you in the right place?**
Yes

**Step 2: Describe your environment**
Android device: SM-G386T1, SM-N910T, Galaxy S3 (, and possibly more)
Android OS version: API 18, 19
Google Play Services version: 11.8.0
Firebase/Play Services SDK version: 11.8.0
FirebaseUI version: 3.2.0
com.android.support:support-v4: 27.0.2
com.android.support:appcompat-v7: 27.0.2
compileSdkVersion 27
minSdkVers

[2018-02-20 09:25] abdulwasae commented on #1160
I believe i am having the same problem.
I am using phone auth. The phone number gets verified, and the verification activity closes. The calling activity either does not get called, or is not getting the same supplied request code.

We faced this issue in prod on an Android 7.0 device (Samsung galaxy S7). I'll leave this info here, and meanwhile try to get my hands on a device with matching config

[2018-02-20 13:17] KMCGamer commented on #1162
I had a similar error and fixed it by updating some fields in my project's `build.gradle` to the latest versions. I was originally on `compileSdkVersion` 26, and changed it to 27 and then updated the subsequent dependencies according to what Android Studio suggested.

[code]

[2018-02-20 13:32] abdulwasae commented on #1162
But i am facing the problem even with the build.gradle config that you later changed to

[2018-02-20 13:34] KMCGamer commented on #1162
My apologies, I can't read.

[2018-02-20 15:37] samtstern commented on #1162
@abdulwasae can you show your app's `build.gradle` file?

[2018-02-20 15:53] samtstern commented on #1161
@sp00ne the `AuthUI.signOut()` method currently takes a `Context` parameter:
https://github.com/firebase/FirebaseUI-Android/blob/63572c57e1ba39903b85060d64efb775a7ccef34/auth/src/main/java/com/firebase/ui/auth/AuthUI.java#L269

Are you having some trouble with this?  Can you try using the latest version?

[2018-02-20 15:53] #1161 closed

[2018-02-20 17:04] samtstern commented on #1160
@eldi059 do you get a response when you do email authentication or phone authentication?

(Also you can't label issues as an outside contributor so that's why you can't see the box)

[2018-02-20 18:28] samtstern commented on #1085
Given that @lollipierre says this happens with/without FirebaseUI and we don't have any logs to debug, I am going to close this issue for now.

[2018-02-20 18:28] #1085 closed

[2018-02-20 18:31] samtstern commented on #926
This issue is pretty old (x months) and I have not seen any additional reports, going to close it for now.  @thailemon if you are still seeing this or if you fixed it please let us know!  Happy to continue the discussion.

[2018-02-20 18:31] #926 closed

[2018-02-21 04:11] abdulwasae commented on #1162
Here you go:
`apply plugin: 'com.android.application'
apply plugin: 'io.fabric'

android {
    compileSdkVersion 27
    defaultConfig {
        applicationId "com.xxx.yyy"
        minSdkVersion 17
        targetSdkVersion 27
        versionCode 8
        versionName "1.0.8"
        testInstrumentationRunner "android.support.test.runner.AndroidJUnitRunner"
        vectorDrawables.useSupportLibrary

[2018-02-21 09:24] abdulwasae commented on #1162
**Update:**

I was lucky enough to find out that Firebase test lab has a Samsung Galaxy S3 (API 18) which would reproduce the above issue. So i debugged and found out that, yes, it was an issue regarding the styling. However, it wasn't from inside the FirebaseUI. The thing is that when a start the AuthUI using the builder, i also set a custom theme, which was:
[code]

The issue was gone when i rem

[2018-02-21 14:49] eldi059 commented on #1160
@samtstern
Thanks for reply. I don't get response when trying phone authentication, and I do for email authentication.
I am developing the module not based on the example app in this repository but based on firebase documentation.  And just a minute ago I succeeded to login via google account.  Actually the documentation is quite good and it is easy to follow.
I will close the issue.
Thanks again.

[2018-02-21 15:53] samtstern commented on #1160
@eldi059 thanks for letting us know you figured it out, I will close this issue.

We love to have contributors!  The best thing to do is to read issues and join the discussion, proposing solutions that may work.  FirebaseUI-Android may not be the best place to start if you're a beginner since it's an advanced codebase but you're always welcome to try and contribute to any Firebase repository.

[2018-02-21 15:53] #1160 closed

[2018-02-21 16:01] samtstern commented on #1162
Wow @abdulwasae thanks for the thorough investigation!  I agree ... it's very strange which combinations cause the crash.  I am going to close this issue as it's not related directly to FirebaseUI (as you said), but it is really interesting!

[2018-02-21 16:01] #1162 closed

[2018-02-22 14:52] nikahmadz commented on #563
May I know , what is the current status of this implementation?

[2018-02-22 15:03] yonatanbitton opened #1164 "RecyclerView Item OnClick returns Wrong item"
I'm showing Missions in recycler view. Each Mission is of Class Mission. I'm using Mission Adapter and Mission View Holder in order to show them.

I have a button for clicking mission item.
The problem is - Sometimes when I click on certain item - Another item is being returned.
It may cause this ArrayOutOfBounds Exception when i'm passing the array's limit.

    public class AvailableFragmentPilo

[2018-02-22 16:24] SUPERCILEX commented on #1164
Should be an easy fix, answered on stack overflow: https://stackoverflow.com/a/48932395/4548500

[2018-02-22 16:25] samtstern commented on #1164
@SUPERCILEX has the correct answer, thanks!

[2018-02-22 16:25] #1164 closed

[2018-02-22 16:25] samtstern commented on #563
@nikahmadz this is indefinitely on hold ... @amandle left the project and we are focusing on some other priorities for now.

[2018-02-23 10:57] rostopira opened #1165 "NPE: context cannot be null"
### Step 2: Describe your environment

  * Android device: bunch of different devices (Samsung and Lenovo mostly)
  * Android OS version: from Jelly Bean to Oreo
  * Google Play Services version: 11.8.0
  * Firebase/Play Services SDK version: 11.8.0
  * FirebaseUI version: 3.2.1

### Step 3: Describe the problem:

#### Steps to reproduce:

Cannot reproduce manually, got it from Firebase Crash repo

[2018-02-23 16:34] samtstern commented on #1165
It seems like this comes from the `startAuthMethodChoice()` method in `SignInDelegate`, specifically these lines:

[code]

The `getContext()` method is returning `null` which is odd.

@rostopira while I find this interesting, I don't think we can reasonably debug this issue for you for a few reasons:

  1. Your code overrides the library to add an extra sign-in method (anonymous) which is not a su

[2018-02-23 16:34] #1165 closed

[2018-02-24 01:57] SUPERCILEX commented on #441
@samtstern bump

[2018-02-24 02:00] SUPERCILEX commented on #331
I believe this issue can be closed in favor of https://github.com/firebase/FirebaseUI-Android/issues/993.

[2018-02-24 02:14] SUPERCILEX commented on #1154
Huh, I thought I had responded to this, but I guess not. Anyway, I totally agree with you! 😄 In fact, I just ran into this a week or so ago: Smart Lock auto signed me in to Twitter which was really confusing since they aren't the best provider and use a Webview without autofill support. TL;DR: it was annoying and I would have much preferred Google or email sign-in which would have been faster. To

[2018-02-24 02:38] SUPERCILEX commented on #1057
@samtstern I think this issue can probably closed since neither of us can repro and we haven't received more details. @eliotstock if you have extra info (stack trace and code sample), please share! 😄

[2018-02-24 03:03] SUPERCILEX commented on #1026
@samtstern I think this issue can be closed since the fix is simply to remove the extra `meta-data`.

[2018-02-24 03:05] SUPERCILEX commented on #1052
@samtstern I think we might as well close this issue in favor of #724, especially since Facebook is really fast when it comes to showing UI so I don't see the point of that progress bar at all. 👍

[2018-02-24 03:58] SUPERCILEX commented on #948
I can't reproduce, can you try with the latest version of FirebaseUI (`3.2.1`)?

[2018-02-24 04:01] SUPERCILEX commented on #660
@samtstern I think this issue can be closed since it seems to be a misconfiguration from the Facebook dev console.

[2018-02-24 06:08] SUPERCILEX commented on #1008
@rvcdev @yash59 I can't repro on `v3.2.1`... are you sure it requires 2 taps to start the Google sign-in flow? And the steps are just starting the flow and clicking on the Google button?

[2018-02-24 20:51] SUPERCILEX commented on #768
I believe this was fixed at some point since I can no longer repro.

[2018-02-24 22:58] 4Face commented on #479
I got the same problem and I can't use url since I have some gs://*child*/default and they can be uploaded directly to the storage from the client.

I found a solution handling in 2 different ways:
When a pic is uploaded by the app I save the path in Firestore appending a $ and a random number to the string, then:
- if path contains $ use the path as key a the path trimmed before $ for load data
-

[2018-02-25 19:45] hErBiDoY commented on #660
@SUPERCILEX... this issue is not a misconfiguration from Facebook Dev console.

I also have this same error with Facebook, Twitter Sign-In and Email Sign in, using FirebaseAuth.

I have countlessly rechecked my App ID and App secret in both Facebook and Twitter developer console, as well as in Firebase Console... but I am yet to make headway with this error .... and it is frustrating.

...still th

[2018-02-25 19:50] SUPERCILEX commented on #660
@hErBiDoY did you configure the SHA1 hash in Firebase Console? If all the providers are failing, then it's unlikely to be related to Facebook.

[2018-02-26 12:02] gaurav-m opened #1170 "NullPointerException on AuthUI.getInsatance()"
Hi, I am getting the said exception.
Dont know what can cause this issue.
Even if this is a bug, please tell me if I can do something to avoid this until this is fixed.

Here is the

[code]

[2018-02-26 16:32] samtstern commented on #1170
@gaurav-m please see #1104

[2018-02-26 16:32] #1170 closed

[2018-02-26 16:40] rvcdev commented on #1008
@SUPERCILEX - I was experiencing the problem in `v3.1.0`, I've since moved all sign-in related code to it's own `SignInActivity` and upgraded Firebase UI to `v3.1.3` to match my updated build target for Android O. No more leaks during my sign-in flow and no more needing to tap any of the sign-in buttons more than once. :smile:

[2018-02-26 16:42] samtstern commented on #1026
@SUPERCILEX :+1:

[2018-02-26 16:42] #1026 closed

[2018-02-26 16:45] SUPERCILEX commented on #1008
Oh hey, sweet! @samtstern looks like this can be closed. 😁

[2018-02-26 16:45] samtstern commented on #948
Looks like `KickoffActivity` has been transparent since `1.1.0` - https://github.com/firebase/FirebaseUI-Android/pull/495

So I can't really imagine where this comes from.

[2018-02-26 16:46] samtstern commented on #1057
Yes I think we can close this due to age and lack of new reports.  @thomsan or @eliotstock if you see this again and can help us get more details we will definitely re-open the issue!

[2018-02-26 17:16] samtstern commented on #1008
Nice!

[2018-02-26 17:16] #1008 closed

[2018-02-26 17:20] samtstern commented on #1052
Yes I guess we won't fix this unless as part of #724 so that can be where we track this, I will leave an extra comment there.

[2018-02-26 19:47] samtstern opened #1171 "Implement "Phase 1" of anonymous user upgrade"
This is related to #309 but because of the huge traffic / discussion over there I want to file a new clean issue about this piece.

For context this has already been release on Web and is coming in iOS:
https://github.com/firebase/firebaseui-web#upgrading-anonymous-users

This has two parts:

### 1 - New Flow Parameter

There will be a new boolean option to the intent builder, with the default as

[2018-02-27 06:04] hErBiDoY commented on #660
@SUPERCILEX... Yes, my debug SHA1 hash is configured in Firebase console; and 'Google Sign in' has always been successful.
I only have issues with the other providers (Facebook, Twitter) and email.

[2018-02-27 06:11] SUPERCILEX commented on #660
Have you [configured everything correctly](https://github.com/firebase/FirebaseUI-Android/blob/master/auth/README.md#identity-provider-configuration)?

[2018-02-27 06:58] bcscarlosrojas commented on #256
Can you please show how in a normal app I can change the title of the firebase UI method picker activity? I tried to follow the issue and no luck

[2018-02-27 15:40] edvaldeysteinsson commented on #492
I just ran in to this issue in an app that I'm working on and my first thought was that the way ToS and PP is handled can't be GDPR compliant and if it isn't then anyone with users in the EU will be in violation and could face some hefty fines

[2018-02-27 16:00] samtstern commented on #256
@bcscarlosrojas you can see the Activity titles here:
https://github.com/firebase/FirebaseUI-Android/blob/master/auth/src/main/AndroidManifest.xml

So you could define:
[code]
Note that we don't consider this a public API so this may break between releases.  Use at your own risk.

[2018-02-27 16:34] samtstern commented on #492
Ok so there are a few things here:

  1. We could provide an option to display the PP and TOS links at the bottom of the authentication method picker screen.
  2. It sounds like for Phone Authentication we should move the TOS and PP up to the "enter your phone number" screen due to the possibility of auto-verification skipping the next screen.

I think (1) is a little difficult to do in a visually

[2018-02-27 17:53] SUPERCILEX commented on #492
The Twitter and Facebook logins already show a PP and ToS if you provide it, but Google doesn't. If the Google login could show those, it would make \#1 unnecessary and remove the edge case where only one provider doesn't go through the picker activity.

[2018-02-27 18:13] samtstern commented on #878
This has been fixed and released in version `3.2.2`.

[2018-02-27 18:13] #878 closed

[2018-02-27 18:13] samtstern commented on #901
This has been fixed and released in version `3.2.2`.

[2018-02-27 18:13] #901 closed

[2018-02-27 18:13] samtstern commented on #1156
This has been fixed and released in version `3.2.2`.

[2018-02-27 18:13] #1156 closed

[2018-02-27 18:14] samtstern commented on #779
This has been fixed and released in version `3.2.2`.

[2018-02-27 18:14] #779 closed

[2018-02-27 18:14] samtstern commented on #1123
This has been fixed and released in version `3.2.2`.

[2018-02-27 18:14] #1123 closed

[2018-02-28 17:10] peterhav opened #1175 "Proguard issue after switching to 3.2.2"
* Android device: N/A
  * Android OS version: minSDK 16
  * Google Play Services version: 11.8.0
  * Firebase/Play Services SDK version: 27
  * FirebaseUI version: 3.2.2

### Step 3: Describe the problem:

#### Steps to reproduce:

  1. Switch from Firebase UI 3.2.1 to 3.2.2 in the build.gradle files
  2. Run Assemble task that includes minifyEnabled true

#### Observed Results:

[code]

#### Expe

[2018-02-28 17:31] SUPERCILEX commented on #1175
My B, I meant `-dontwarn`. Can you try that with my previous code?

[2018-02-28 17:40] samtstern commented on #1175
Here are the recently removed rules (#1167):

[code]

I think the one you want to add back is `-dontwarn retrofit2.Call`

[2018-02-28 17:44] peterhav commented on #1175
@SUPERCILEX : With `-dontwarn com.firebase.ui.auth.provider.**` in my own proguard file the build is finishing successful.

[2018-02-28 17:49] SUPERCILEX commented on #1175
@samtstern I'd prefer to ignore our classes instead of third-party stuff that could change. Since @peterhav said `-dontwarn com.firebase.ui.**` works, I'm pretty sure `-dontnote com.firebase.ui.auth.provider.**` will work which will make far more sense to future devs. Do you agree?

[2018-02-28 17:49] SUPERCILEX commented on #1175
Oh hey, sweet! PR coming soon.

[2018-02-28 17:51] samtstern commented on #1175
Thanks @peterhav  for the patience and @SUPERCILEX for the solutions!

I think we can leave this for `3.3.0` since it's such a simple workaround and it's not going to bite people at runtime (proguard fails, they find this issue, problem solved).

@SUPERCILEX we should find a way to make our CI fail for something like this.  Maybe we need to be assembling the `app` module in `release` mode during b

[2018-02-28 18:04] SUPERCILEX commented on #1175
@samtstern agreed. 👍 As building `app`, we do. 😞 We'd have to build versions without the Twitter or Facebook dep. Not sure if we'd want to invest the time for something that hopefully won't have to change for a while.

[2018-02-28 18:21] samtstern commented on #1175
That's fair, I didn't realize it only occurred in that situation.

[2018-03-01 10:20] Hafiz-LU commented on #461
You saved my day bro. Thanks a lot @SUPERCILEX

[2018-03-01 16:38] samtstern commented on #461
@SUPERCILEX  I think you should change your handle to @HelpfulBro

[2018-03-01 16:42] SUPERCILEX commented on #461
@samtstern 😂 thanks!

[2018-03-01 19:25] samtstern commented on #17
Ok I have been working on a paginated RecyclerView adapter for Firestore.  The one thing I can get working in a rock-solid way has the following caveats:

  * Not realtime.  If an item is updated/removed/etc after it has been originally fetched the update will not be shown in the current session.
  * No live additions.  If the user has already scrolled to the very bottom and an item is added at th

[2018-03-01 19:29] saneeshvs commented on #17
Yes it will be useful

On Fri, 2 Mar 2018, 12:56 a.m. Sam Stern, <notifications@github.com> wrote:

[2018-03-01 20:15] kumarkeviv commented on #17
@samtstern yes that will be helpful for now. Thank you so much

[2018-03-01 20:40] samtstern commented on #17
@kumarkeviv @saneeshvs thanks for the quick response!  Would you mind sharing what you'd use it for?  Just so I can make sure it's actually useful for your cases.

[2018-03-01 20:58] kumarkeviv commented on #17
@samtstern we have an educational application, with one section called "Mashup" which show users the trending news in the area of their interest. It will be very helpful for us.

[2018-03-01 22:51] samtstern commented on #17
Working on this in #1178

[2018-03-02 06:05] saneeshvs commented on #17
I'm using it for a video sharing app

On Fri, Mar 2, 2018 at 2:10 AM, Sam Stern <notifications@github.com> wrote:

--
Regards,
Saneesh V. S.

[2018-03-02 16:24] kaivan-s commented on #125
`dependencies {
    implementation fileTree(dir: 'libs', include: ['*.jar'])
    implementation 'com.android.support:appcompat-v7:26.1.0'
    implementation 'com.android.support.constraint:constraint-layout:1.0.2'
    testImplementation 'junit:junit:4.12'
    compile 'com.google.firebase:firebase-core:11.8.0'
    compile 'com.google.firebase:firebase-database:11.8.0'
    compile 'com.firebaseui:fi

[2018-03-03 04:23] gaurav-m commented on #1170
thanks a ton @samtstern

[2018-03-03 09:26] lmdic opened #1179 "Firebase. Not get sms for users with migrate phone numbers"
In my **app/build.gradle**:

[code]

In my fragment when click my custom button I call Firebase authentication screen for SMS authentication

[code]
Steps:

1.After click my button show Firbase screen
2.I input phone number
3.Forward to second Firebase screen
4.Success get SMS code
5.Input SMS
6.Success verify SMS

Nice. It's work fine... with one exception.

In our country we have 3 mobile operat

[2018-03-04 08:10] kaivan-s commented on #732
dependencies {
    implementation fileTree(dir: 'libs', include: ['*.jar'])
    implementation 'com.android.support:appcompat-v7:26.1.0'
    implementation 'com.android.support:design:26.1.0'
    implementation 'com.android.support:recyclerview-v7:26.1.0'
    implementation 'com.android.support:cardview-v7:26.1.0'
    implementation 'com.android.support.constraint:constraint-layout:1.0.2'
    test

[2018-03-05 01:07] felipe-gouveia opened #1180 "Facebook provider overwritten by Google provider"
### Step 1: Are you in the right place?
   Yes. :)

### Step 2: Describe your environment

  * Android device: Google Pixel
  * Android OS version: 8.1.0
  * Google Play Services version: 11.8.0
  * Firebase/Play Services SDK version: 11.8.0
  * FirebaseUI version: 3.2.2

  Would like to point out that this issue is not new. Has been noticed for a couple months now.

### Step 3: Describe the probl

[2018-03-05 16:24] gabrielittner commented on #682
Could you reevaluate this issue? It's now production ready and there are 4 providers (including Google) which gives it a significant advantage over smart lock.

[2018-03-05 17:22] samtstern commented on #682
@gabrielittner do you have a link to the best place to read about the new changes and the four providers?

[2018-03-05 17:25] samtstern commented on #682
I found this:
https://github.com/openid/OpenYOLO-Android/releases/tag/0.2.1

But hoping for something a little more "official" saying that this is ready for production given that the client library is still using `0.x` versioning.

[2018-03-05 17:31] gabrielittner commented on #682
The readme says

[2018-03-05 19:44] samtstern commented on #1179
@lmdic thanks for this report.

Unfortunately I can't help you here.  If you're having issues with SMS delivery please try Firebase Support:
firebase.google.com/support

Hope you get it figured out!

[2018-03-05 19:44] #1179 closed

[2018-03-05 19:56] samtstern commented on #1180
@felipe-gouveia thank you for the very detailed reproduction steps!  I need to talk to some other people to decide if this is:

  * A bug in FirebaseUI
  * A bug in Firebase Auth
  * "Working as intended" since we have some special provisions for Google accounts

[2018-03-05 20:06] bojeil-google commented on #1180
Hey @felipe-gouveia, this is currently work as intended.

To learn more why the Facebook provider is overwritten, check the following posts:
https://groups.google.com/forum/#!searchin/firebase-talk/liu/firebase-talk/ms_NVQem_Cw/8g7BFk1IAAAJ

Please check this post on Facebook not being considered a `verified` email provider:
https://github.com/firebase/firebase-js-sdk/issues/340

If you are willin

[2018-03-05 20:51] samtstern commented on #1180
Thank you @bojeil-google for weighing in!

[2018-03-05 20:51] #1180 closed

[2018-03-05 21:22] chph63 commented on #301
It works for me adding scope 'https://www.googleapis.com/auth/userinfo.email'.
I have facebook, google and twitter accounts with same email address and y get the email in user.providerData.email not in user.email.

[2018-03-07 09:13] objcode commented on #1057
I just reproduced this again, with a few more interesting details.

1. I'm using dagger2 to inject FirebaseAuth into my app.
2. I am not offline mode, and it's not happening at login, but rather at logout.
3. I'm seeing log lines about "Notifying auth state listeners. Notified 0 auth state listeners."

[code]

and the logs:

[code]

[2018-03-07 17:06] demonaries commented on #1175
I just downloaded the demo app, but it just couldn't even compile, it kept mentioning:
Error:FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring project ':auth'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at https://help.gradle.o

[2018-03-07 17:18] samtstern commented on #682
Ok I asked around with some people who know a lot about OpenYOLO and the short answer is based on some future plans (both Google's and OpenYOLOs) there may be some future changes that we should wait for.

So it seems that getting rid of SmartLock and replacing it with the OpenYOLO API right now would not be a good use of resources.

Once these plans materialize and I am sure what direction everyon

[2018-03-07 17:22] gabrielittner commented on #682
Sounds good to me. Thanks for looking at it

[2018-03-07 21:10] samtstern commented on #1057
@objcode fwiw this is a complete mystery to me.  Not that it's an actually good solution, but is this fixed by a dependency on `twitter-core`?

[2018-03-09 06:43] passiondroid opened #1181 "App crashing when signing in after integrating firebase ui on few devices"
### Step 1: Describe your environment

  * Android device: Samsung
  * Android OS version: 6
  * Google Play Services version: 3.2.0
  * Firebase/Play Services SDK version: 11.8.0
  * FirebaseUI version: 3.2.1

### Step 2: Describe the problem:

After integrating firebase ui, it works perfectly on my devices but i am getting app crashes on fabric and not sure why it is coming. I tried to look at t

[2018-03-09 07:55] SagarKisanAvhad commented on #329
my user is logged in by facebook then also getProviderData().get(0) returning com.google.firebase

so I used mAuth.getCurrentUser().getProviders().get(0)
this returns current provider. if user logged in by google then above function returns google.com
if user is logged in  by facebook then this function returns facebook.com

so simply strore returning value in string variable(let say provider) and

[2018-03-09 08:25] RoqueCampos opened #1182 "Is the ID token returned in a IDP Response suitable to perform an oauth login in a custom backend?"
Hi!

I request apologizes, this is not an issue. I ask for clarification to know if what I'm trying to do is doable.

In the past I developed android apps which used the google-sign, and used the returned token to perform a login in a custom backend. The backend verifies that token with google again, and if all was in order, the user was identified in our backend (an account was created in the cus

[2018-03-10 02:54] firdauser commented on #636
What line to add onDataChanged? Cause I got an error when put it into FirebsaeRecyclerAdapter

[2018-03-10 17:23] dokenedgar commented on #17
@samtstern I'd love the pagination option for a project am working on whereby a user gets lists of shops selling particular items, and the number is a bit large. Any update on the pagination option?

[2018-03-10 18:32] genericjohndoe opened #1183 "InflateException, Error inflating class TextView"
### Step 1: Are you in the right place?
yes

### Step 2: Describe your environment

  * Android device: Note 8
  * Android OS version: Api 25
  * Google Play Services version: 11.8.0
  * Firebase/Play Services SDK version: 11.8.0
  * FirebaseUI version: 3.2.2

### Step 3: Describe the problem:
I recieved the following error upon start up
`Unable to start activity ComponentInfo{com.udacity.gradle.b

[2018-03-11 05:40] sameersohi commented on #1066
@samedson I am getting the same issue.
/Users/sameersohi/.gradle/caches/transforms-1/files-1.1/design-27.0.2.aar/b392834f3327d2110d02dd61b8528c1b/res/values-v26/values-v26.xml
Error:(3, 5) error: style attribute 'android:attr/keyboardNavigationCluster' not found.
/Users/sameersohi/.gradle/caches/transforms-1/files-1.1/appcompat-v7-27.0.2.aar/0d70f8b052e7195660b65f59739d898f/res/values-v26/values-v

[2018-03-11 07:47] lahrm commented on #17
I want to use the infinite scrolling for a boot sale app. I need to first display the most recent ones then give the user the possibility to scroll to get older ones

[2018-03-11 17:21] itelo commented on #1180
@bojeil-google @samtstern even if I set `emailVerified` to true with Firebase cloud function onCreate, Google continues to overwriting facebook auth. What should I do?

[2018-03-11 20:21] bojeil-google commented on #1180
Seems like a backend issue. Can you file a ticket with [Firebase Support](https://firebase.google.com/support/)? I will try to recreate this next week to confirm.

[2018-03-12 06:38] Roxytsai commented on #998
@SUPERCILEX I'm not familiar with kotlin. Do you have example code on java? Thanks for the great help.

[2018-03-12 13:51] ohseongkooi commented on #492
comkooi

[2018-03-12 17:13] samtstern commented on #1183
@genericjohndoe can you show `app/build.gradle`?

[2018-03-12 18:10] SUPERCILEX commented on #998
@Roxytsai unfortunately not since the app is in production. It would be a great way to dip your feet in Kotlin though! And if you have questions, feel free to ask them. 😀

[2018-03-12 19:59] samtstern commented on #1182
@RoqueCampos the ID token is sufficient to *authenticate* the user in your custom backend.  You can use one of the Firebase Admin SDKs to verify the token and get the user's information from it.

It is not an OAuth token though so it is not sufficient to *authorize* usage of the user's Google account.

Closing this issue since it doesn't really have to do with FirebaseUI but feel free to comment a

[2018-03-12 19:59] #1182 closed

[2018-03-12 20:04] samtstern commented on #1181
This issue means that `IdpSignInContainer.signIn()` was called with a `null` first argument.

In `SignInDelegate#redirectToIdpSignIn()` this is called with the argument `getActivity()`, so this must be happening before `onActivityCreated`.

The error begins in `onComplete` which is called when the `CredentialsClient#request()` call comes back.  This call is initiated in `onCreate()` so maybe we ne

[2018-03-12 20:50] genericjohndoe commented on #1183
`apply plugin: 'com.android.application'
/*apply plugin: 'kotlin-android'
apply plugin: 'kotlin-android-extensions'
apply plugin: 'kotlin-kapt'*/

android {
    compileSdkVersion 27
    buildToolsVersion '27.0.3'

    defaultConfig {
        applicationId "com.udacity.gradle.builditbigger"
        minSdkVersion 21
        targetSdkVersion 27
        versionCode 1
        versionName "1.0"

[2018-03-12 22:54] plugie commented on #1104
I am still experience the problem .

1. Firebase ui version 3.2.2
2. Code that produce error
startActivityForResult(
                            AuthUI.getInstance()
                                    .createSignInIntentBuilder()
                                    .setTheme(R.style.AppTheme)
                                    .setAvailableProviders(
                                            A

[2018-03-12 23:23] samtstern commented on #1104
@plugie the fix is not yet released.

[2018-03-13 12:17] atrepeklis commented on #1171
Do you have a high level estimate on when this "Phase 1" will be released? I know we can always follow the SUPERCILEX approach but if we get it in a reasonable timeframe from the original source it might worth the wait.

[2018-03-13 15:13] samtstern commented on #1171
@atrepeklis sorry I don't have a good estimate right now.

[2018-03-13 15:24] samtstern commented on #1171
@SUPERCILEX I am going to take a crack at this, using #309 as my guide.

[2018-03-13 16:56] sarbogast commented on #15
And what do you do when you have a complex filter, that combines several criteria, including geo-distance queries (all items whose distance to a given point is less than a given distance). Those things are simply not supported by Firebase's query engine. You shouldn't impose your opinion on developers when features are so limited otherwise.

[2018-03-13 18:25] tchkreddy commented on #184
Is the account linking available in Firebase Auth UI by now? I dont see any reference doc.

[2018-03-13 18:26] samtstern commented on #184
It is not yet available, see #1171

[2018-03-15 03:03] nebular opened #1186 "Couldn't get FireStore adapter example to work (lifecycle events not running)"
Been mad all this night upgrading support libraries, build version, arch components ... because the provided example did not work for me. After some debugging, I realized that LifeCycle events were never called, and specifically, the field **mOwner** was always null.

In the example in the README (in this repo), the **FirestoreRecyclerOptions** are created like this:

[code]
However, if I do this,

[2018-03-15 03:46] SUPERCILEX commented on #1186
@nebular That's correct, check out our docs on the lifecycle events: https://github.com/firebase/FirebaseUI-Android/blob/master/database/README.md#firebaserecycleradapter-lifecycle

[2018-03-15 08:15] SUPERCILEX commented on #1171
@samtstern Awesome! I'm going to process my backlog tomorrow. 😊

[2018-03-15 17:50] mcfriske commented on #537
@Chaachii2797 Are you using Firebase - Cloud Firestore? If so, I believe what you want is to create an index that states how something should be ordered. I did it for mine for an ordering hierarchy.. But I am not 100% certain. Still new with Firebase.

[2018-03-15 21:49] btilbrook-nextfaze commented on #1181
I'm also seeing this crash, and it seems to stop if I remove `AuthUI.IdpConfig.GoogleBuilder()` from my list passed to `com.firebase.ui.auth.AuthUI.AuthIntentBuilder.setAvailableProviders()`.

My sign-in intent:

[code]

Environment:

AVD API `27` w/Play Store, logged in as an existing user. Smart Lock triggers as soon as I open my app, and attempts to log in with that user, at which point the app

[2018-03-15 21:54] samtstern commented on #1181
@btilbrook-nextfaze thanks for this, so are you saying this happens for you every time if you pick a Google credential from smartlock?

[2018-03-15 22:03] btilbrook-nextfaze commented on #1181
It's not getting as far as offering a selection of credentials to pick from. It's just automatically attempting to sign-in as the single Google account on the device.

I'm not sure what part of Smart Lock is in effect, since none of the Smart Lock options are enabled in Settings (no home address set either).

[2018-03-15 22:29] btilbrook-nextfaze commented on #1181
I've disabled auto sign-in in Smart Lock for Passwords settings on the account, but now I'm getting a different crash:

[code]

[2018-03-15 22:35] SUPERCILEX commented on #1181
@btilbrook-nextfaze And you're using the latest version of FirebaseUI? It's really weird that it happens to you every single time. Some good news though, I'm working on killing the `SignInDelegate` and `IdpSignInContainer` as we speak so those bugs should be fixed soon.

[2018-03-15 22:39] btilbrook-nextfaze commented on #1181
Indeed, I'm using `3.2.2`.

[2018-03-15 22:43] btilbrook-nextfaze commented on #1181
Ok, it seems perhaps disabling auto-sign in in Smart Lock for Passwords had a delay. The crash has now stopped, so that seems to suggest the crash only happens when auto sign-in in enabled.

[2018-03-17 19:14] srujanb opened #1192 "FirebaseAuth UI country code selection scrollbar not implemented right."
### Step 2: Describe your environment

  * Android device: OnePlus
  * Android OS version: 8.0
  * Google Play Services version: 11.8.0
  * Firebase/Play Services SDK version: 11.8.0
  * FirebaseUI version: 3.2.1

### Step 3: Describe the problem:

The scrollbar should not go beyond the screen when scrolling happens on the dialog box. See the **scrollbar** in the video below.

https://youtu.be/t2x

[2018-03-18 06:13] j2emanue opened #1193 "NullPointerException: Attempt to invoke virtual method 'android.support.v4.app.FragmentManager android.support.v4.app.FragmentActivity.getSupportFragmentManager()' on a null object"
if you have a very poor network connection then try to call the following code from a fragment:

`private void ititFireBaseUi() {

        AuthUI.getInstance()
                .signOut(getActivity())
                .addOnCompleteListener(new OnCompleteListener<Void>() {
                    public void onComplete(@NonNull Task<Void> task) {
                        // Choose authentication provider

[2018-03-18 06:17] SUPERCILEX commented on #1193
Yep, duplicate of https://github.com/firebase/FirebaseUI-Android/issues/1181. The next release will include a fix it all goes well.

[2018-03-18 06:19] #1193 closed

[2018-03-18 08:57] plugie commented on #1181
Found error just like @btilbrook-nextfaze
Firebase Ui version: 3.2.2'

Detail error :
http://crashes.to/s/5b6a4121e6f

[2018-03-19 05:16] j2emanue opened #1194 "add a salt to passwords"
the issue i am facing is that i am required to add a salt to the users Email provider password. basically if the user enters password as "1234" and my salt is "myapp_secret" then the true password will be a hash of: **myapp_secret1234**

How can i add this extra string to users password. i dont see a method for this.  this is common practice sometimes to better security.

[2018-03-19 05:27] SUPERCILEX commented on #1194
You don't get direct access to the user's passwords. Instead, they are stored securely in Google's data centers where you don't have to worry about any of that. All you'll need is the `FirebaseUser#getUid()` to be able to uniquely identify your users in a database or wherever else you need it.

PS: I'm pretty sure that you _can_ get a dump of your users' passwords in plaintext if absolutely necess

[2018-03-19 06:44] j2emanue commented on #1194
So what's happening is that we are using the password  salt as a key for something else. System was made like this unfortunately. Anyway, do you know of anyway to do this from the firebase console then ? It's the same salt all the time. Constant.

[2018-03-19 11:15] kareemElsayedDEV opened #1195 "phone auth only crashes the app when canceled"
when adding phone authentication to the app **only** it crashes when the user cancel the login operation producing:
[code]

so to generate this issue use the following code
`startActivityForResult(AuthUI.getInstance().createSignInIntentBuilder().setLogo(R.mipmap.logo).setAvailableProviders(Arrays.asList(AuthUI.IdpConfig.PhoneBuilder().build())).build(), REQUEST_SIGN_IN)`
then press back until the

[2018-03-19 11:43] pushbit opened #1196 "Supporting all Firebase auth providers (Play Games and GitHub)"
Are there any plans to add support for the remaining two Firebase auth providers - Play Games (new) and GitHub?  I'm particularly interested in the Play Games provider because I believe it allows a much lower friction sign in experience compared to the Google provider with the Games scope because it does not supply any personal information (just a player nickname) and therefore requires less (if a

[2018-03-19 15:15] samtstern commented on #1195
@kareemElsayedDEV I can't reproduce this on the demo app in this repository, so I think it's something specific to your app.

I see that you're using Kotlin and the crash is coming from `kotlin.jvm.internal`.  Can you show me the `onActivityResult` method of `SplashScreen.kt`?

[2018-03-19 15:18] samtstern commented on #1194
@j2emanue sorry this is not something that's supported in Firebase Authentication, so we won't support it in Firebase UI.

If you had hashed / salted passwords from another application you could import them into Firebase:
https://firebase.google.com/docs/cli/auth

If you really need to interact with your old system that has different password requirements, you could also use Custom Auth:
https://f

[2018-03-19 15:18] #1194 closed

[2018-03-19 15:39] kareemElsayedDEV commented on #1195
@samtstern i did debug this issue and it never reaches onActivityResult
any ways here is my code
[code]

[2018-03-19 16:31] samtstern commented on #1195
@kareemElsayedDEV try changing the signature of `onActivityResult` to accept a `null` Intent data:

something like:

[code]

[2018-03-19 17:27] SUPERCILEX commented on #1196
Oh hey, Sam and I were just talking about this a week or two ago. It looks like there's demand for it, so yeah, I don't see why we shouldn't add the Play Games provider. @samtstern Any objections? As for GitHub, I have an issue open [here](https://github.com/firebase/FirebaseUI-Android/issues/346) and a branch with [half-broken code](https://github.com/SUPERCILEX/FirebaseUI-Android/tree/github) th

[2018-03-19 17:48] samtstern commented on #1196
@pushbit this is definitely something we'd like to support, but I want to finish all of the stability work and let that soak for a little before we dive into new providers (which naturally come with new bugs).

So we can put this on the backlog for now.

[2018-03-19 23:39] kareemElsayedDEV commented on #1195
actually yes that solved it!!
i really feel stupid

[2018-03-19 23:39] #1195 closed

[2018-03-20 02:43] SUPERCILEX commented on #1186
@samtstern I believe this issue can be closed since it's expected behavior.

[2018-03-21 03:24] j2emanue opened #1198 "firebaseUI as fragment not activity"
Can you make the login buttons appear in a fragment instead of an activity.  The reason is i want to add other log in options that are not apart of firebase authentication.  For example, in asia we have login with Line ID as another provider but not a firebase provider.  so i could if firebaseUI was a fragment i could split the screen and show other providers on the same screen. i did not see an o

[2018-03-21 03:57] SUPERCILEX commented on #1198
Hi there,
No, unfortunately, this isn't possible. Line isn't one of the default Firebase providers so that means using custom auth which FirebaseUI doesn't support. You're totally welcome to fork FirebaseUI and add support for Line yourself though! 😊

[2018-03-21 04:45] #1198 closed

[2018-03-22 03:41] Roxytsai commented on #998
@SUPERCILEX Thanks for your suggestion, I'm studying Kotlin now. Owing to Robot-Scouter app still too complex for me, do you have Quickstart code about how to solve scroll position in FirestoreRecyclerAdapter by using ObservableSnapshotArray.
Anyway, thanks for your feedback.

[2018-03-22 05:31] SUPERCILEX commented on #346
Hi everyone, it's finally coming! Approaching 2 years later, but here it is: https://github.com/firebase/FirebaseUI-Android/pull/1199. 😆

[2018-03-22 05:32] SUPERCILEX commented on #1196
We should also support [link sign up](https://firebase.google.com/docs/auth/android/email-link-auth) though that will require much more effort and thought since we've got to do dynamic link stuff.

[2018-03-22 05:33] SUPERCILEX commented on #1196
@pushbit GitHub support is coming: https://github.com/firebase/FirebaseUI-Android/issues/346

[2018-03-22 06:00] genericjohndoe commented on #1183
@samtstern ﻿﻿﻿the error is on line 29 in xml according to the error message. I tried moving around the elements in the xml docs for the layouts down. each time the app failed, but the line number didn't change, why?

[2018-03-22 12:33] peterhav commented on #492
Note that this is a legal issue. I have just received a mail from Google warning me that my app (using Firebase-UI) is in violation:

Note that I do provide a Privacy Policy, but this is shown in the about (not before login).

Therefor this is a welcome feature (that should be independent from the provider type).

[2018-03-22 14:03] wojtek-kalicinski opened #1200 "NoClassDefFoundErrors logcat spam for optional providers"
* Android device: Pixel 2
  * Android OS version: P
  * Google Play Services version:
  * Firebase/Play Services SDK version:
  * FirebaseUI version: 3.2.2

### Step 3: Describe the problem:
ART verification spams the logcat with NoClassDefFoundErrors, because it needs to resolve superclasses of TwitterProvider and FacebookProvider, which don't exist if you're not using these SDKs.

Instead of ext

[2018-03-22 14:45] samtstern commented on #1183
@genericjohndoe I apologize for my lack of response, I am pretty stumped on the cause of this issue and have not been able to think of a next step.  But I'll try to take another look.

[2018-03-22 18:52] Jackson350 commented on #879
What happened with this?, I'm facing the same issue and I couldn't find a solution :/

[2018-03-22 23:58] SUPERCILEX commented on #1183
@genericjohndoe Could you please try removing the `configurations.all` block? That's not how you should be setting dependencies... 😕

[2018-03-23 01:21] genericjohndoe commented on #1183
@SUPERCILEX  i removed the configurations.all block, it didnt solve my problem but the project builds without error

[2018-03-23 01:27] genericjohndoe commented on #1183
@samtstern  so i've traced the error to:

[code]
When the intent is returned from `HelperActivityBase.createBaseIntent()`, that's when the application terminates. I'm not sure what to do from there though....

[2018-03-23 04:20] samtstern commented on #1200
@SUPERCILEX integrated your suggestions into #1189

[2018-03-23 04:25] samtstern commented on #948
@SUPERCILEX do you think this is closeable by #1189?

[2018-03-23 04:35] SUPERCILEX commented on #1183
Hmmm, yeah, I'm stumped too. Thanks a ton for your investigation! However, creating an intent basically just tells Android what "component" aka activity, broadcast receiver etc to use for an action. If you put a breakpoint in the `KickoffActivity`'s `onCreate` super call, that's where all the magic will happen. So this AppCompat line is causing the problem:
[code]

That doesn't make any sense sinc

[2018-03-23 04:42] SUPERCILEX commented on #948
Yes? Neither of us has been able to reproduce it so I guess close it for now and if devs bring it up, we can figure stuff out from there... SGTY? (Sound good to you?)

[2018-03-23 04:44] samtstern commented on #948
@Netstep since we have not been able to reproduce and we just recently kicked off a huge re-write of a lot of the relevant code, I am going to close this as "Not Producible" for now.  But if we see this again we will certainly re-open.

[2018-03-23 04:44] #948 closed

[2018-03-23 19:38] SUPERCILEX commented on #1186
@samtstern I believe this issue can be closed since it's expected behavior.

[2018-03-23 19:44] #1186 closed

[2018-03-23 20:36] samtstern opened #1205 "Create custom Observer class to abstract common Loading logic"
We have a lot of code like this:

[code]

In particular the `LOADING` bits almost always look the same.  We could make something like:

[code]

[2018-03-24 05:08] GuanacoDevs opened #1206 "Inmersive Mode"
This is more of a question than an issue.
Is it possible to set inmersive mode in FirebaseUI, I have checked on the library but don't find anything.

[2018-03-24 13:44] plugie commented on #1165
A lot of crash from com.firebase.ui.auth.util.Preconditions.checkNotNull (Preconditions.java:46)
Detail crash info
http://crashes.to/s/5b6a4121e6f

[2018-03-24 20:25] SUPERCILEX commented on #1206
No, we don't support this even though I doubt it would be too difficult. This is because Google, Facebook, and Twitter would all have to support immersive mode, which I'm pretty sure none of them do. @samtstern do you think we'll ever be able to properly support immersive mode?

[2018-03-25 02:13] GuanacoDevs commented on #1206
Not sure if a follow you properly, when you say about the Federated providers you mean the intent of each of them,? I was thinking mostly on the Activity that host the signing buttons for any provider, I can live with the non Immersive mode for the intents for any federated providers but having it only for the Screen with the login buttons would mix better with my app style.
Thought that adding th

[2018-03-25 02:55] SUPERCILEX commented on #1206
Oh I see, so you've forked it? And you don't mind if the external provider logins will quit immersive mode? Also, you shouldn't need to fork it if you just want AuthUI to be immersive, you can supply a [style to use everywhere](https://github.com/firebase/FirebaseUI-Android/blob/master/auth/README.md#themes) which should let you set those flags, right?

[2018-03-25 03:39] GuanacoDevs commented on #1206
@SUPERCILEX No, I don't mind the external providers quitting the immersive mode, Purchases already do, and I actually have set my custom theme like below, I still have the Navigation Bar at the bottom:

[code]

[2018-03-25 03:59] SUPERCILEX commented on #1206
I've gotten it to work with this code: (I've got to say, it looks so damn sexy full screen 😆)
[code]

I don't think there's anything we can do in XML since there isn't a flag for the navigation bar hiding.

[2018-03-25 04:19] GuanacoDevs commented on #1206
@SUPERCILEX It does uh :-)
Oh well, but thanks to you I have found this:
`        <item name="android:navigationBarColor">@color/transparent</item>
`
I think I'll settle with that, is  `Build.VERSION_CODES.LOLLIPOP`, but looks good.
Tried also with:
`        <item name="android:windowTranslucentNavigation">true</item>
`
which is `Build.VERSION_CODES.LOLLIPOP`, But it draws the login buttons to the

[2018-03-25 04:19] #1206 closed

[2018-03-25 04:20] SUPERCILEX commented on #1206
Nice trick, thanks for sharing!

[2018-03-25 11:18] j2emanue opened #1209 "existing user modification time and new user signup timestamps are same"
It seems the check to verify if the user is a new SignUp or existing user is not working.

I signed up a user brand new and then logged out of email provider.

I then logged in again (and got the welcome back screen) and signed in again.

I did this immediately with about 10 seconds delay between:

but the following code always returns true:

[code]

   i am using fireBaseUI-Auth and this check ha

[2018-03-25 14:07] BrownEli commented on #1170
Im also getting this error in version 3.1.3
this is my crash log from crashlytics

`Fatal Exception: java.lang.NullPointerException
Attempt to invoke virtual method 'com.google.android.gms.tasks.Task com.google.android.gms.common.api.GoogleApi.zzb(com.google.android.gms.common.api.internal.zzde)' on a null object reference
com.google.android.gms.internal.zzdza.zzb (Unknown Source)
com.google.andro

[2018-03-25 16:36] SUPERCILEX commented on #1209
What version of FUI and play services are you using?

[2018-03-25 17:04] jvergers opened #1210 "FirestoreRecyclerAdapter no virtual method getDocument"
I am currently converting my Firebase UI components to Firestore UI components. When building the `FirestoreRecyclerAdapter` and manually call the `adapter.startListening()` or initialize it via `new FirestoreRecyclerOptions.Builder().setLifeCycleOwner()` I stumble on the following fatal exception.

    FATAL EXCEPTION: main
    Process: packagename, PID: 3129
    java.lang.NoSuchMethodError: No v

[2018-03-25 17:34] j2emanue commented on #1209
firebase_version = '12.0.0'

  classpath 'com.google.gms:google-services:3.2.0'

com.google.android.gms:play-services-auth:12.0.0
________________________________
From: Alex Saveau <notifications@github.com>
Sent: Sunday, March 25, 2018 12:36 PM
To: firebase/FirebaseUI-Android
Cc: j2emanue; Author
Subject: Re: [firebase/FirebaseUI-Android] existing user modification time and new user signup timest

[2018-03-25 17:35] SUPERCILEX commented on #1210
Could post the output of `./gradlew dependencies`?

[2018-03-25 17:53] jvergers commented on #1210
Full output:

`Configure project :app
Could not find google-services.json while looking in [src/nullnull/debug, src/debug/nullnull, src/nullnull, src/debug, src/nullnullDebug]
registerResGeneratingTask is deprecated, use registerGeneratedFolders(FileCollection)
Could not find google-services.json while looking in [src/nullnull/release, src/release/nullnull, src/nullnull, src/release, src/nullnullR

[2018-03-25 18:02] SUPERCILEX commented on #1210
Oh, my B. Could you run `./gradlew app:dependencies`? Thanks!

[2018-03-25 18:06] jvergers commented on #1210
Attached in textfile since its a pretty big output.

[gradeOutput.txt](https://github.com/firebase/FirebaseUI-Android/files/1845610/gradeOutput.txt)

[2018-03-25 18:11] SUPERCILEX commented on #1210
Huh, your dependencies look good to me. Are you using multidex?

[2018-03-25 18:13] jvergers commented on #1210
Multidex is not enabled.

[2018-03-26 15:28] samtstern commented on #1210
@jvergers thank you for this report, I got someone who mentioned this to me directly via email so it appears this is a real issue.

With the other report, it seems the problem comes from mixing Firebase dependencies `12.0.0` and FirebaseUI `3.2.2`.  You can solve this temporarily by downgrading to `11.8.0`.  We have a version `12.0.1` coming out in the next few days to fix some packaging issues wi

[2018-03-26 15:38] samtstern commented on #1210
The more I look at it, I also think this could be related to the newly added `QueryDocumentSnapshot` class in `12.0.0` which is meant to use the type system to signal to the developer that `.exists()` will always be true for `DocumentSnapshot` returned from a `QuerySnapshot` whereas that's not the case if you just call `get()` on a random `DocumentReference`

[2018-03-26 15:42] dandan0092 opened #1215 "Changing Switch value dynamically"
### Step 3: Describe the problem:
I'm trying build a product list and change the product status dynamically, but when I click a switch and so other and back to click the first one, it is changing the both values at same time in firebase and in app. How I can fix this problem?
#### Steps to reproduce:

**My ProductsFragment class:**

[code]
**item_product_list.xml**

<?xml version="1.0" encoding="u

[2018-03-26 15:46] aravindmj97 commented on #1215
I'm also having the same issue. In my case its a switch. When one switch is toggled all the others gets toggled. Mostly happens when toggling the bottom ones. Please provide a fix
`@Override
    public void onStart() {
        super.onStart();

        firebaseRecyclerAdapter = new FirebaseRecyclerAdapter<MapRecycler, MapFrag.MapViewHolder>(
                MapRecycler.class,
                R.lay

[2018-03-26 15:46] jvergers commented on #1210
Downgrading Firebase to `11.8.0` worked as a temporarily work around, will keep an eye on the update. Thanks a million!

[2018-03-26 17:51] samtstern commented on #1210
@jvergers I have #1216 to double-fix this issue :-)

I also suspect this is just due to some gradle build caching not being happy when you upgraded from 11.8.0 to 12.0.0, but it should be fixed in a few days either way.

[2018-03-26 21:54] matpag opened #1217 "Remove or change resConfigs "auto" from the suggested optimization"
When updating to Android Studio 3.1, one of the first warning provided by the IDE is to remove the `resConfigs "auto"` property from defaultConfig and from flavors (if present), which is the opposite suggested in the current configuration guide [here](https://github.com/firebase/FirebaseUI-Android/blob/master/auth/README.md#configuration)
![image](https://user-images.githubusercontent.com/4432213/

[2018-03-26 22:05] SUPERCILEX commented on #1217
`auto` is meant as a placeholder. You're supposed to replace it with the languages you support, but I totally see how this is confusing. Will fix.

[2018-03-26 22:28] samtstern commented on #1217
Damn it's pretty lame they're removing "auto".  It actually was not a placeholder, it did 'the right' thing. But thanks for the PR.

[2018-03-26 22:28] #1217 closed

[2018-03-26 22:36] SUPERCILEX commented on #1217
Huh, I always thought auto was the default. Guess not! 😮 Apparently it's because of multi-module project bugs. Now I'm disappointed too! 😭😂

[2018-03-26 22:55] matpag commented on #1217
You were super fast, thank you @SUPERCILEX 👍

[2018-03-27 09:57] shivamsonu23 opened #1220 "Firebase author ui requires update for supporting 12.0.0 dependencies"
Firebase ui auth needs to be updated as 3.2.2 does not support 12.0.0 dependencies. It supports 11.8.1. Also not able to use play services api of version 12.0.0.

[2018-03-27 10:00] shivamsonu23 commented on #1220
Sorry for mistyping. It's Firebase ui auth in title.

[2018-03-27 10:28] AlexanderLS commented on #1217
@SUPERCILEX @samtstern  Question on the Stackoverflow - ['ProductFlavor.resConfigs' has a value 'auto' which is obsolete and has not been replaced](https://stackoverflow.com/questions/49498491/productflavor-resconfigs-has-a-value-auto-which-is-obsolete-and-has-not-been)

[2018-03-27 12:31] PankajSavaliyaGit commented on #1210
This issue generated by **proguard-rules**. need to proguard-rules for that issue.

[2018-03-27 12:41] krisu7 commented on #1220
@shivamsonu23 as per PR #1203, @samtstern is waiting for play services 12.0.1 since 12.0.0 has broken ProGuard.

[2018-03-27 13:44] krisu7 commented on #1220
@shivamsonu23 check out [https://developers.google.com/android/guides/releases#march_20_2018_-_version_1200](https://developers.google.com/android/guides/releases#march_20_2018_-_version_1200)

[2018-03-27 15:08] samtstern commented on #1220
@shivamsonu23 we are waiting for `12.0.1` (and you should too!).

However it's always possible to use FirebaseUI with a newer version of Play services dependencies:
https://github.com/firebase/FirebaseUI-Android#upgrading-dependencies

[2018-03-27 15:08] #1220 closed

[2018-03-27 15:10] samtstern commented on #1217
@matpag thanks for the great answer on StackOverflow, also cc @SUPERCILEX

![image](https://user-images.githubusercontent.com/8466666/37976401-47c9192e-3196-11e8-90f8-6a096d9e448e.png)

[2018-03-27 15:20] matpag commented on #1217
Was a pleasure 😉, you are doing a great jobs guys 👍

[2018-03-27 15:27] samtstern commented on #1215
@dandan0092 this does not seem like it's a bug in FirebaseUI, it looks like you're asking for help debugging/coding your application.  Please ask this kind of question on StackOverflow, good luck!

[2018-03-27 15:27] #1215 closed

[2018-03-27 22:37] Buli1212 opened #1221 "ConstraintLayout Guidelines crash after introducing com.firebaseui:firebase-ui-auth:3.2.2 dependency"
* Android device: Samsung S7 Edge (SM-G935F)
  * Android OS version: Android 7.0
  * Google Play Services version: 12.2.21
  * Firebase/Play Services SDK version: 3.2.2
  * FirebaseUI version: 11.8.0

### Describe the problem and Steps to reproduce:
The app crashes after adding implementation 'com.firebaseui:firebase-ui-auth:3.2.2' to the project. The erros comes from layouts where ConstraintLayou

[2018-03-27 22:49] samtstern commented on #1221
What happens if you change your `constraint-layout` version to `1.1.0-beta5`?

[2018-03-27 22:57] Buli1212 commented on #1221
Thank you for the quick response. I'm getting the same error with 1.1.0-beta5 and 1.1.0-beta6. I've also tried running the app with and without Instant Run enabled and using debug/release builds.

[2018-03-27 23:03] samtstern commented on #1221
@Buli1212 the thing is I don't see anything about FirebaseUI in that stack trace, and if FirebaseUI was presenting a dependency problem that would normally reveal itself at build time.

So when you take out FirebaseUI, are you still able to construct a recyclerview with an adapter where each item is a ConstraintLayout?

[2018-03-27 23:28] Buli1212 commented on #1221
As soon as I comment out `implementation 'com.firebaseui:firebase-ui-auth:3.2.2'` the app starts working again. I have not started using the UI Auth functionality in this project yet so that's the only change.

[2018-03-27 23:30] samtstern commented on #1221
@Buli1212 thanks!  I am gonna run an experiment and try to narrow this down

[2018-03-27 23:33] samtstern commented on #1221
`:app:androidDependencies` with FirebaseUI:

[code]

`:app:androidDependencies` without FirebaseUI:

[code]

[2018-03-27 23:40] samtstern commented on #1221
Here's the dependency diff (took the above and cleaned it):
http://www.mergely.com/XvueGU3P/

Here's what changes when you add FirebaseUI;

  * `constraint-layout` and `constraint-layout-solver` go to `1.1.0-beta5` from 11.0.2`
  * You get new dependencies on `play-services-auth`, `-auth-api-phone`, `-auth-base`, `-base`, and their `-license` dependencies.
  * You get new dependencies on `firebase

[2018-03-27 23:41] samtstern commented on #1221
@Buli1212 I know you said you already tried this but are you sure it still works if you add this to your deps and then do a full clean build?:

[code]

[2018-03-27 23:49] Buli1212 commented on #1221
I left 'com.firebaseui:firebase-ui-auth:3.2.2' commented out and changed 'com.android.support.constraint:constraint-layout:1.0.2' to implementation 'com.android.support.constraint:constraint-layout:1.1.0-beta5' and the project crashed with the same error so it's the constraint layout problem and has nothing to do with the Firebase. I will need to find out what has been changed between 1.0.2 and 1.

[2018-03-28 00:06] #1221 closed

[2018-03-28 00:21] samtstern commented on #1221
Glad it worked out, thanks for the patience!

On Tue, Mar 27, 2018, 5:06 PM Buli1212 <notifications@github.com> wrote:

[2018-03-28 19:33] samtstern opened #1223 "UserInfo with provider 'firebase' showing up"
I was testing out the demo app with `3.3.0` and got this crash after signing in (with Google, but I think the account had been linked to email):

![image](https://user-images.githubusercontent.com/8466666/38051789-29f69b94-3284-11e8-82ed-0870eddb3afe.png)

This caused a crash in our provider switch statement.

[2018-03-28 19:36] samtstern commented on #1223
Looks like we knew this was possible because we skip over it in `AuthUI`:
https://github.com/firebase/FirebaseUI-Android/blob/56e4f3fe5c028993faa935a287682714ea1ac83e/auth/src/main/java/com/firebase/ui/auth/AuthUI.java#L390

[2018-03-28 19:46] #1223 closed

[2018-03-28 19:46] samtstern commented on #1223
Fixed by #1224

[2018-03-28 19:50] GuanacoDevs commented on #1223
Not sure if this is related to [#329](https://github.com/firebase/FirebaseUI-Android/issues/329)
I wanted to get the provider to retrieve the picture profile, but the method `getProviders()` is not available.
Checking on the options there is an obscure method that returns a List, i believe is that `zza()`, but it comes with a "internal use warning and should not be used by apps"
Kept digging and e

[2018-03-28 19:54] samtstern commented on #1223
@GuanacoDevs so `getProviders()` (and some other methods) were actually never meant to be exposed, but our ProGuard has been broken this whole time.

In `12.0.0` this got "fixed", sot the methods were hidden.  But of course many developers were relying on these methods.  So in `12.0.1` we opened them back up but with the lint warning you're seeing.

So you did exactly the right thing, in this case

[2018-03-28 20:14] samtstern opened #1225 "Internal: bintray publishing broken"
This happened during `3.2.2` as well as `3.3.0` but I fixed it manually in each case.  Which is kind of a huge pain, so need to fix this before `3.3.1`.

Right now when I upgrade the artifacts to Bintray I get a lot of `unspecified` junk:

![image](https://user-images.githubusercontent.com/8466666/38053791-dfc2680e-3289-11e8-8f81-c671557d591c.png)

![image](https://user-images.githubusercontent.co

[2018-03-28 20:21] samtstern commented on #1210
This issue has been fixed and released in `3.3.0`.

[2018-03-28 20:21] #1210 closed

[2018-03-28 20:22] samtstern commented on #1205
This issue has been fixed and released in `3.3.0`.

[2018-03-28 20:22] #1205 closed

[2018-03-28 20:22] samtstern commented on #1181
This issue has been fixed and released in `3.3.0`.

[2018-03-28 20:22] #1181 closed

[2018-03-28 20:22] samtstern commented on #1057
This issue has been fixed and released in `3.3.0`.

[2018-03-28 20:22] #1057 closed

[2018-03-28 20:22] samtstern commented on #1200
This issue has been fixed and released in `3.3.0`.

[2018-03-28 20:22] #1200 closed

[2018-03-28 20:22] samtstern commented on #1175
This issue has been fixed and released in `3.3.0`.

[2018-03-28 20:22] #1175 closed

[2018-03-28 20:22] samtstern commented on #1154
This issue has been fixed and released in `3.3.0`.

[2018-03-28 20:22] #1154 closed

[2018-03-28 22:23] SUPERCILEX commented on #1225
@samtstern Also on the subject of broken builds, all of [mine](https://travis-ci.org/SUPERCILEX/FirebaseUI-Android/builds/359588507) are passing, but the offical one's aren't happy because of bintray or something. Maybe clean the cache?

[2018-03-28 22:28] samtstern commented on #1225
Yeah i tried cleaning the cache .... gonna wait a few hours and try again.
jCenter had a known incident today.

On Wed, Mar 28, 2018 at 3:23 PM Alex Saveau <notifications@github.com>
wrote:

[2018-03-28 22:29] SUPERCILEX commented on #1225
Oh, gotya, SGTM! 👍

[2018-03-29 12:48] vikaskaushik07 opened #1226 "i can't find populateviewholder method in firebaserecycleradapter"
[code]

[2018-03-29 15:01] samtstern commented on #1226
@vikaskaushik07 it's not clear what your problem is, why do you need to access `populateViewHolder` and what's going wrong?

[2018-03-29 15:55] samtstern opened #1227 "Version 3.3.0 breaks proguard again"
I am seeing this in one of my projects when upgrading from `3.2.2` to `3.3.0`

[code]

We added this to our proguard config:

[code]

But then we killed the `provider` classes.

I suspect the workaround is:

[code]

[2018-03-29 16:00] samtstern commented on #1227
Confirmed Workaround:
[code]

[2018-03-29 16:13] samtstern commented on #1175
Related issue:
https://github.com/firebase/FirebaseUI-Android/issues/1227

Seems we're playing proguard whack-a-mole here :man_facepalming:

[2018-03-30 05:20] bernaferrari commented on #1227
At least you are not getting this:
[code]
for a few weeks already. I submitted 74602137 on Issue Tracker, but someone at Google marked as private, I can't even see how my issue is going 😞. Has anyone here found any workaround for it?

[2018-03-30 12:28] hiddeneyes02 opened #1230 "Program type already present: com.google.android.gms.internal.zzcce"
Message{kind=ERROR, text=Program type already present: com.google.android.gms.internal.zzcce, sources=[Unknown source file], tool name=Optional.of(D8)}

This is my gradle:

[code]

And project level:
[code]

Please help, I spent all the morning from one problem to another...

[2018-03-30 15:57] samtstern commented on #1227
@bernaferrari huh that issue actually came across my desk internally and I asked "Bernardo could you show all of your app's dependencies?" but I did not realize it was private so you were not getting the responses.

So, could you show your `build.gradle` file?  Maybe app and project level.

[2018-03-30 16:58] bernaferrari commented on #1227
@samtstern Sure. There was a project attached in that issue, I updated it here for 3.2 Canary 8.
[fbui alpha08.zip](https://github.com/firebase/FirebaseUI-Android/files/1864152/fbui.alpha08.zip)
On 3.1 stable, I **needed** to put
[code]
and, for some reason, it was ignoring the ProGuard file, so I needed to put the twitter dependency, but everything worked fine after it. On 3.2 Canary 8, same issu

[2018-03-30 17:00] samtstern commented on #1230
@hiddeneyes02 what version of Android Studio are you using?  Could you try adding the following lines to your `gradle.properties` file and seeing if anything changes?

[code]

[2018-03-30 17:02] samtstern commented on #1227
Ok @bernaferrari if this is only an issue in 3.2 Canary 8 I think that's something we should just wait on, canary versions of Android Studio tend to break the build in amazing ways.  I really can only justify investigating this as a FirebaseUI issue if it's present in a stable or beta version of Android Studio (which it seems like it is not?)

[2018-03-30 17:02] bernaferrari commented on #1227
Ok for now..

[2018-03-30 17:07] SUPERCILEX commented on #1227
I'm on canary 8 right now and it works fine. I've disabled R8 though... Have you tried that?

[2018-03-30 17:10] hiddeneyes02 commented on #1230
I am using Android Studio 3.1, lastest

This is what I get with that:

 Use 'android.enableD8=true' to remove this warning.
 It will be removed in AGP version 3.3.

The same original error if I remove android.enableD8 = false or set it to true

[2018-03-30 17:14] bernaferrari commented on #1227
@SUPERCILEX wow, worked, thanks.. 🤣 looks so simple now, r8 is the guilty.

[2018-03-30 17:16] samtstern commented on #1230
@hiddeneyes02 what about FirebaseUI `3.2.2`?

[2018-03-30 17:49] samtstern commented on #1230
@hiddeneyes02 are you working offline?

Can you try running from the command line:
`./gradlew clean cleanBuildCache :app:assembleDebug`

[2018-03-30 17:52] samtstern opened #1231 "Enable 'passwordless' sign-in flow"
The `12.0.0` release of `firebase-auth` enabled passwordless sign in flows where the user gets an link in his/her email and clicking the link deep links back into the app to complete the flow (using a one-time code).

We plan to add support for this to FirebaseUI in the future as it's a UI-heavy flow, although we of course need iOS support as well as some mocks from UX as to how this should look/f

[2018-03-30 18:06] hiddeneyes02 commented on #1230
[code]

With the same error. I should tell you the error occurs when trying to run the app, not when synchronizing gradle.

[2018-03-31 07:04] GuanacoDevs opened #1232 "Retrieve Credentials for Automatic Sign In & Smart Lock"
Is there any method in `AuthUI` that will allow me to request saved credentials for automatic Sign In or do I have to build it myself.
My flow is:
Splash Screen: If user is logged in already, opens the `Main Activity`, else will Sign In 'Anonymous' and then open the` Main Activity`, in the `Main Activity` the user may choose to sign in or not. The `AuthUI` Sign In happens in `Main Activity`, so if

[2018-03-31 13:38] SUPERCILEX commented on #1232
Are you looking for something like [this](https://github.com/firebase/FirebaseUI-Android/pull/1212)? It sounds very close to what you're trying to do.

[2018-03-31 15:39] robbyrahmana commented on #204
@14145057 Thanks alot

[2018-03-31 19:44] GuanacoDevs commented on #1232
@SUPERCILEX Yep, I have been following that thread, I'm eager for the release and to know how is it going to work. I started writing code to retrieve the credentials last week, but I was getting too many warnings "This method call is internal and not meant to be call by the app..." and then read that 12.0.0 had some bugs and to wait for 12.0.1.
Since my sign in flow starts as anonymous in the spla

[2018-03-31 22:26] SUPERCILEX commented on #1232
Have you seen the [docs](https://github.com/firebase/FirebaseUI-Android/pull/1212/files#diff-46b10a690795758a8db6b0f86c9afddc)? They describe exactly what you're looking for. If you want, I can also provide a dependency with that PR already merged...

[2018-03-31 22:51] GuanacoDevs commented on #1232
I was following exactly that when I was writing my code, but the amount of warnings turn me down, now with 12.0.1 I'll try again.
I opened this hopping that you might include something like AuthUI.getInstance().getSavedCredentials(). You already done the whole job, I know, since I'm using a Splash Screen to login anonymously and AuthUI in the Main Activity the sign in flow is a bit differen from m

[2018-03-31 22:51] #1232 closed

[2018-04-01 00:28] svidata opened #1233 "Firebase UI version 3: calling startListening() inside onStart() reloads the whole list."
Hello all and thanks for this great library, I am using version 3 of firebase ui in my android app. Now as suggested in the library documentation

 I call start listening in onStart() method, like this:

`mAdapter.startListening();`

I call stop in onStop() method, like this:

`mAdapter.stopListening();`

These work perfectly they start and they stop no issue with that, but the problem comes when

[2018-04-01 01:38] SUPERCILEX commented on #1233
See https://github.com/firebase/FirebaseUI-Android/issues/947, we don't have a good solution yet. Sorry!

[2018-04-01 02:03] svidata commented on #1233
@SUPERCILEX  I checked the link, but I dont understand what do you mean by using view model. I mean how does it help? Thanks.

[2018-04-01 02:16] svidata commented on #1233
@SUPERCILEX  is it bad if we startListening() in onCreate and stop in onDestroy()? What are the disadvantages?

[2018-04-01 06:36] CodingDoug opened #1234 "Launching auth UI gives misleading and unhelpful message when the device is offline"
* Android device: Nexus 5X
  * Android OS version: 8.1
  * Firebase/Play Services SDK version: 11.8.0
  * FirebaseUI version: 3.2.2

#### Steps to reproduce:

1. Take device offline, no internet
2. Invoke Google auth login via AuthUI

#### Observed Results:

Logcat says: "Sign in error 1"
Snackbar says: "Not signed in"

#### Expected Results:

More accurate and helpful snackbar and logcat message,

[2018-04-01 09:39] AmoghBhagwat opened #1235 "Getting the PhoneAuthCredential"
How can we get the PhoneAuthCredential object to link the account with email providers?

[2018-04-01 19:25] alex8530 commented on #1226
and me, i have the same problem ,

[2018-04-02 01:53] Roxytsai commented on #998
@SUPERCILEX Thanks for your suggestion, I resolved it! Many thanks~

[2018-04-02 02:34] SUPERCILEX commented on #1233
You could stop listening on `onDestroy`, but the main issue is that you'll still have a connection to the database all the way until Android decides to kill your app (which could be a while on a good device). This can get expensive if the data is changing and a bunch of clients are pointlessly listening to the db (also bad for battery). In addition, killing the connection in `onDestroy` just postp

[2018-04-02 16:59] samtstern commented on #1234
@CodingDoug I cannot reproduce this with your steps.

**Scenario 1**
If I have the device completely offline _before_ entering the FirebaseUI flow then I see no UI, I get an immediate `onActivityResult` with the network error code and (at least for the sample app in this repo) I see a snackbar that says "No internet connection"

**Scenario 2**
If I enable network long enough to reach the FirebaseU

[2018-04-02 17:01] samtstern commented on #1233
I think @SUPERCILEX has answered this completely, thank you!

[2018-04-02 17:01] #1233 closed

[2018-04-02 17:02] samtstern commented on #1230
@hiddeneyes02 I am a bit stumped here, and I think it's very strange that I have not seen this same error from any other users.

[2018-04-02 17:08] samtstern commented on #1230
@hiddeneyes02 I just recreated your exact project and here's how you can fix it:

Replace this:
[code]

With this:
[code]

[2018-04-02 17:08] #1230 closed

[2018-04-02 21:27] pavel-zolotov commented on #1183
I have the same issue. The most interesting thing is that one of my dependencies in `build.gradle` is probably the same. It is the implementation of  `com.github.pchmn:MaterialChipsInput` library imported as a module and named as `chipslibrary` in your case. No doubt, it causes the problem, because if you delete this one, the problem will disappear. Does anyone have an idea why it happens? How can

[2018-04-03 09:31] PeterHdd commented on #1226
Please check the answer here:

https://stackoverflow.com/a/47364813/7015400

[2018-04-03 10:36] cemkoeylue opened #1237 "KickoffActivity not found"
Welcome to FirebaseUI and thanks for submitting an issue!

### Step 3: Describe the problem:
I am facing error when compiling my app in the emulator. I am using FireBase and trying to create a chatapp for android, tutorial from this site: https://code.tutsplus.com/tutorials/how-to-create-an-android-chat-app-using-firebase--cms-27397

Unfortunately, I get the error message

When I go to logs, it sa

[2018-04-03 15:05] samtstern commented on #1237
@cemkoeylue can you show your `AndroidManifest.xml`?

[2018-04-03 15:06] samtstern commented on #1226
Ah I see from @PeterHdd 's answer that this is probably some confusion when upgrading to version `3.0`.  Please see the guide:
https://github.com/firebase/FirebaseUI-Android/blob/master/docs/upgrade-to-3.0.md

[2018-04-03 15:06] #1226 closed

[2018-04-03 16:45] PeterHdd commented on #1237
Also asked today on Stack OverFlow:
https://stackoverflow.com/q/49626299/7015400

[2018-04-03 16:48] j2emanue commented on #123
Hi Alex @SUPERCILEX , can you help. i have a question on how i can delete the anonymous account after logging in with a real google account for example.  The situation is user was logged in anonymously and then logged in WITH AN EXISTING ACCOUNT. the accounts cannot be linked since its an existing account. so merging must be done manually. and given your example on the mergeService i dont see how

[2018-04-03 18:40] koolkvd commented on #1227
Android studio version 3.0.1 stable channel
Added a proguard rule : -dontwarn com.firebase.ui.auth.provider.**
does nothing and still causes this issue

Can someone tell me what to do? I am not even using retrofit2 or twitter apis anywhere

Error:Note: there were 11 duplicate class definitions.
      (http://proguard.sourceforge.net/manual/troubleshooting.html#duplicateclass)
Warning: com.firebase

[2018-04-03 18:44] samtstern commented on #1227
@koolkvd see above
`-dontwarn com.firebase.ui.auth.data.remote.**`

[2018-04-03 18:50] koolkvd commented on #1227
yea trying it now and seems like it's working. Why is this happening, i want to understand... I mean did i do something wrong?

[2018-04-03 21:49] xuaninbox opened #1239 "3.3.0 NullPointerException"
* Android device: Samsung
  * Android OS version: 8.0
  * Google Play Services version: 12.0.1
  * Firebase/Play Services SDK version: 12.0.1
  * FirebaseUI version: 3.3.0

#### Steps to reproduce:

reported by Crashlytics on 11 devices

#### Observed Results:

  crash with NullPointerException

#### Expected Results:

  not crash

#### Relevant Code:

[code]

[2018-04-03 22:30] GuanacoDevs commented on #123
What I'm doing at the moment to sort this out is to use firebase functions to delete the anonymous user, and copy/delete(Anonymous) its current data in case of a new sign in or just delete the anonymous user data in case of concurrent signin.
I have a property "anonymous_user_uid" in my user data which triggers a function, after the "Write" function has finished it deletes the "anonymous_user_uid"

[2018-04-03 22:57] SUPERCILEX commented on #123
Thanks for sharing, that's a cool idea! Not something we can do in the library, but good to know as individual developers.

[2018-04-03 23:11] xuaninbox commented on #1239
Sry I wasn’t able to find the logs form Firebase analytics, I do have the fabric log of the crash, is that ok?

[2018-04-04 01:43] xuaninbox commented on #1239
[code]

I'll enable SmartLock again and see if we have the same issue

[2018-04-04 02:03] FrancoSabadini commented on #1137
Hi @samtstern, any idea of when the current refactor you described in your comment above will be available?

[2018-04-04 06:00] Karthi-R commented on #1104
@samtstern Is this issue fixed in Google Play services 12.0.1 ?

[2018-04-04 06:27] j2emanue commented on #123
@GuanacoDevs  can you show code how you are deleting an account based on anonymous_user_uid only ?

[2018-04-04 10:43] Queskr opened #1241 "Does Firebase Auth uses Facebook Graph API?"
I've got a notice by Facebook to upgrade our API due to the use of an old Graph API version (v2.5).

[2018-04-04 14:54] samtstern commented on #1241
We use `com.facebook.android:facebook-login:4.31.0` so I don't believe we should have any issues, but I will look into it.

[2018-04-04 14:56] samtstern commented on #1241
Ok as far as I can tell, we are good to go.

You should try using the [API Upgrade Tool](https://developers.facebook.com/tools/api_versioning) on your app.  If you don't see any Graph API <= 2.5 calls then you won't have any problems.

[2018-04-04 14:56] #1241 closed

[2018-04-04 15:52] huberrom commented on #1209
Got the same problem

[2018-04-04 16:31] j2emanue commented on #1209
im on the latest android and google play services now.  tried it again and same issue.  its kind of important issue as when we know its a new user account we'd like to show a screen such as select your country or select your preference for the application before proceeding. @huberrom have you thought of any temporary solution

[2018-04-04 16:42] samtstern commented on #1209
I just tried this with the demo app in this repository and I cannot reproduce.  I signed in with an existing email user and got:

[code]

[2018-04-04 16:54] j2emanue commented on #1209
samtstern, do it this way instead.  create a new account and **immediately** sign out and log in again with the same account. on api 26 emulator is what i was using with google play services 12.0.1 but even previous version it occurs.

[2018-04-04 17:00] j2emanue commented on #1241
if a facebook user has an non-email account, (for example uses phone number as user name instead of email ) will firebaseUI-ath ask the user to provide a email address or is that an implementation detail for the developer ?

[2018-04-04 17:03] samtstern commented on #1209
@j2emanue thanks!  That reproduced it for me:

[code]

This is almost definitely a bug in the Firebase Auth SDK, I will file it with them.  Could you see if calling `reload()` helps you?:
https://firebase.google.com/docs/reference/android/com/google/firebase/auth/FirebaseUser.html#reload()

[2018-04-04 18:56] samtstern commented on #1209
@j2emanue ok I just talked to the team and they said:

The real source of true here is the `isNewUser()` method on the `AdditionalUserInfo` returned in the `AuthResult`, but off the top of my head I don't think we provide any way for you to get to that from FirebaseUI.

[2018-04-04 20:28] samtstern commented on #1104
This will be fixed in the next version of the Firebase SDk, which should be out in ~weeks.  Thanks for your patience!

[2018-04-04 20:30] samtstern commented on #1183
@pavel-zolotov thanks for the input!  Sounds like that library is the issue?  And it's compiled from a module (`compile project(path: ':chipslibrary')`) which means it's going to be tricky to root out the issue.

[2018-04-04 20:30] samtstern commented on #1183
@genericjohndoe do you get this issue if you remove that library?

[2018-04-04 20:50] GuanacoDevs commented on #123
@j2emanue Hey man, I meant Google Cloud Functions, not within your App, using GCF you can delete any user even if is not signed In. [Delete User](https://firebase.google.com/docs/auth/admin/manage-users#delete_a_user).
Now what I do with those functions is to set different triggers, that will execute them in case:
New User Signs In or Returning User already has data.
My app always signs them Anony

[2018-04-04 20:58] samtstern commented on #1241
You can see here where we do the profile request:
https://github.com/firebase/FirebaseUI-Android/blob/6a86d992b8a4596924038d5724e05162d9cdefd6/auth/src/main/java/com/firebase/ui/auth/data/remote/FacebookSignInHandler.java#L138

We don't prompt the user if they don't have an email, that's something currently left to the developer.  If you could try using FirebaseUI with a non-email account and give

[2018-04-04 21:01] samtstern commented on #1209
Going to close this and file a new feature request to expose that information,

[2018-04-04 21:01] #1209 closed

[2018-04-04 21:02] samtstern opened #1242 "Expose isNewUser information in IDPResponse"
See:
https://github.com/firebase/FirebaseUI-Android/issues/1209#issuecomment-378708048

Currently we tell developers to rely on the created / signed in timestamps when checking to see if a `FirebaseUser` is new or not.  However these timestamps have some limitations that make them occasionally unreliable.

If we could expose this information in the response we provide at the end of the AuthUI flow

[2018-04-04 21:16] samtstern commented on #1239
Just doing some investigating, the `buildCredential` method is being called from two places:

  * `HelperActivityBase#startSaveCredentials`
    * Used in `FragmentBase`, `WelcomeBackPasswordPrompt`, `AuthMethodPickerActivity`, and `SingleSignInActivity`
  * `SmartLockHandler#saveCredentials`
    * Interestingly this method seems only to be used in tests?

If I had to guess (and I do) I'm gonna loo

[2018-04-04 21:30] SUPERCILEX commented on #123
@GuanacoDevs Silent sign-in is ready on my side, just waiting on @samtstern's approval. 🙃

[2018-04-04 21:33] samtstern commented on #1239
Ok so here's what happens.  In `SocialProviderResponseHandler` we have this block:

[code]

In `AuthMethodPickerActivity` that causes this to happen:

[code]

The call to `mHandler.getCurrentUser()` comes from `AuthViewModelBase`:

[code]

So I guess that maybe `getCurrentUser()` is not guaranteed to be set inside of the `Task` callback and we instead need to use the `FirebaseUser` from the `AuthR

[2018-04-04 21:49] SUPERCILEX commented on #1239
@samtstern Yeah, that was my thought too but it's not coming from there. I really should have shared my thoughts earlier, but here's what I understand so far:
1. This result is _NOT_ coming from an IDP because it's launched after an Activity callback instead of including the `OperatableViewModel` in the stack trace.
1. That implies the result is coming from either the email or phone activity.
1. _

[2018-04-04 22:13] xuaninbox commented on #1239
@SUPERCILEX @samtstern Thanks guys I believe i know whats going on

[code]
We have some code that will check if email is verified after login success, if not we'll send the verification email and logout the user. I think AuthStateListener may sometimes happen before the startSaveCredentials thus causing the null pointer.

any suggestions in how to handle this use case without running into this iss

[2018-04-04 22:16] samtstern commented on #1239
@xuaninbox in general you don't want to have active auth state listeners while you're in the FirebaseUI flow because we're doing all kinds of auth actions behind the scenes.  Would it work if you unregistered the listener before starting FirebaseUI and then registered it again when FirebaseUI comes back?

[2018-04-04 22:16] SUPERCILEX commented on #1239
@xuaninbox Well lol, yeah, that'll do it. You'll have to move that to `onActivityResult` since FUI expects to have full control of sign-in/out for the duration of the flow. @samtstern Do you think we should change our assumptions? This seems like a really extreme edge case to me...

[2018-04-04 22:38] xuaninbox commented on #1239
Thanks guys! I'll move the sign out to onActivityResult, maybe adding a note here may help someone in the future~ https://github.com/firebase/FirebaseUI-Android/blame/master/auth/README.md#L366

[2018-04-04 23:03] genericjohndoe commented on #1183
@samtstern I ended up removing the firebase UI library. i set up my own login/sign in UI. things seem to work fine now

[2018-04-04 23:18] #1239 closed

[2018-04-04 23:33] samtstern opened #1245 "Move TOS/PP to Auth Method Picker screen, provide guidance for single-provider flow"
This is an extension of #492 based on some internal discussion about the best way to handle this.

Currently we show the TOS/PP in two places:

  * Email sign up screen
  * SMS code prompt screen

Some problems:

  * Before getting to the email sign up screen, you have already entered some personal information (in the check email screen)
  * Sometimes the SMS code prompt screen is skipped when aut

[2018-04-04 23:34] samtstern commented on #1245
Here are some examples of how other auth UI frameworks do this.

**Okta**
![image](https://user-images.githubusercontent.com/8466666/38340012-02c89dd6-3826-11e8-9eed-48dcf7293b64.png)

**Auth0**
![image](https://user-images.githubusercontent.com/8466666/38340024-14c0bdf2-3826-11e8-8eb2-cdc4d3e0a20c.png)

Personally I think the Auth0 approach is pretty good.

[2018-04-04 23:35] samtstern commented on #492
See #1245 for what we're gonna do here.

[2018-04-04 23:50] samtstern commented on #1183
@genericjohndoe well that's one way to solve it :cry: but I wish you didn't have to!  We'll keep trying to fix it, good luck with your app!

[2018-04-05 01:46] j2emanue commented on #1209
@samtstern it happens in other scenarios. i had an account that has existed for a few days and when i log in it says its a new account. i then go on firebase console and check the creation time and its from a few days ago.  so its happening in other scenarios.  @SUPERCILEX  is there anyway you can put something in the intent when onActivityResult is called so that we can know if its a new user, as

[2018-04-05 05:09] TedHopp opened #1246 "FirestoreRecyclerAdapter does not call notifyDatasetChanged() when startListening() is called"
### Step 1: Are you in the right place?

Yes. This is an issue with `FirestoreRecyclerAdapter` in this repository.

### Step 2: Describe your environment

  * Android device: all
  * Android OS version: all
  * Google Play Services version: all
  * Firebase/Play Services SDK version: 12.0.1
  * FirebaseUI version: 3.3.0

### Step 3: Describe the problem:

When `stopListening()` is called for a `Fi

[2018-04-05 14:42] TedHopp commented on #1246
According to the docs, granular notify calls should also be accompanied by a call to the dataset observer's `onChanged()` method. That doesn't seem to happen.

Perhaps I've misdiagnosed the problem, but there's definitely a problem. Here's the code for `FirestoreRecyclerAdapter#getItemCount()`:

    `return mSnapshots.isListening(this) ? mSnapshots.size() : 0;`

Thus, the number of items can immed

[2018-04-05 14:49] SUPERCILEX commented on #1246
Oh, I see where you're confused. No, it can't change immediately when you add a listener since that's asynchronous. It'll happen on a post to the main thread after some executor finishes the network call.

[2018-04-05 15:02] TedHopp commented on #1246
Then why does `AttractionRecyclerView` (or any other logic that depends on the call-back) always display the empty view, even when the adapter's query returns a non-empty result set? It seems like something about the call-back circuitry is broken.

[2018-04-05 15:18] SUPERCILEX commented on #1246
Yeah, that shouldn't have anything to do with the recycler view. Your query is most likely wrong, but that's a better question for stack overflow.

[2018-04-05 15:25] TedHopp commented on #1246
The query is fine. If I use `AttractionRecyclerView` and simply omit the call to `setEmptyView()` in the fragment's `onCreateView()` method, the recycler view displays everything correctly. If I call `setEmptyView()` (and make no other changes to my code), it displays the empty view even though data is coming back from Firestore. If I then remove the call to `setEmptyView()`, the data is once agai

[2018-04-05 15:47] SUPERCILEX commented on #1246
Hmmm, ok. It's definitely not what you're saying though because as you've seen, the data shows up just fine. So there's a bug with how the recycler view is listening for adapter changes—the empty view _should_ be visible after start listening because the data hasn't loaded yet. Dunno how to help with that though aside from telling you to try listening for different adapter change callbacks.

[2018-04-05 16:19] TedHopp commented on #1246
Okay. It seems that does the trick. Thanks.

[2018-04-05 16:19] #1246 closed

[2018-04-06 03:39] KyleMari commented on #409
I can manage to show getDisplayName() from currentUser who's signed in to Google and Facebook providers directly. However, the getDisplayName() is null when I link an anonymous user to Google and Facebook.

Is there any workaround for this, in the case of linking an anonymous user to the providers stated?

[2018-04-06 06:51] HassanZaib opened #1247 "version conflict"
Error:FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':auth:processDebugGoogleServices'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at https://help.gradle.org
BUILD FAILED in 1s

[2018-04-06 07:26] Gaetano-Dati commented on #409
I have this issue as well while linking from anonymous to real provider like Facebook or Google.

[2018-04-06 07:26] Gaetano-Dati commented on #409
I have this issue as well while linking from anonymous to real provider like Facebook or Google.

[2018-04-06 08:25] veerendra2k1 commented on #1247
I am getting while compiling...

Please fix the version conflict either by updating the version of the google-services plugin (information about the latest version is available at https://bintray.com/android/android-tools/com.google.gms.google-services/) or updating the version of com.google.android.gms to 12.0.1.

[2018-04-06 15:38] androidvk commented on #204
@patrickmunye do something like this
 FirebaseRecyclerOptions<BlockListAttributes> options =
                new FirebaseRecyclerOptions.Builder<BlockListAttributes>()
                        .setQuery(query, BlockListAttributes.class)
                        .build();

         adapter= new FirebaseRecyclerAdapter<BlockListAttributes, BlockListAdapter>(options) {
            @Override

[2018-04-07 01:46] CraftedPvP commented on #1230
@samtstern This doesn't solve it. My problem is exactly similar to his but my classpath is already

[code]

[2018-04-07 07:32] hiddeneyes02 commented on #1230
It does do it for me neither, same error is appearing.

[2018-04-07 16:45] JitenderSha opened #1248 "Kotlin App Build Issue"
I am developing the app using Kotlin and found error while using the com.firebaseui:firebase-ui-auth:3.3.0

### Describe your environment
  * Android device: _____
  * Android OS version: _____
  * Google Play Services version: 11.8.0
  * Firebase/Play Services SDK version: 11.8.0
  * FirebaseUI version: 3.3.0

### Step 3: Describe the problem:
* Not able to use the FirebaseUI with Kotlin

#### St

[2018-04-07 21:33] pavel-zolotov commented on #1183
I have spent a ton of hours until I came up with a solution. The problem was caused by a conflict of dependencies, that use both of `chipslibrary ` and `firebase-ui-auth`. Most probably there are different versions of one of the support libs. So I solved the problem by using `implementation project(':chipslibrary')` with `implementation 'com.android.support:appcompat-v7:27.1.0'` in my `build.gradl

[2018-04-08 13:59] Suhailakl commented on #310
@Shajeel-Afzal it's true.it's not work when new data updated to the database.
But,Great work dude...

[2018-04-08 14:47] Suhailakl commented on #310
I Found a solution to solve the issue on firebase recycler view as reported by @Shajeel-Afzal
after doing the solution of @anrodon just override another firebase recycler method onDataChande as
below,
    @Override
            public void onDataChanged() {
                recycle.removeAllViews();
                super.onDataChanged();
            }
now you will get real time updation of items in

[2018-04-08 23:07] mars885 commented on #1230
Hello everyone! I have the same problem as @hiddeneyes02 has described. Did you find a solution?

[2018-04-09 10:51] hiddeneyes02 commented on #1230
@mars885 No unfortunately... I didn't use this library because I needed to finish my project. I used Facebook and Google Signin separately.

[2018-04-09 10:58] pandalion98 commented on #1029
Just a small update:
To fix the issue, include `firebase-ui-storage` in your Gradle [dependencies](https://github.com/firebase/FirebaseUI-Android#installation).

    implementation 'com.firebaseui:firebase-ui-storage:3.3.0'

The import responsible for `FirebaseImageLoader` is

    import com.firebase.ui.storage.images.FirebaseImageLoader;

[2018-04-09 11:42] mobiRic commented on #538
+1 for AboutLibraries config file to be included in this project.

@samtstern Thanks again for the string resources. However I think it is important to note that many people disregard the OSS licence requirements, and the easier each project makes it to include valid licencing, the better.

The nice thing in AboutLibraries is that by including that xml file in your repo, Mike Penz's project will a

[2018-04-09 12:11] sunilson commented on #1230
I don't know if it was the same error but my problem was that I added Firebase UI Auth and Firebase Auth in Gradle, but Firebase Auth already comes with Firebase UI Auth. So after I removed the Firebase Auth SDK it worked again

[2018-04-09 16:59] alexroode commented on #1247
I ran into the same issue, even when only adding  `com.google.firebase:firebase-core:12.0.1` as a dependency, so I don't believe this is related to FirebaseUI.

I was able to resolve this issue in my project by moving `apply plugin: 'com.google.gms.google-services'`
in my app-level `build.gradle` **after** my `dependencies` section, instead before it.

This matches the order shown in the Firebase

[2018-04-10 02:03] marvin68 commented on #1230
Tried creating a fresh project and only importing google services + Firebase UI auth and the same error happens.

[2018-04-10 02:33] thippesha commented on #1036
I have updated dependency to
// FirebaseUI for Cloud Firestore
implementation 'com.firebaseui:firebase-ui-firestore:3.3.0'

// FirebaseUI for Firebase Auth
implementation 'com.firebaseui:firebase-ui-auth:3.3.0'

But still, I am getting same issues on

Devices
samsung50%
HTC25%
Micromax25%
Operating Systems
4.4.2  / 4.4.4

Fatal Exception: java.lang.IllegalArgumentExceptionUnique transitionNames ar

[2018-04-10 06:38] Diae-dm1303866 commented on #1230
Same error is happening to me as well! :(
I have tried every single thing, but noting seems to work! :(

[2018-04-10 10:37] Diae-dm1303866 commented on #1230
UPDATE:
I updated my firebase dependency from 3.2.0 to 3.3.0 and it started working!
Try it and see if that will work for you!

This is my gradle.module:

apply plugin: 'com.android.application'

android {
    compileSdkVersion 26
    defaultConfig {
        applicationId "iotapp.senior.seniorappdesign"
        minSdkVersion 21
        targetSdkVersion 26
        versionCode 1
        versionName

[2018-04-10 13:01] hiddeneyes02 commented on #1230
I used @Diae-dm1303866  configuration, and it worked. Then I started tracking the source of problem, and I found that this lines solved it:

[code]

Thank you :)

[2018-04-10 16:03] salmank888 commented on #48
Answer : simply do following query :
databaseReference.orderByChild('_searchLastName')
                 .startAt(queryText)
                 .endAt(queryText+"\uf8ff")
                 .once("value")
http://stackoverflow.com/a/40633692/4409113

Shajee-Afzal, ap edhr bhi solution rakh daity,  3 hours mn solution mil gaya wrna.. LOL.
Shahid.

[2018-04-11 01:03] marvin68 commented on #1230
Seems to work after adding this line to app gradle
    implementation 'com.google.firebase:firebase-core:12.0.1'

[2018-04-11 06:50] Kampeone commented on #994
how did you fixed this?

[2018-04-11 11:20] cpravin8592 opened #1249 "Setting Background to one item affecting other items too..."
Whenever I tried to set background color to selected item on click it changes the background color of other items too, Why..?

Only Selected item should change its background color...

[2018-04-11 12:32] btrautmann commented on #1248
Have you checked to ensure you've not hit dex limit?

[2018-04-11 12:59] btrautmann opened #1250 "App crash when calling signOut() if Facebook and Twitter SDK are not imported"
Welcome to FirebaseUI and thanks for submitting an issue!

Please take a look at [open issues](https://github.com/firebase/FirebaseUI-Android/issues?q=is%3Aopen+is%3Aissue), as well as [resolved issues](https://github.com/firebase/FirebaseUI-Android/issues?q=is%3Aissue+is%3Aclosed), to see if your issue is either already being addressed, or has been solved by someone else.

If not, please feel fre

[2018-04-11 14:59] SUPERCILEX commented on #1250
Could you run `./gradlew app:dependencies`?

[2018-04-11 15:01] SUPERCILEX commented on #1249
Can you post some code?

PS: this question is probably better suited for stack overflow.

[2018-04-11 16:08] samtstern commented on #1248
Yes I believe @btrautmann is right.  @JitenderSha please see: https://developer.android.com/studio/build/multidex.html

[2018-04-11 16:08] #1248 closed

[2018-04-11 16:28] samtstern commented on #1249
@cpravin8592 this sounds like you're having a problem using `RecyclerView` in general.  Remember that a RecyclerView does exactly what it says: it **recycles** the views and repopulates them with new data.  So when you're binding your data in the `ViewHolder` you need to remember to first reset the `View` to a reasonable starting state.

Closing as I am almost positive this does not relate to Fire

[2018-04-11 16:28] #1249 closed

[2018-04-11 17:43] samtstern commented on #1247
@alexroode this makes a difference because if it's at the top of the file it will not have access to your "resolved" dependencies.  Gradle / groovy are sort of strange that way.

@HassanZaib there's not enough information here to help you out, so I will assume that @alexroode has provided the correct solution.  To recap:

  * Make sure you use version `3.2.1` of `google-services`
  * Use version `

[2018-04-11 17:43] #1247 closed

[2018-04-11 20:31] samtstern commented on #1245
Update:
In the case of the email/phone flows we will continue to show TOS/PP with the following changes:

  * Move it to the first screen in each flow
  * Only show it in the single-provider case, which means the user will not have seen TOS/PP links in the Auth Method Picker screen

We will still need to provide guidance to developers using email flow because SmartLock could cause the UI to be com

[2018-04-11 23:00] btrautmann commented on #1250
[code]
@SUPERCILEX

[2018-04-11 23:01] btrautmann commented on #1250
@SUPERCILEX After the fix (with FB and Twitter Core)
[code]

[2018-04-11 23:29] btrautmann commented on #1250
So I actually tried to do the same (though with `compileOnly` instead of `provided`) earlier this morning and got the following error (which I'm getting when I try what you've asked me to do):

[code]

[2018-04-11 23:54] SUPERCILEX commented on #1250
Haha, I like how we're on the same page! 😁

Well darn, that's unpleasant. So a few more thoughts:
- Are your debug dependencies different than your release ones? (You shared release ones)
- What's the value of `FacebookSignInHandler.IS_AVAILABLE`?
- Do you include any jars in your app?

[2018-04-12 00:54] btrautmann commented on #1250
- Debug and release dependencies are the same
- ```Timber.d(FacebookSignInHandler.IS_AVAILABLE.toString())``` prints ```true```
- I don't include any jars, but one aar that's dropped in from a [mini-lib](https://github.com/btrautmann/RxFirestore) (with limited functionality) I wrote to wrap Firestore with RxJava

[2018-04-12 01:01] SUPERCILEX commented on #1250
This is just so weird, `IS_AVAILABLE` should not be true... so what does `Class.forName("com.facebook.FacebookSdk")` do?

[2018-04-12 01:16] btrautmann commented on #1250
```Timber.d(Class.forName("com.facebook.FacebookSdk").toString())```  throws a `ClassNotFoundException```

[code]

[2018-04-12 01:27] SUPERCILEX commented on #1250
Grrr, see what I'm talking about!? This makes no sense! Sigh. 😔 Anyway, you've been super helpful. 😊👍 @samtstern I haven't been able to repro in my app (as usual) so I think the path forward here is to give up on the linkage error since the Dalvik VM must be somehow optimizing our call away. Instead, we should just do a `forName` call and check for the not found exception. Do you agree?

[2018-04-12 01:35] btrautmann commented on #1227
@samtstern More for my curiosity than anything, but I've had this issue in my own app (where I move classes but forget to update proguard rules)... Are `@Keep` annotations not a way to solve this (i.e. keep the -keep statements out of rules and use annotations only)? Would this work in a library fashion as well, or no?

[2018-04-12 03:13] SUPERCILEX commented on #1227
@btrautmann I guess we could write a custom annotation and add a proguard rule for it, but we aren't planning on touching those classes for months... Great idea to keep in mind if we mess up again! 😊 (Or if you want to make a PR, I don't think anyone would object. 😉)

PS: what we're doing is different than the keep rule, we're just trying to tell proguard that it should ignore class not found warn

[2018-04-12 09:42] squm opened #1251 "Twitter Provider"
### Step 2: Describe your environment

  * Android OS version: 27
  * Firebase/Play Services SDK version: 12.0.1
  * FirebaseUI version: 3.2.2

### Step 3: Describe the problem:

Warning: com.firebase.ui.auth.provider.TwitterProvider: can't find referenced class retrofit2.Call
Warning: com.firebase.ui.auth.provider.TwitterProvider: can't find referenced class retrofit2.Call

#### Relevant Code:
[c

[2018-04-12 11:25] cpravin8592 commented on #1249
Ok, Thanks Friends....

[2018-04-12 15:05] SUPERCILEX commented on #1251
Yup, this was fixed in 3.3. 👍

[2018-04-12 15:10] #1251 closed

[2018-04-12 15:52] jordond commented on #17
@samtstern I am building chat functionality into my app, and am interested in using the paging adapter your working on.  Would it suit my needs?  I have a RecyclerView with `setReverseLayout` enabled.  I need to load the initial batch of messages (say 50).  Then when new messages come in, they need to be added to the bottom of the view (beginning of list).  Then when the user scrolls it needs to l

[2018-04-13 19:29] samtstern commented on #17
@jordond at least for now, the paging adapter I am working on in #1178 will **not** work for your use case because it does not automatically detect new item additions (unless they happen to be picked up in a next page load)

[2018-04-13 21:51] bilal-kathia opened #1255 "Execution failed for task ':app:processDebugManifest'. > Manifest merger failed"
**Error:**
	Attribute meta-data#com.facebook.sdk.ApplicationId@value value=(@string/FACEBOOK_APP_ID) from AndroidManifest.xml:39:13-52
	is also present at [com.firebaseui:firebase-ui-auth:3.3.0] AndroidManifest.xml:21:13-60 value=(@string/facebook_application_id).
	Suggestion: add 'tools:replace="android:value"' to <meta-data> element at AndroidManifest.xml:37:9-39:54 to override.
FAILURE: Build f

[2018-04-13 21:53] SUPERCILEX commented on #1255
Simply remove the `ApplicationId` meta data.

[2018-04-13 22:05] samtstern commented on #1255
@SUPERCILEX is right.  Also questions like this are normally better suited for StackOverflow as it's just a config error (with a solution in the error message).

[2018-04-13 22:05] #1255 closed

[2018-04-14 16:05] bilal-kathia commented on #1255
@SUPERCILEX
That is attached to account kit SDK. I can't remove that meta data tag :(

[2018-04-14 16:05] bilal-kathia commented on #1255
@samtstern Yeah you're right but i couldn't get any help from there!

[2018-04-14 16:51] SUPERCILEX commented on #1255
You can remove it because FUI handles it for you.

[2018-04-16 03:00] jeffy2007 opened #1256 "Unable to install locally"
### Step 1: Are you in the right place?
Yes

### Step 2: Describe your environment

  * Android device: NA
  * Android OS version: NA
  * Google Play Services version: 48
  * Firebase/Play Services SDK version: 12.0.1
  * FirebaseUI version: 3.3.0

### Step 3: Describe the problem:

Unable to install locally by using **gradlew :library:prepareArtifacts :library:publishAllToMavenLocal**

#### Steps

[2018-04-16 05:09] jeffy2007 commented on #1235
I am facing this problem too.

The scenario i am using now is:
-Login with social account e.g. Google or Facebook login
-After social login successfully, prompt user with Phone Authentication
-If Phone Authentication success, link the social account with phone account

I find out that we could implement a method under PhoneActivity to return a phoneAuthCredential before the sign in method. But cur

[2018-04-16 15:41] samtstern commented on #1235
@jeffy2007 can you explain your use case a little more?  Do you want your users to use a social login but then add a phone number to their account?

The issue with the `PhoneAuthCredential` is that it is not re-usable.  So once FirebaseUI has used it, it wouldn't do you any good.

[2018-04-16 15:52] samtstern commented on #1256
@jeffy2007 thanks for filing this issue, and cool that you're trying local development!

Could you show the contents of this file?
` '/Users/jeffy/Desktop/Git/FirebaseUI-Android/firestore/build/tmp/javadoc/javadoc.options'`

[2018-04-16 16:17] samtstern commented on #1225
Fixed in #1257

[2018-04-16 16:17] #1225 closed

[2018-04-16 16:56] samtstern commented on #1227
This has been fixed and released in `3.3.1`

[2018-04-16 16:56] #1227 closed

[2018-04-16 19:25] samtstern commented on #17
#1178 has been merged.  This means the feature will launch in version `3.4.0`.

If anyone wants to try it now and give early feedback follow these instructions for using `SNAPSHOT` builds and try the `3.4.0-SNAPSHOT` version:
https://github.com/firebase/FirebaseUI-Android#snapshot-builds

Docs here:
https://github.com/firebase/FirebaseUI-Android/blob/version-3.4.0-dev/firestore/README.md

[2018-04-17 00:26] jeffy2007 commented on #1235
@samtstern Yes, after the social login i want to let my user to do a phone authentication and add their phone number to their account.

For the PhoneAuthCredential, i would like to return it immediately in PhoneActivity instead of signIn, since for my project I don't really a phone account.

[2018-04-17 00:27] samtstern commented on #1235
@jeffy2007 understood, that's an interesting use case that we had not thought of.  It's possible but won't be simple to implement so we'll have to consider the implications!

[2018-04-17 00:28] jeffy2007 commented on #1256
@samtstern Thanks for the reply.

Herein the content:
-Xdoclint:none '-quiet'
-classpath '/Users/jeffy/Library/Android/sdk/platforms/android-27/android.jar'
-d '/Users/jeffy/Desktop/Git/FirebaseUI-Android/firestore/build/docs/javadoc'
-doctitle 'firestore API'
-quiet
-windowtitle 'firestore API'
'/Users/jeffy/Desktop/Git/FirebaseUI-Android/firestore/src/main/java/com/firebase/ui/firestore/ClassSna

[2018-04-17 01:08] SUPERCILEX commented on #1235
@samtstern I'm not sure that makes sense for us to do since FUI is supposed to handle all of that internally. The account linking fork can already do this by using `linkWithCredential` with an integrated flow and all that.

PS: @jeffy2007 have a look at #123 and the [instructions](https://github.com/SUPERCILEX/FirebaseUI-Android/tree/master/auth#account-linking). Also, the latest commit is `3eb4c1

[2018-04-17 01:11] samtstern commented on #1235
@SUPERCILEX I agree, this is not likely.  I would much rather land generalized account linking.

[2018-04-17 13:33] jeffy2007 commented on #1235
@SUPERCILEX Hi, Thanks for your reply.
I went through your repo, here is my assumption for my case.
1. User login with Google/Facebook successfully.
2. After step 1, user was prompted with Phone Authentication with setIsAccountLinkingEnabled(true, Class)
3. The social account logged in step 1 will link with the phone account in step 2 automatically

Please correct me if any mistake.

[2018-04-17 15:02] SUPERCILEX commented on #1235
@jeffy2007 bingo! It's that simple 😁

[2018-04-18 15:41] samtstern commented on #993
@swftvsn no sorry we've been pretty consumed with the `auth` module and adding paging support to the `firestore` module these days ...

[2018-04-19 04:25] swftvsn commented on #993
Thanks for the info and awesome lib! Can't wait to get the official paging support too :)

[2018-04-19 09:22] RAHUL-SADHU opened #1261 "Fatal Exception: java.lang.NullPointerException Attempt to invoke virtual method 'android.support.v4.app.FragmentTransaction android.support.v4.app.FragmentManager.beginTransaction()' on a null object reference"
android.support.v4.app.DialogFragment.dismissInternal (DialogFragment.java:218)
--
 android.support.v4.app.DialogFragment.dismissAllowingStateLoss (DialogFragment.java:200)
com.firebase.ui.auth.ui.phone.PhoneActivity.dismissLoadingDialog (PhoneActivity.java:400)
com.firebase.ui.auth.ui.phone.PhoneActivity.showLoadingDialog (PhoneActivity.java:389)
com.firebase.ui.auth.ui.phone.PhoneActivity.submit

[2018-04-19 09:39] #1261 closed

[2018-04-19 15:14] samtstern commented on #1036
@thippesha are you 100% sure that the devices crashing are running Firebase UI `3.3.0` ?

[2018-04-20 03:13] wirmanto commented on #1230
i have my solution by change this:
implementation 'com.android.support:appcompat-v7:27.0.0'
to
implementation 'com.android.support:appcompat-v7:26.0.0'

[2018-04-20 09:13] JayRichrd commented on #1230
@samtstern because I am compling a sdk for customer with support-v4， and the customer only accept to use my sdk via jar rather aar.

[2018-04-20 13:33] thippesha commented on #1036
@samtstern
Oh sorry, Today only reverified, after your reply, I was not updated both def to 3.3.
// FirebaseUI for Cloud Firestore
implementation 'com.firebaseui:firebase-ui-firestore:3.3.0'

// FirebaseUI for Firebase Auth
implementation 'com.firebaseui:firebase-ui-auth:3.3.0'

Sorry it's my mistake
Thank you

[2018-04-20 22:14] #1036 closed

[2018-04-22 07:28] curiousily commented on #1242
Is there any **reliable way** to workaround this using the current version of the library?

[2018-04-23 10:55] j2emanue opened #1265 "welcome back enter password screen - EditText curser does not move"

[2018-04-23 11:27] j2emanue commented on #1265
this is not an issue, please close.

[2018-04-23 11:27] #1265 closed

[2018-04-23 12:49] ShaMan123 commented on #993
+1

[2018-04-23 15:14] samtstern commented on #1127
@baole thanks for adding your details!  I believe that #1253 will address this indirectly by removing most of the state-based errors from the flow.  We had similar problems with dialog dismissals in the other parts of FirebaseUI and our refactoring has removed them.

[2018-04-23 21:15] samtstern commented on #1235
Going to close this bug for now and try to address any use case here through future account linking support.

[2018-04-23 21:15] #1235 closed

[2018-04-23 21:16] samtstern commented on #1242
@curiousily the timestamps are reliable with the edge case issue that if a new user signs up, signs out, and signs in within two minutes they will still look "new" because the timestamps wont change.

[2018-04-24 09:16] j2emanue commented on #1242
you guys can also send a flag in onActivityResult intent. like a boolean to represent if its new or existing.

[2018-04-25 17:13] curiousily commented on #123
Hey @SUPERCILEX,

What (stable?) commit hash from your branch would you recommend that targets Play Services 15?

Thanks for your response. Our team already implemented your suggestions!

Cheers!

[2018-04-25 20:37] huse commented on #1230
I have similar problem cause by updating android studio. None of these solutions worked for me.

[2018-04-25 20:51] SUPERCILEX commented on #123
@curiousily Sweet! I'd go with `38e2ece9bb`—it includes 3.4-dev, but that's only db and opt-in auth features (e.g. #1212) + bug fixes so nothing to worry about.

[2018-04-26 00:34] lionello commented on #1230
I'm running into this since upgrading `com.android.tools.build:gradle` to 3.1.0. I've managed to fix the issue by downgrading to 3.0.1 in my project's `build.gradle`:

[code]
@huse Try.

[2018-04-26 09:32] b-fg opened #1267 "Query order and limit in the Firestore FirebaseUI chat app"
I am trying to implement a chat app using the FirebaseUI for Firestore in an Android device. Specifically, I am looking at [these classes](https://github.com/firebase/FirebaseUI-Android/tree/master/app/src/main/java/com/firebase/uidemo/database/firestore).

The issue arises with the default query to get the last 50 messages ordered by their timestamp:
`Query sChatQuery = sChatCollection.orderBy("t

[2018-04-26 15:04] samtstern commented on #1267
@b-fg that's a good point!  I am fixing this in the demo app in #1268.  Check out the code there for the solution you want.

[2018-04-26 15:10] huse commented on #1230
@lionello
Thank you very much, the "adding android.enableD8=false to gradle.properties" solved the problem.
Android returned:
WARNING: The option 'android.enableD8' is deprecated and should not be used anymore.
but I can move forward. :smiley:

[2018-04-26 15:14] samtstern commented on #1230
Thanks @lionello and @huse for those pointers!

[2018-04-26 16:32] #1267 closed

[2018-04-26 16:36] VladPylyp opened #1269 "LogOut causes java.lang.NoClassDefFoundError: Failed resolution of: Lcom/facebook/FacebookCallback;"
Welcome to FirebaseUI and thanks for submitting an issue!

Please take a look at [open issues](https://github.com/firebase/FirebaseUI-Android/issues?q=is%3Aopen+is%3Aissue), as well as [resolved issues](https://github.com/firebase/FirebaseUI-Android/issues?q=is%3Aissue+is%3Aclosed), to see if your issue is either already being addressed, or has been solved by someone else.

If not, please feel fre

[2018-04-26 16:53] SUPERCILEX commented on #1269
You almost gave me a heart attack! 😂 That's not a crash, right?

[2018-04-26 17:36] samtstern commented on #1269
Not a crash but definitely not good!  All that `zygote` and classloading activity will really slow things down.

[2018-04-26 18:49] snehal97 commented on #239
Thank you @samtstern  this snippet solve my error

[2018-04-26 21:28] b-fg commented on #1267
Thanks, that was precisely the solution I was already using.

[2018-04-27 03:29] SUPERCILEX commented on #1269
Definitely, but I'll take anything over the nightmare that's been the past few releases for this issue. 😉

PS: see #1271, looks like ART doesn't like our inner classes (which shouldn't happen according to the JLS specification, but 🤷‍♂️). @VladPylyp Thanks for the report, should be fixed in 3.4! 😊

[2018-04-27 07:17] royal008 opened #1272 "Error:Execution failed for task ':app:preDebugAndroidTestBuild'. > Conflict with dependency 'com.android.support:support-annotations' in project ':app'. Resolved versions for app (26.1.0) and test app (27.1.1) differ. See https://d.android.com/r/tools/test-apk-dependency-conflicts.html for details."
Welcome to FirebaseUI and thanks for submitting an issue!

Please take a look at [open issues](https://github.com/firebase/FirebaseUI-Android/issues?q=is%3Aopen+is%3Aissue), as well as [resolved issues](https://github.com/firebase/FirebaseUI-Android/issues?q=is%3Aissue+is%3Aclosed), to see if your issue is either already being addressed, or has been solved by someone else.

If not, please feel fre

[2018-04-27 10:27] Lamba92 opened #1273 "Error after every login with Google and email"
Welcome to FirebaseUI and thanks for submitting an issue!

Please take a look at [open issues](https://github.com/firebase/FirebaseUI-Android/issues?q=is%3Aopen+is%3Aissue), as well as [resolved issues](https://github.com/firebase/FirebaseUI-Android/issues?q=is%3Aissue+is%3Aclosed), to see if your issue is either already being addressed, or has been solved by someone else.

If not, please feel fre

[2018-04-27 15:35] samtstern commented on #1272
@royal008 please fill out the issue template when filing an issue.  As I can see from the issue title, this is not a FirebaseUI issue but a normal dependency issue.  If you need help solving it please try StackOverflow.

[2018-04-27 15:35] #1272 closed

[2018-04-27 16:41] Lamba92 commented on #1273
Meanwhile I edited a lot of stff in the project and the error seems gone. The main changes I think i did to mitigate the error whre add the string **fb** in the resource `facebook_login_protocol_scheme` and switch from `implementation 'com.facebook.android:facebook-android-sdk:4.20.0'` to `implementation 'com.facebook.android:facebook-login:[4,5)'`. I'm attaching the dependency tree as is now, unf

[2018-04-27 16:47] samtstern commented on #1273
@Lamba92 thanks for the update.  I am going to close this since we can't reproduce right now but if it happens again just let me know and I'll re-open it!

[2018-04-27 16:47] #1273 closed

[2018-04-27 16:58] miltonmartins opened #1274 "Firebaseui auth - does not implement interface 'android.arch.lifecycle.LifecycleOwner'"
### Step 1: Are you in the right place?

Yes

### Step 2: Describe your environment

  * Android device: Moto Maxx
  * Android OS version: 6.0.1
  * Google Play Services version: NA
  * Firebase/Play Services SDK version:  15.0.0
  * FirebaseUI version: 3.3.1

### Step 3: Describe the problem:
app crashes when starting firebaseui-auth

#### Observed Results:

[code]

#### Relevant Code:

[code]

[2018-04-27 17:49] samtstern commented on #1274
@miltonmartins can you show the `dependencies` block from your app's `build.gradle`?

[2018-04-27 18:03] miltonmartins commented on #1274
dependencies {
    implementation fileTree(dir: 'libs', include: ['*.jar'])

    implementation 'com.google.firebase:firebase-config:15.0.0'
    implementation 'com.google.firebase:firebase-core:15.0.0'
    implementation 'com.google.firebase:firebase-crash:15.0.0'
    implementation 'com.google.firebase:firebase-database:15.0.0'
    implementation 'com.google.firebase:firebase-firestore:15.0.0'

[2018-04-27 18:10] samtstern commented on #1274
Hmm I am surprised by this since `KickoffActivity` comes from `AppCompatActivity` which has implemented `LifeCycleOwner` since support lib `26.1.0`, which you have:
https://developer.android.com/topic/libraries/support-library/revisions#26-1-0

[2018-04-27 18:13] samtstern commented on #1274
@miltonmartins could you try replacing all of your `26.1.0` dependencies with `27.1.0` or `27.1.1`?

If that's not an option, add this dependency:
`implementation 'android.arch.lifecycle:runtime:1.1.0'`

[2018-04-28 03:29] jeffy2007 commented on #1256
@samtstern sorry for the late reply. I am able to build with -x javadoc flag successfully. But by the command without the flag i am still getting failure.

Thank you for the help :)

[2018-04-29 01:16] faroukcr7 commented on #84
Yes Me to I have the same probleme i want to delete only from the View (recyclerview ) and not for the database  ! any solutions  ! ?

[2018-04-29 16:57] katie1006 commented on #164
Got this crash using firebase-auth 15.0.0

[2018-04-30 08:11] j2emanue opened #1275 "email provider not linking with existing facebook account."
Regarding firebaseUI auth, i found that if an email account is already linked with facebook provider there is an error of

[code]

and that error is probably fine. but there  NO CALBACK to onActivityResults. instead i get a toast that an error has occured.

Here are the steps to reproduce:

1. login with facebook

2. logout

3. signin with email provider and use the same email as the facebook acco

[2018-05-01 09:53] adirzoari commented on #868
did you find any solution?

[2018-05-01 11:29] coalcandy opened #1276 "Stuck after Google signup"
* Android device: Asus Z017D
  * Android OS version: 8.0.0
  * Google Play Services version: 3.2.1
  * Firebase/Play Services SDK version: 15.0.0
  * FirebaseUI version: 3.3.1

(I'm new here. I hope I'm in the right place and I'm sorry if not)

I am getting a problem very similar to #182 when signing in with Google. After entering login details for google the app returns to the start screen with t

[2018-05-01 13:36] 1and1get2 commented on #1221
same error happened to me, full log as below
implementation "com.android.support.constraint:constraint-layout:1.1.0"

[code]

[2018-05-01 13:39] 1and1get2 commented on #1221
[code]

[2018-05-01 14:29] 1and1get2 commented on #1221
sorry, wrong place to be, google got me here, didn't notice it was firebase repo

[2018-05-01 15:31] samtstern commented on #1276
@coalcandy does this seem like it could be https://github.com/googlesamples/google-services/issues/358 ?

[2018-05-02 07:59] coalcandy commented on #1276
@samtstern Hi there! Yes, that's exactly the same problem. Thanks for directing me. I missed that thread.

[2018-05-02 09:56] anuj-njoshi opened #1277 "Could not find method getCompileConfiguration() for arguments []"
I am getting following error when building  app.
Could not find method getCompileConfiguration() for arguments [] on object of type com.android.build.gradle.internal.api.ApplicationVariantImpl
I am working on ionic 1  android app development.
When i faced firebase conflict version issue  i did following changes in project.Properties

[code]

 dependencies {
        classpath 'com.android.tools.bui

[2018-05-02 11:41] AnkitTailoredTech commented on #689
I have the same issue, and I do not have proguard enabled. Now any clue guys ?

[2018-05-02 16:55] samtstern commented on #1277
@anuj-njoshi sorry I don't know anything about Cordova or Ionic, we don't officially support those platforms when using FirebaseUI for Android since the error surface is so large.  Please try asking this question on StackOverflow, good luck!

[2018-05-02 16:55] #1277 closed

[2018-05-02 16:56] samtstern commented on #1276
@coalcandy closing in favor of the other issue, thanks for following up.

[2018-05-02 16:56] #1276 closed

[2018-05-02 22:33] samtstern opened #1278 "Fatal Crash on Sign out: twitter not initialized"
### Step 2: Describe your environment

  * FirebaseUI version: 3.4.0-dev

### Step 3: Describe the problem:

#### Steps to reproduce:

  1. Sign in with Facebook
  2. Close app
  3. Open app again
  4. Hit sign out button in `SignedInActivity`

#### Observed Results:

[code]

#### Expected Results:

  * Signing out...

#### Relevant Code:

[code]

[2018-05-03 03:46] stwasant commented on #1230
I have the same error after updating the gradle version to 4.4 and android plugin 3.1.2. I can't found the solution for this. Anybody can found how to fix this error?

**# > Build.gradle project**

`apply plugin: 'com.android.application'
apply plugin: 'io.fabric'

repositories {
    maven { url 'https://maven.fabric.io/public' }
}
android {
    compileSdkVersion 27
    defaultConfig {
        app

[2018-05-03 05:42] gelodgreat opened #1281 "Proguard breaks on the latest update."
![image](https://user-images.githubusercontent.com/20021423/39561363-b510f0ca-4ed7-11e8-9678-6c6e23124544.png)

[2018-05-03 05:45] SUPERCILEX commented on #1281
We don't support 16.0.0 yet, sorry. Speaking of, @samtstern do we want to break compatability too in 3.4 or bump up to 4.0? And do we want to keep unified versions (I'm in favor since it's a relatively simple project)?

[2018-05-03 06:04] gelodgreat commented on #1281
so should i downgrade to 15.0.0?

[2018-05-03 07:28] heliomartins commented on #1230
I was working just fine, and suddenly I got this same error.

Apparently, Firebase had just released a new version **15.0.2** to some of their libraries.
I was using 15.0.0 and updated to the latest and my project worked again.

Hope this helps.

[2018-05-03 08:14] Feramance opened #1282 "Grammar issue on FirebaseUI docs"
There's a grammar mistake in the bullet point letting users know where to report an issue:

If you find **AND** issue in FirebaseUI and would like to report it, use the GitHub issue tracker.

That and is meant to be an **AN**

Regards,
Feramance

[2018-05-03 10:53] qbait commented on #1230
After updating to `15.0.2` I'm getting
`Failed to resolve: com.google.android.gms:play-services-auth:15.0.2`
...

[2018-05-03 10:58] heliomartins commented on #1230
Thanks for the feedback @qbait, would you mind having a look at this link?

https://firebase.google.com/support/release-notes/android

Apparently, for **auth** you should use the `com.google.firebase:firebase-auth:15.1.0`. Would you mind trying it again!?

[2018-05-03 13:33] Madonahs commented on #1230
I will support @heliomartins  after i updated my error did disappear.  @stwasant  Hope it works for you too. Happy coding.

[2018-05-03 13:46] stwasant commented on #1230
@Madonahs  Thank you I hope too.

[2018-05-03 14:48] SUPERCILEX commented on #1281
Yes, it's going to crash at runtime anyway.

[2018-05-03 14:51] SUPERCILEX commented on #1282
In what file is this?

[2018-05-03 14:54] samtstern commented on #1281
@gelodgreat as @SUPERCILEX said, we have some work to do before `16.0.0` will work with FirebaseUI.

[2018-05-03 14:54] #1281 closed

[2018-05-03 15:04] samtstern opened #1283 "[Discuss] New Firebase / Play services SDK versioning"
@SUPERCILEX opening this issue as a discussion thread.

Starting with version `15.0.0`, the various Firebase / Play services SDKs have been decoupled and are now free to have their own, semantic version numbers.  This can be seen in the release on 5/2/2018 where some modules went to `15.0.2`, some to `15.1.0`, and some to `16.0.0` depending on the changes they were shipping.

Some big changes due

[2018-05-03 15:12] Feramance commented on #1282
It’s in the following link at the bottom of the page under next steps: https://firebase.google.com/docs/auth/android/firebaseui

Regards,
Shaun Agius

From: Alex Saveau
Sent: 03 May 2018 16:51
To: firebase/FirebaseUI-Android
Cc: Feramance; Author
Subject: Re: [firebase/FirebaseUI-Android] Grammar issue on FirebaseUI docs(#1282)

In what file is this?
—
You are receiving this because you authored t

[2018-05-03 15:17] samtstern commented on #1282
@Feramance thanks, I'll get that fixed over there.

[2018-05-03 15:17] #1282 closed

[2018-05-03 16:50] Edison4mobile commented on #1230
I have updated firebase messaging, storage, core and crash version as 15.0.2.
And this is disappeared.

[2018-05-03 19:51] SUPERCILEX commented on #1283
@samtstern Wow, thanks for the super detailed explanation! I'm assuming this will be explained in an I/O too, but I'm all for getting the early scoop. 😉

Looks like we're on the same page! I was also thinking it's time to get rid of all the deprecated auth stuff so 4.0 sounds great. Do you think we should turn 3.4 into 4.0? That makes sense to me since we'd be shipping the paging stuff, making the

[2018-05-03 20:18] samtstern commented on #1283
Yeah I am thinking `3.4.0` can become `4.0.0` since one of the major features is paging and it seems silly to release a new Firestore feature against an old major version SDK.

Also don't expect much noise about this at I/O since it's a pretty niche topic, but here's a blog post explaining some more:
https://android-developers.googleblog.com/2018/05/announcing-new-sdk-versioning.html

[2018-05-03 20:21] samtstern opened #1284 "Separate version numbers for each of the play services / firebase libraries"
Context #1283

We need to get rid of our one version number and have a separate one for each play / firebase library we use.

[2018-05-04 01:20] SUPERCILEX opened #1287 "Add documentation to paging builder"
@samtstern Whoops, this one slipped us by. Do you want to take it?

[2018-05-04 02:16] fetching commented on #1230
Thank you @heliomartins !   I was also getting the "Program type already present" error. Following your advice of the [Firebase Release Notes](https://firebase.google.com/support/release-notes/android) pertaining to a release yesterday I upgraded some Firebase libraries and the error went away.

For reference here are the versions I'm using and my app compiles and deploys again.

App Gradle:

[2018-05-05 09:41] aqeelmashkraft16 commented on #1277
change this line
classpath 'com.google.gms:google-services:+'
to
classpath 'com.google.gms:google-services:3.2.1'
in file  android-FCMPlugin.gradle
is worked for me

[2018-05-05 09:53] FajarKhan opened #1289 "Wierd behaviour during shared element animation"
I'm adding shared element animation in `onclick` of item like this:
[code]
Everything works prefect except the exit animation, When I return back to page the animation ends different position. This is only happening to the Recyclerview itemclick where i have added `FirestoreRecyclerAdapter`. all other RecyclerView works fine with animation ( I have four RecyclerView which is not using fire base da

[2018-05-06 02:46] j2emanue commented on #1275
dont close this yet. let me try again to give you steps. i'll grab the updates that you guys up in past few days also. will report back soon.

[2018-05-07 14:36] Codec-Github commented on #204
i removed setHasFixedSize() but when i run my app( firebase chat app) it shows only the first Message.
I'm confused because i found by debugging that onBindViewHolder() runs exactly the same number of times as it should.

for example: i am having total 4 messages in a chat then onBindViewHolder() runs 4 times but i see only the first message of chat in RecyclerView.

Please Help.

[2018-05-07 16:08] samtstern commented on #1274
@miltonmartins going to close this one since it has been inactive for 10 days an I can't reproduce.  Let me know if you want to continue and we can re-open it.

[2018-05-07 16:08] #1274 closed

[2018-05-07 16:09] samtstern commented on #1289
@FajarKhan can you show the code where you initialize the recycler adapter?  Where (if anywhere) do you call start/stop listening?

[2018-05-07 17:29] j2emanue commented on #1275
do you guys recommend i fork this repo or Alex's if i need the most recent changes ?

[2018-05-07 17:56] samtstern commented on #1275
What changes are you looking for specifically?

[2018-05-07 17:59] SUPERCILEX commented on #1275
There are actually [snapshot builds](https://github.com/firebase/FirebaseUI-Android/blob/master/README.md#snapshot-builds) now, so unless you need the advanced account linking, those should cover it. 👍

[2018-05-07 18:00] CUET-sajib10 commented on #1272
I solved this problem by changing in app.gradle as following -
Replacing
implementation 'com.android.support:appcompat-v7:26.0.1'
wihth
implementation 'com.android.support:appcompat-v7:27.1.1'

[2018-05-07 20:52] matteobucci opened #1291 "Weird crash on FirebaseArray.onChildAdded"
I've just received on Crashlytics a crash that doens't seem to be my code fault but I don't understand what could be the reason of it.

This is the exception:
Fatal Exception: java.lang.IllegalArgumentException
Key not found

This the stack:
com.firebase.ui.database.FirebaseArray.onChildAdded (Unknown Source)
com.firebase.ui.database.FirebaseArray.onCreate (Unknown Source)
com.google.android.gms.i

[2018-05-07 22:07] kiptoomm opened #1292 "How to require and validate user profile fields?"
Unlike the OP in #467, my use case actually requires the user to specify a first and last name. I understand that with email sign-in (and most of the other sign in methods), the user's displayName is enabled by default (looks like since v3.2). However, most providers (Gmail, Twitter, etc) don't require their users to have a particular name format, so parsing the displayName by splitting on space,

[2018-05-07 22:12] samtstern commented on #1292
@kiptoomm we don't have anything in FirebaseUI to make sure that the profiles from social providers are filled out.  So yes you'd have to build this yourself.

One of the features we've had on the roadmap since forever is to build in an account management UI:
https://github.com/firebase/FirebaseUI-Android/issues/235

So I think if this request ever gets done, it will be part of that effort.  Thank

[2018-05-07 22:12] #1292 closed

[2018-05-08 01:17] SUPERCILEX commented on #1275
Oh wait, you filed https://github.com/SUPERCILEX/FirebaseUI-Android/issues/27! So actually, this turns out to be a major oversight on my part that primarily affects my fork, but would have nipped us in the butt pretty bad later on had you not caught it. So... thanks! ❤️ I've already included a fix in `f0a391a50b` of my fork and you can view the PR: #1293.

[2018-05-08 03:49] samtstern commented on #1275
#1293 is merged so there should be a 4.0.0 SNAPSHOT build availabile with the fix in a half hour or less.  Would love if you could confirm that it fixes your problem.

[2018-05-08 03:55] j2emanue commented on #1275
i already put the changes in manually since it was a not big changes. its working now.

[2018-05-08 03:55] #1275 closed

[2018-05-08 06:20] curiousily opened #1294 "Lock orientation to portrait when signing using Facebook"
FirebaseUI merges it's manifest with that of your app (which supports only portrait mode). During login the users can rotate the device and enter our app in landscape mode. Is it possible to force the Facebook login to be only in portrait mode? How about Google+?

[2018-05-08 15:48] samtstern commented on #1291
Here are the relevant bits of code from `FirebaseArray`:

[code]

So somehow we're getting an `onChildAdded` event where the `previousChildKey` is not something we have seen before.

@matteobucci how often do you see this crash?

[2018-05-09 06:17] puf commented on #1291
The only thing I can think of here is a race condition between the optimistic client-side events and the server-triggered reconciliation events. But I've never seen anything like that before.

@matteobucci Can you indeed share a bit more on the frequency and context of this error?

[2018-05-09 14:16] iamsudz commented on #1277
Error:A problem occurred configuring project ':app'.

     Required by:
         FIRENOTIFY:app:unspecified

my app name is FIRENOTIFY

[2018-05-09 19:07] samtstern opened #1296 "Reconsider an RTDB paging adapter"
Based on the compromises we made for Firestore, I think we could make an RTDB paging adapter with equivalent functionality.  Previous discussions focused on the difficulty of managing realtime listeners but that's not a concern at the moment.

(Related #17)

[2018-05-09 19:07] samtstern commented on #17
The Firestore paging adapter is still coming in the next version (renamed `4.0.0`) and I have opened #1296 to discuss if we can apply the same techniques to get an RTDB adapter.

[2018-05-10 07:06] j2emanue commented on #1242
guys, its me again. so i noticed one strange thing.  my business has both website and app but use same firebase authentication table.   so i signed up for a new account on our website as an email provider.  checked firebase console and saw the account there as email provider. waited almost 2 hours..... then logged into app with email provider, but to my surprise it found it as a new signup.  so i

[2018-05-10 08:55] FajarKhan commented on #1289
@samedson Hi, Thanks for quick response. Here is the code where initialize the recycler adapter.

[code]

and I call start/stop listening like this in the same activity.

[code]

[2018-05-10 10:58] j2emanue opened #1297 "Google sign -in button - "Use another account" does not provide a call back or consent form"
here are the steps to reproduce the issue:

1. click on google signin Button.
2. choose "use another account"
3. sign in with the new account and this should bring you back to the app.
4. app only shows dark overlay and consent form or callback is not working.

then if i touch the screen the dark overlay goes away, and if i touch facebook button i get a toast saying an error has occured. at this t

[2018-05-10 13:48] samtstern commented on #1297
Thanks for reporting.  The main place we're tracking this issue is here:
https://github.com/googlesamples/google-services/issues/358

This requires an update to the Google Play services APK on your phone.  Not something we can fix with an SDK bump.

[2018-05-10 13:48] #1297 closed

[2018-05-10 16:32] #1287 closed

[2018-05-10 18:59] SafeSoft-tlt commented on #1277
Is worked for me!

[2018-05-10 22:13] steurt commented on #17
So the new `PagedList` with corresponding `PagedListAdapter` was announced by Google as part of the Paging library of Jetpack.

Maybe Firebase UI's Paging adapter shoud support this by offering `DataSource` implementations?

[2018-05-11 03:53] Xiaojuanmao commented on #1297
Which google play service version fix this issues, in my pixel, I update to the latest version, the same problem happens. My google play service version is 12.6.73(090400-194189626)

[2018-05-11 16:49] samtstern commented on #1297
@Xiaojuanmao this issue is still not fixed.

[2018-05-11 16:56] samtstern commented on #1289
@FajarKhan could you try calling `startListening()` and `stopListening()` in `onCreate()` and `onDestroy()` instead?

[2018-05-11 20:17] samtstern opened #1299 "[Internal] Document branching strategy"
We have some new contributors (like @lsirac) and our branching strategy is not at all clear from the `README`.  We should document it in the `CONTRIBUTING` file so that people don't end up doing large amounts of work off of `master` and end up with terrible merges.

[2018-05-13 15:37] stwasant commented on #1230
Thank you everybody I upgrade my firebase version and Google services like @fetching  and work. :)

Here my last version code:
# Final Code
## Build Gradle Project

buildscript {
    repositories {
        jcenter()
        mavenCentral()
        maven { url 'https://maven.fabric.io/public'

        }
        google()
    }
    dependencies {
        classpath 'com.android.tools.build:gradle:3.1.2

[2018-05-13 16:14] stwasant commented on #1230
I found how to fix the warning messages "Warning: The rule `-keep public class *extends java.lang.annotation.Annotation {"

In my Graddle App:
Commented this line:
//multiDexEnabled true

Reference link: [https://stackoverflow.com/questions/49518115/android-studio-3-1-warning-the-rule-keep-public-class-extends-java-lang-anno](url)

[2018-05-14 13:34] praslnx8 commented on #790
Phone auth works in emulator but only with testing phone numbers.
Please read the stackoverflow answer [here](https://stackoverflow.com/a/50331596/3871007)

[2018-05-14 15:07] samtstern commented on #1256
@jeffy2007 going to close this issue for now since we don't actually use the Javadoc anyway so I don't see `-x javadoc` as being a bad experience and I don't have a computer to reproduce this on.

[2018-05-14 15:07] #1256 closed

[2018-05-15 08:49] koushikchoudhury0 commented on #1297
I use play services 15.0.1 and this problem exists !

[2018-05-16 00:52] mattlavallee commented on #1104
@samtstern - any update on the release of this bug fix? It's been about 1.5 months since the last comment here

[2018-05-16 01:02] SUPERCILEX commented on #1104
Yeah, this has been fixed in 3.3.

[2018-05-16 09:03] FajarKhan commented on #1289
@samtstern Thanks! It fixed the issue.

[2018-05-16 09:03] #1289 closed

[2018-05-17 01:13] samtstern commented on #1245
The fix for this has been merged into 4.0.0, now just waiting for translations to come through.  Committed to getting this released before the deadline.

[2018-05-17 10:38] curiousily commented on #1242
Hey @samtstern,

Any progress on this issue? This really degrades the experience for our users.

[2018-05-17 15:27] samtstern commented on #1245
We believe these changes are compliant.

[2018-05-18 03:13] diousk commented on #1291
Hi @puf ,
I have a similar issue with "onChildRemoved" (and also with "onChildAdded")
`Fatal Exception: java.lang.IllegalArgumentException
Key not found
com.firebase.ui.database.FirebaseArray.getIndexForKey (FirebaseArray.java:121)
com.firebase.ui.database.FirebaseArray.onChildRemoved (FirebaseArray.java:85)

Fatal Exception: java.lang.IllegalArgumentException
Key not found
com.firebase.ui.databas

[2018-05-18 18:18] maillouxc commented on #563
FWIW, I'd really love to see this implemented. If I'm reading the comments here correctly, it seems like the work was already done for Android, but never released because it wasn't available on the other platforms. Is it possible to just push the release out for android?  I would implement the other devices myself if I had the time, but it seems like a shame to have this stuff ready to go but just

[2018-05-19 00:26] pwpriority commented on #486
Actually Account Manager has two UI components (or three if you separate signin/signup) plus the UI in the device settings/accounts. I would like to know how to implement this feature as well

[2018-05-19 21:38] brownninjaturtle opened #1305 "Firebase reading and writing works on one phone but not on another"
I have an app where I read and write from the firebase database (currently using 15.0.0). Everything works fine with a nexus phone but when using a different phone (moto g5), I am unable to read or write to the database. I have tried upgrading the dependency version to the latest with no success. I have had success with database communication using android 7.0 emulated and 8.0 on an actual device